//
// Base
// ==================================================

:root {
  background-color: getColor(background, body);
}

body {
  margin: 0; 
}

img {
  height: auto;
  max-width: 100%;
}



:root {
  // Secondary Colors
  --color-secondary: hsl(212, 29%, 20%);

  // Tertiary Colors
  --color-tertiary: hsl(349, 99%, 50%);
  --color-tertiary-mid: hsl(349, 99%, 65%);
  --color-tertiary-light: hsl(349, 99%, 90%);
}

&::-webkit-scrollbar {
  height: 10px;
}

&::-webkit-scrollbar-track {
  background: var(--color-tertiary-light);
}

&::-webkit-scrollbar-thumb {
  background-color: var(--color-tertiary-mid);
}