//
// Base
// ==================================================

:root {
  background-color: getColor(background, body);
  border-top: 5px solid getColor(background, dark);
  line-height: 1.55;
  text-rendering: optimizeLegibility;

  @media (--small) {
    font-size: calc(#{$font-size}px + .35vw);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
         screen and (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  margin: 0; 
  
  // Modifiers
  &.-no-scroll { overflow: hidden; }
}

main { margin-top: 0; }

img {
  height: auto;
  max-width: 100%;
}

[container="narrow"] { max-width: $container-width-narrow; }

[container="narrower"] { max-width: $container-width-narrower; }
