//
// Base
// ==================================================

:root {
  background-color: getColor(background, body);
  border-top: 5px solid getColor(background, dark);
  font-weight: 300;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  @media (--small) {
    font-size: calc(#{$font-size}px + .3vw);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // Modifiers
  &.-no-scroll { overflow: hidden; }
}

[container] {
  flex: 1;
  overflow: hidden;
  width: 100%;
}

[container="narrow"] { max-width: $container-width-narrow; }

main { margin-top: 0; }

img {
  height: auto;
  max-width: 100%;
}
