//
// Base
// --------------------------------------------------

// Font size for small devices
$font-size: 16;

// Font size for big devices
$font-size-secondary: 18;

// Tracking
$letter-spacing: 0.05em;

// Font families
$font-primary: "source-sans-pro", sans-serif;
$font-secondary: 'Inter var', sans-serif;
$font-mono: "Consolas", monospace;
$font-print-primary: "Georgia", "Times New Roman", "Times", serif;
$font-print-secondary: "Georgia", "Times New Roman", "Times", serif;

// Enable margins to all the elements
// except the first one in each nesting level
$automargin: false;

// ^ How much margin for those elements
$block-margin: 1lh;

// Transition duration
$transition-duration: 150ms;
$transition-duration-med: 225ms;
$transition-duration-long: 300ms;

// Custom media queries
// Use as @media (--medium) { … }
@custom-media --small (width >= 480px);
@custom-media --small-max (width <= 479px);
@custom-media --medium (width >= 768px);
@custom-media --medium-max (width <= 767px);
@custom-media --large (width >= 960px);
@custom-media --extra-large (width >= 1120px);
@custom-media --very-large (width >= 1440px);

// Spacing variables
$spacing-xxs: calc(0.25lh + .2vw);
$spacing-xs: calc(0.5lh + .2vw);
$spacing-s:  calc(1lh + .2vw);
$spacing-m:  calc(2lh + .2vw);
$spacing-l:  calc(3lh + .2vw);
$spacing-xl: calc(4lh + .2vw);
$spacing-xxl: calc(5.5lh + .2vw);

// Section spacing
$spacing-section-half: 3rem;
$spacing-section: 6rem;

// Border radius
$border-radius: 3px;


//
// Type Scale
// --------------------------------------------------

// Suggested ratios
// Source: http://type-scale.com/
$_minor-second:     1.067;
$_major-second:     1.125;
$_minor-third:      1.200;
$_major-third:      1.250;
$_perfect-fourth:   1.333;
$_augmented-fourth: 1.414;
$_perfect-fifth:    1.500;
$_golden-ratio:     1.618;

// Ratio for primary scale
$scale-ratio: $_minor-third;

// Ratio for secondary scale
$scale-ratio-secondary: $_golden-ratio;


//
// Font Weights
// --------------------------------------------------

$fontWeight-normal:   400;
$fontWeight-bold:     600;


//
// Grid
// --------------------------------------------------

// Enable grid styles
$enable-grid: true;

// Enable x-*, sm-*, md-*, lg-*, xl-* columns and offsets
$full-grid: false;

// Max width for container
$container-width: 1260px;
$container-width-narrow: 1020px;
$container-width-narrower: 768px;

// Gutter size
$gutter: 2rem;

// Number of columns in a row
$num-columns: 12;

// Prefix for attributes
$prefix: '';

// Create columns and offsets above this breakpoint
$breakpoint: --medium;

//
// Color Palette
// --------------------------------------------------
// Use the getColor() function to use those values in
// your stylesheets. Example: getColor(base, primary)

$colors: (
  base: (
    "primary":      #4d4d4d,
    "selection":    #EBE1D3,
    "lines":        #e0e0e0,
    "linesDark":    #32373d,
    "splash":       #FE4365,
    "splash-hover": #f3012d
  ),

  text: (
    "primary":   #2f2f2f,
    "secondary": #666,
    "heading":   #333,
    "inverted":  #fff,
    "activeLink": #1a1a1a
  ),

  background: (
    "dark":  #32373d,
    "light": #fffbf1,
    "body":  #ffffff,
    "masthead": #f3f3f3
  ),

  social: (
    "dribbble": #ea4c89,
    "behance": #1769ff,
    "github": #333333,
    "linkedin": #0077b5
  ),

  flexicution: (
    "header": darken(#32373d, 7.5%),
    "border": darken(#f7f7f7, 5%)
  ),

  state: (
    "muted":   #eee,
    "success": #10a887,
    "warning": #F17F42,
    "error":   #da3c3c
  ),

  blue: (
    "darker":  #1573b6,
    "dark":    #1e80c6,
    "base":    #2b90d9,
    "light":   #3fa2e9,
    "lighter": #4eb1f9
  ),

  green: (
    "darker":  #089073,
    "dark":    #0b9d7d,
    "base":    #10a887,
    "light":   #1eb896,
    "lighter": #28ceaa
  ),

  red: (
    "darker":  #653131,
    "dark":    #b73333,
    "base":    #da3c3c,
    "light":   #f25a5a,
    "lighter": #fa8181
  ),

  gray: (
    "darker":  #333333,
    "dark":    #4d4d4d,
    "base":    #666666,
    "light":   #808080,
    "lighter": #999999
  )
);
