//
// Typography
// ==================================================

//
// Paragraphs
// ----------

p {
  font-variant-ligatures: normal;

  // Modifiers
  &.-large { font-size: typeScale(4); }

  &.-small-heading {
    font-variant: all-small-caps;
    letter-spacing: .1rem;
  }
}


//
// Lists
// -----

// Hanging lists for readability
ul, ol {
  @media (--medium) {
    padding-left: 0;
  }
}

ol {
  @media (--medium) {
    margin-left: -1rem;
  }
}

li {
  &:not(:last-child) { margin-bottom: calc(0.15lh + .1vw); }
}


//
// Links
// -----

a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-decoration-skip: ink;
  }

  // Links in paragraphs
  p & {
    font-weight: $fontWeight-normal;
    text-decoration: underline;
    text-decoration-skip: ink;
  }

  // Modifiers
  &.-cta {
    color: getColor(base, splash);

    &:hover { color: getColor(base, splash-hover); }
  }
}


//
// Headings
// --------
h1, h2, h3, h4, h5, h6 {
  font-weight: $fontWeight-normal;
  line-height: 1.2;

  a:hover {
    color: initial;
    text-decoration: underline;
    text-decoration-skip: ink;
  }
}

h1, h2, h3 { margin: $spacing-xs 0; }


//
// Blockquotes
// -----------

blockquote {
  color: getColor(text, secondary);
  border-left: 5px solid getColor(base, lines);
  font-style: italic;
  padding-bottom: $spacing-xxs;
  padding-top: $spacing-xxs;
  transition: border-left-color $transition-duration-long;

  &:hover { border-left-color: getColor(base, splash); }
}


//
// Code
// ----

code {
  background-color: (background, light);
  border: 1px solid getColor(base, lines);
  padding: .1rem .5rem;
  vertical-align: 5%;
}


//
// Tables
// ------

table {
  margin-bottom: $spacing-s;
  margin-top: $spacing-s;

  thead {
    padding-bottom: $spacing-xs;
    padding-top: $spacing-xs;
  }

  td {
    line-height: inherit;
    padding-bottom: $spacing-xs;
    padding-top: $spacing-xs;
  }
}

tr { border-bottom: 1px solid getColor(base, lines); }


//
// Global OpenType Modifiers
// -------------------------

.-small-caps {
  font-feature-settings: "smcp";
  font-variant-caps: small-caps;
}

.-all-small-caps {
  font-feature-settings: "c2sc", "smcp";
  font-variant-caps: all-small-caps;
}

.-lining-numbers {
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
}

.-proportional-numbers {
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

.-fraction {
  font-feature-settings: "frac";
  font-variant-numeric: diagonal-fractions;
}

.-ordinal {
  font-feature-settings: "ordn";
  font-variant-numeric: ordinal;
}
