//
// Typography
// ==================================================

//
// Paragraphs
// ----------
//
p {
  margin-top: 0;
  font-variant-ligatures: normal;

  // Modifiers
  &.-secondary { color: getColor(text, secondary); }

  &.-large { font-size: typeScale(4); }

  &.-small {
    color: getColor(text, secondary);
    font-size: typeScale(.5);
  }

  &.-small-heading {
    font-variant: all-small-caps;
    letter-spacing: .02rem;
  }

  &.-content-heading {
    @extend p.-secondary;
    @extend p.-small-heading;

    margin-top: $spacing-l;
  }
}


//
// Lists
// -----

// Hanging lists for readability
ul, ol {
  @media (--medium) {
    padding-left: 0;
  }
}

ol {
  @media (--medium) {
    margin-left: -1rem;
  }
}

li {
  &:not(:last-child) { margin-bottom: calc(0.15lh + .1vw); }
}


//
// Links
// -----

a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  // Links in paragraphs
  p & {
    font-weight: $fontWeight-normal;
    text-decoration: underline;
  }

  // Modifiers
  &.-cta {
    box-shadow: inset 0 -3px 0 0 getColor(base, splash);
    transition: box-shadow $transition-duration;

    &:hover {
      box-shadow: inset 0 -0.5em 0 0 getColor(base, splash);
      text-decoration: none;
    }
  }

  &.-arrow {
    &:after { content: ' →'; }
  }
}


//
// Headings
// --------
h1, h2, h3, h4, h5, h6 {
  @supports (font-variation-settings: normal) {
    font-family: 'Inter var', sans-serif;
  }
}

h1, h2, h3, h4 {
  font-weight: 730;
  line-height: 1.2;
  margin-top: 0;

  a:hover {
    color: initial;
    text-decoration: underline;
  }

  // Modifiers
  &.-xl {
    font-weight: 730;

    @media (--large) {
      font-size: typeScale(9);
      letter-spacing: -.035em;
    }
  }

  &.-secondary { color: getColor(text, secondary); }

  &.-bottom-border {
    border-bottom: 2px solid getColor(base, lines);
    padding-bottom: $spacing-xs;
  }
}

h1 {
  font-size: typeScale(7);
  letter-spacing: -.04em;

  @media (--medium) {
    font-size: typeScale(9);
  }
}

h2 {
  letter-spacing: -.02em;
  margin-bottom: 0;
  margin-top: 0;
  font-size: typeScale(6);
}

h3 {
  font-variant: all-small-caps;
  line-height: 1.1;
}

h4,
.-h4 {
  font-size: typeScale(3);
  font-weight: 350;
}


//
// Blockquotes
// -----------

blockquote {
  color: getColor(text, secondary);
  border-left: 5px solid getColor(base, lines);
  font-style: italic;
  padding-bottom: $spacing-xxs;
  padding-top: $spacing-xxs;
  transition: border-left-color $transition-duration-long;

  &:hover { border-left-color: getColor(base, splash); }
}


//
// Code
// ----

code {
  background-color: (background, light);
  border: 1px solid getColor(base, lines);
  padding: .1em .4em;
}


//
// Tables
// ------

table {
  margin-bottom: $spacing-s;
  margin-top: $spacing-s;

  thead {
    padding-bottom: $spacing-xs;
    padding-top: $spacing-xs;
  }

  td {
    line-height: inherit;
    padding-bottom: $spacing-xs;
    padding-top: $spacing-xs;
  }
}

tr { border-bottom: 1px solid getColor(base, lines); }


//
// Global OpenType Modifiers
// -------------------------

.-small-caps {
  font-feature-settings: "smcp";
  font-variant-caps: small-caps;
}

.-all-small-caps {
  font-feature-settings: "c2sc", "smcp";
  font-variant-caps: all-small-caps;
}

.-proportional-numbers {
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

.-fraction {
  font-feature-settings: "frac";
  font-variant-numeric: diagonal-fractions;
}

.-ordinal {
  font-feature-settings: "ordn";
  font-variant-numeric: ordinal;
}
