@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/**
 * Shared
 */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --midgray: #909090;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --light-yellow: #fbf4e6;

  --font-family-mono: 'Space Mono', monospace;
}


/**
 * Global
 */
* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--white);
  color: var(--darkgray);
  font-family: -apple-system, system-ui, sans-serif;
  margin: 0;
  padding: 0;
}


/**
 * Elements
 */

/* Paragraph */
p:last-child {
  margin-bottom: 0;
}

p {
  line-height: 1.45;
}

/* Link */
a[href] {
  color: var(--blue);
}

a[href]:visited {
  color: var(--navy);
}

/* Main */
main {
  padding: 1rem 1.5rem;
}

main :first-child {
  margin-top: 0;
}

/* Media */
img,
video { 
  max-width: 100%;
}

/* Table */
table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

/* Code */
pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

code {
  word-break: break-all;
}

p code { 
  background-color: var(--light-yellow);
  border-radius: 3px;
  font-size: .75rem;
  padding: .25rem .35rem;
  white-space: nowrap
}

/* Figures */
figure { 
  margin: 0;
}

figcaption { 
  font-size: .75rem;
  font-style: italic;
  line-height: 1.5;
  margin-top: .5rem;
}

/* Blockquote */
blockquote { 
  border-left: 3px solid var(--blue);
  margin-left: 1.5rem;
  padding-bottom: .75rem;
  padding-left: 1.5rem;
  padding-top: .75rem;
}


/**
 * Highlighting 
 */
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* Allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* Avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}


/**
 * Global Header 
 */
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}

.header-left { 
  display: flex;
  flex-direction: column;
}

.header-logo {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  margin-top: 0;
}

.header-right { 
  text-align: right;
}

.header-description { 
  font-size: .875rem;
  margin-top: 0;
  max-width: 35ch;
}

.header-logo :link:not(:hover) {
  text-decoration: none;
}


/**
 * Navigation 
 */
.nav {
  font-size: .875rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
}

.nav-item:not(:first-of-type) { 
  margin-left: 1.5rem;
}

.nav-item.-cta { 
  border-left: 1px solid var(--midgray);
  font-weight: bold;
  padding-left: 1.5rem;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}


/**
 * Posts list 
 */
.postlist { 
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
}

.postlist + .postlist { 
  margin-top: 5rem;
}

.postlist-headline { 
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.postlist-headline h1 { 
  margin-bottom: 0;
}

.postlist-headline p { 
  margin-top: 0;
}

.postlist-item.-intro { 
  grid-area: 1 / span 2;
}

.postlist-item-description { 
  margin-top: 0;
}

.postlist-date {
  color: var(--darkgray);
  font-size: 0.75rem;
  word-spacing: -0.5px;
}

.postlist-title {
  margin-bottom: 0;
}

.postlist-link { 
  text-decoration: none;
}

.postlist-header { 
  flex: 1;
  margin-bottom: 1.5rem;
}

.postlist-lede { 
  margin-top: .5rem;
}

.postlist-item-active .postlist-title {
  font-weight: bold;
}

.postlist-title:hover { 
  text-decoration: underline;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.postlist-meta { 
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: .75rem;
}

.postlist-type { 
  color: var(--darkgray);
  font-family: var(--font-family-mono);
  font-size: .875rem;
  font-variant: all-small-caps;
}

.postlist-date { 
  color: var(--midgray);
}

.postlist-tags { 
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.postlist-tag { 
  display: inline-block;
}

.postlist-tag:not(:first-of-type) { 
  margin-left: 0.8em;
}

.postlist-toggle { 
  border-bottom: 1px solid var(--navy);
  color: var(--navy);
  font-size: .75rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  padding-bottom: .25rem;
}

.postlist-toggle select { 
  background: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--gray);
  box-shadow: none;
  font-size: .875rem;
  width: 50px;
}

/* Modifiers */
.postlist.-stack .postlist-item + .postlist-item {
  margin-top: 3rem;
}

.postlist.-journey { 
  max-width: 1260px;
}

.postlist.-journey .postlist-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 0;
}

.postlist.-journey .postlist-item {
  border: 1px solid var(--navy);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.65;
  min-height: 150px;
  padding: 1.25rem 1.5rem;
}


/** 
 * Tags 
 */
.post-tag {
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 0.25em; 
  color: var(--darkgray);
  display: inline-flex;
  font-size: 0.6875em;
  justify-content: center;
  line-height: 1.8;
  padding: 0.09090909090909em 0.3636363636364em;
  text-decoration: none;
  text-transform: uppercase;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}

a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}

.postlist-item > .post-tag {
  align-self: center;
}


/**
 * Direct Links / Markdown Headers 
 */
.direct-link {
  font-family: sans-serif;
  font-style: normal;
  margin-left: .1em;
  text-decoration: none;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}


/**
 * Blog Post
 */
.post { 
  margin-left: auto;
  margin-right: auto;
  padding-top: 7.5rem;
  max-width: 70ch;
}

.post time { 
  font-size: .875rem;
}

.post h2 { 
  margin-top: 2.5rem;
}

.post h3 { 
  margin-top: 2rem;
}

.post h2 + h3 { 
  margin-top: 0;
}

.post li:not(:first-of-type) { 
  margin-top: .5rem;
}

.post ul ul { 
  margin-top: .5rem;
}

.post-header {
  margin-bottom: 2rem;
}


/**
 * Codepen 
 */
.codepen { 
  border: 1px solid var(--darkgray);
  padding: 1rem 1.5rem;
}


/** 
 * Footnotes 
 */
.footnotes { 
  font-size: .875rem;
}

.footnote-item:not(:first-of-type) { 
  margin-top: 1rem;
}


/** 
 * Side-by-side 
 */
.sideBySide { 
  display: flex;
}


/* Paragraph Styles */
p.-context { 
  --background: transparent;

  background-color: var(--background);
  /* font-size: .875rem; */
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 1.35rem 1.5rem;
  position: relative;
}

p.-context .icon { 
  background: white;
  bottom: 0;
  font-size: 1.25rem;
  height: 35px;
  line-height: 1;
  padding: .5rem;
  position: absolute;
  right: 0;
  width: 35px;
}

p.-context.-twitter { 
  --background: rgb(29 161 242 / 20%);
}

p.-context.-twitter span { 
  display: block;
  margin-bottom: 1rem;
}

p.-context.-notice { 
  --background: var(--light-yellow);
}

p.-context.-question { 
  --background: var(--lightgray);
}

p.-large { 
  font-size: 2.15rem;
  transform: translateX(-2.5vw);
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  text-align: center;
  width: calc(100% + 5vw);
}

/**
 * Page Templates
 */
.page-home { 
  margin-top: 3rem;
}