/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --light-yellow: #fbf4e6;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}

img,
video { 
  max-width: 100%;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.header {
  align-items: center;
  border-bottom: 1px dashed var(--lightgray);
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.header-left { 
  display: flex;
  flex-direction: column;
}

.header-right { 

}

.header-description { 
  font-size: .875rem;
  margin-top: 0;
  max-width: 35ch;
  text-align: right;
}

.header-logo {
  font-size: 1rem;
  margin-top: 0;
}

.header-logo :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  font-size: .875rem;
  padding: 0;
  list-style: none;
  margin: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  line-height: 1.8;
}
.postlist-date {
  color: var(--darkgray);
  font-size: 0.8125em; /* 13px /16 */
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.6875em; /* 11px /16 */
  padding: 0.09090909090909em 0.3636363636364em; /* 1px 4px /11 */
  margin-left: 0.8em; /* 8px /10 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Blog */
.tmpl-post { 
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 65ch;
}

.tmpl-post time { 
  font-size: .875rem;
}

.tmpl-post h2 { 
  margin-top: 2.5rem;
}

.tmpl-post h3 { 
  margin-top: 2rem;
}

.tmpl-post h2 + h3 { 
  margin-top: 0;
}

.tmpl-post li:not(:first-of-type) { 
  margin-top: .5rem;
}

.tmpl-post ul ul { 
  margin-top: .5rem;
}

p.-large { 
  font-size: 1.5rem;
}

/* Code */
p code { 
  background-color: var(--light-yellow);
  border-radius: 3px;
  font-size: .75rem;
  padding: .25rem .35rem;
  white-space: nowrap
}

/* Figures */
figure { 
  margin: 0;
}

figcaption { 
  font-size: .75rem;
  font-style: italic;
  line-height: 1.5;
  margin-top: .5rem;
}

/* Codepen */
.codepen { 
  border: 1px solid var(--darkgray);
  padding: 1rem 1.5rem;
}

/* Blockquote */
blockquote { 
  border-left: 3px solid var(--blue);
  margin-left: 1rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-top: .5rem;
}

/* Footnotes */
.footnotes { 
  font-size: .875rem;
}

.footnote-item:not(:first-of-type) { 
  margin-top: 1rem;
}

/* Side-by-side */
.sideBySide { 
  display: flex;
}