{# Settings #}
{% set headline = section.headline %}
{% set questions = section.questions %}

{# Markup #}
<section id="faq" class="faq container">
  <h2>
    {{ headline }}
  </h2>

  <div class="faq-accordion accordion">
    {% for item in questions %}
      {% set question = item.question %}
      {% set answer = item.answer %}

      <dl class="accordion-item">
        <dt class="accordion-header">
          <span class="accordion-headline">
            {{ question | safe }}
          </span>

          <svg class="accordion-icon" width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L11 11L21 1" stroke="#384ACF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </dt>

        <dd class="accordion-description">
          {{ answer | markdown | safe }}
        </dd>
      </dl>
    {% endfor %}
  </div>
</section>
