{# Component Options #}
{% from "partials/molecules/stack.njk" import output as stack with context %}

{% set name = 'hero' %}
{% set headline = section.headline %}
{% set subheading = section.subheading %}
{% set cta = section.cta %}

{# Markup #}
<section class="hero">
  <div class="container">
    <div class="hero-text">
      {{ stack(section, name) }}
    </div>
  </div>
</section>
