{# TODO:
    Use `modal.njk` to reduce duplicate modal markup
#}

<a data-trigger="popupVideo" href="{{ section.source }}">
  Open Video
</a>

<div class="popupVideo">
  <div class="popupVideo-container">
    <video class="popupVideo-video" controls>
      <source src="#">
    </video>
  </div>

  <button class="-flat popupVideo-close" aria-labelledby="popupVideo-close-label">
    <span id="popupVideo-close-label" class="_hidden">
      Close Video
    </span>
    
    <svg width="20" height="20" viewBox="0 0 20 20" fill="" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
      <path d="M1 1.1377L18.5 18.362" stroke="#ffffff" stroke-width="2"/>
      <path d="M1.13672 18.5L18.3611 1" stroke="#ffffff" stroke-width="2"/>
    </svg>
  </button>
</div>