<section class="styleguide container">
  <section class="styleguideCategory">
    <div class="styleguide-headline">
      <h2 class="_type-size-h3">Typography</h2>
    </div>

    <div class="styleguide-content">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>

      <h2><a href="#">Heading 2 Link <small>Helper text</small></a></h2>

      <nav>
        <ul>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </nav>

      <p>Lorem <strong>ipsum</strong> <em>dolor</em> sit <abbr title="Abbreviation">amet</abbr> sadipscing elitr <code>sadipscing</code> <kbd>elitr</kbd> sed diam <a href="">nonumy</a> eirmod tempor invidunt ut labore et dolore magna <small>small</small> aliquyam erat, sed diam voluptua. At vero eos et <s>accusam</s> et justo duo <sup>dolores</sup> et ea rebum. Stet<sub>2</sub> clita<sup>2</sup> kasd gubergren, no sea takimata sanctus est Lorem <sub>ipsum</sub> dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

      <hr>

      <blockquote>
        <p>This is a blockquote.</p>

        <footer>John Doe</footer>
      </blockquote>

      <pre><code>
  .class {
    background-color: #ccc;
  }
    </code></pre>

      <ul>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item
          <ul>
            <li>List Item</li>
            <li>List Item</li>
            <li>List Item
              <ul>
                <li>List Item</li>
                <li>List Item</li>
                <li>List Item</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>List Item</li>
      </ul>

      <ol>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item
          <ol>
            <li>List Item</li>
            <li>List Item</li>
            <li>List Item
              <ol>
                <li>List Item</li>
                <li>List Item</li>
                <li>List Item</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
      </ol>

      <dl>
        <dt>Definition</dt>
        <dd>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </dd>

        <dt>List</dt>
        <dd>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </dd>
      </dl>

      <table>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
          </tr>
        </thead>

        <tfoot>
          <tr>
            <td><strong>Total Users:</strong></td>
            <td>2</td>
            <td></td>
          </tr>
        </tfoot>

        <tbody>
          <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Jane</td>
            <td>Doe</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="styleguideCategory">
    <div class="styleguide-headline">
      <h2>Buttons</h2>
    </div>

    <div class="styleguide-content">
      <button>Button</button>
    </div>
  </section>

  <section class="styleguideCategory">
    <div class="styleguide-headline">
      <h2>Forms</h2>
    </div>

    <div class="styleguide-content">
      <form>
        <p>
          <label for="name">
            Name
          </label>

          <input type="text" placeholder="Name" />
        </p>

        <p>
          <textarea placeholder="Enter a message"></textarea>
        </p>

        <fieldset>
          <legend>
            Make a choice
          </legend>

          <label>
            Yes

            <input type="radio" name="Make a choice" value="Yes" checked="checked">
          </label>

          <label>
            No

            <input type="radio" name="Make a choice" value="No">
          </label>
        </fieldset>

        <input type="submit" class="button" value="Submit" />
      </form>
    </div>
  </section>

  <section class="styleguideCategory">
    <div class="styleguide-headline">
      <h2>Color Scheme</h2>
    </div>

    <div class="styleguide-content">
      <div class="styleguide-colors">
        <div class="styleguide-color">
          <span style="background-color: var(--color-base)"></span>
          <span><code>--color-base</code></span>
        </div>

        <div class="styleguide-color">
          <span style="background-color: var(--color-base-mid)"></span>
          <span><code>--color-base-mid</code></span>
        </div>

        <div class="styleguide-color">
          <span style="background-color: var(--color-base-light)"></span>
          <span><code>--color-base-light</code></span>
        </div>

        <div class="styleguide-color">
          <span style="background-color: var(--color-primary)"></span>
          <span><code>--color-primary</code></span>
        </div>

        <div class="styleguide-color">
          <span style="background-color: var(--color-primary-mid)"></span>
          <span><code>--color-primary-mid</code></span>
        </div>

        <div class="styleguide-color">
          <span style="background-color: var(--color-primary-light)"></span>
          <span><code>--color-primary-light</code></span>
        </div>

        <div class="styleguide-color">
          <span style="background-color: var(--color-tertiary)"></span>
          <span><code>--color-tertiary</code></span>
        </div>

        <div class="styleguide-color">
          <span style="background-color: var(--color-tertiary-mid)"></span>
          <span><code>--color-tertiary-mid</code></span>
        </div>

        <div class="styleguide-color">
          <span style="background-color: var(--color-tertiary-light)"></span>
          <span><code>--color-tertiary-light</code></span>
        </div>

        <div class="styleguide-color">
          <span style="background-color: var(--color-type-base)"></span>
          <span><code>--color-type-base</code></span>
        </div>

        <div class="styleguide-color">
          <span style="background-color: var(--color-type-mid)"></span>
          <span><code>--color-type-mid</code></span>
        </div>

        <div class="styleguide-color">
          <span style="background-color: var(--color-type-light)"></span>
          <span><code>--color-type-light</code></span>
        </div>
      </div>
    </div>
  </section>
</section>
