//
// Direct Links / Markdown Headers 
// ==================================================

.direct-link {
  display: none;
  font-family: sans-serif;
  font-size: 75%;
  font-style: normal;
  font-weight: 400;
  left: -1em;
  position: absolute;
  text-decoration: none;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity var(--transition-quick) ease-in-out;

  @media (--min-720) { 
    display: block;
  }
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
  opacity: 0;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--gray-darkest);
  opacity: 1;
}