//
// Direct Links / Markdown Headers 
// ==================================================

a[href].header-anchor {
  --header-anchor-color: var(--plum-dark);

  color: var(--header-anchor-color);
  position: relative;
  text-decoration: none;

  @media (--dark) {
    --header-anchor-color: var(--white);
  }

  // Hover and focus state
  &:focus,
  &:focus:visited,
  &:hover,
  &:hover:visited {
    &::after {
      color: var(--header-anchor-color);
      opacity: .75;
    }
  }

  // Pseudo-element for header link
  &::after {
    content: '#';
    color: transparent;
    display: inline-block;
    font-family: sans-serif;
    font-size: 70%;
    font-style: normal;
    font-weight: var(--font-weight-regular);
    margin-left: .25em;
    opacity: 0;
    text-decoration: none;
    transition: opacity var(--transition-quick) ease-in-out;
    vertical-align: middle;
    z-index: -1; // Disallow user selection

    &:hover {
      opacity: .75;
    }
  }
}