//
// Tags
// ==================================================

.tags {
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 0.25em; 
  color: var(--darkgray);
  display: inline-flex;
  font-size: 0.6875em;
  justify-content: center;
  line-height: 1.8;
  padding: 0.09090909090909em 0.3636363636364em;
  text-decoration: none;
  text-transform: uppercase;

  // Modifiers
  &.-large { 
    font-size: 1.25rem;
    margin: .25rem;
  }
}

a[href].tags,
a[href].tags:visited {
  color: inherit;
}

a[href].tags:hover,
a[href].tags:focus {
  background-color: var(--lightgray);
}

// Context-specific styles
.postlist-item > .tags {
  align-self: center;
}