/* Pull Content Outside of Container */
/* ================================================== */

@define-mixin pullContentOutside {
  @media (--min-720) {
    transform: translateX(-2.5vw);
    width: calc(100% + 5vw);
  }

  @media (--min-960) {
    transform: translateX(-5vw);
    width: calc(100% + 10vw);
  }
}

/* Same as `pullContentOutside`, but pulls further on larger screens */
@define-mixin pullContentOutsideLarge {
  @mixin pullContentOutside;

  @media (--min-1120) {
    transform: translateX(-7.5vw);
    width: calc(100% + 15vw);
  }

  @media (--min-1440) {
    transform: translateX(-10vw);
    width: calc(100% + 20vw);
  }
}
