//
// Custom Properties
// ==================================================

 :root {
  // Color Scheme
  --white: #fff;

  --gray-lighter: #fcfcfc;
  --gray-light: #efefef;
  --gray-lightish: #d3d1db;
  --gray-dark: #C7C4D7;
  --gray-darker: #a7a5b4;
  --gray-darkest: #908e9b;
  --gray-darkest-1: #524c4c; // TODO: Fix weird naming scheme

  --plum-light: #2B2638;
  --plum-mid: #1e1c29;
  --plum-dark: #100f16;

  --yellow-light: #fff8e6;
  --yellow-dark: #ffd466;

  // S/O https://flatuicolors.com/palette/au
  --exodus-fruit: #686de0;
  --steel-pink: #be2edd;
  --heliotrope: #e056fd;
  --deep-cove: #130f40;
  --light-pink: #ed98ff;

  // Fonts
  --font-family-base: 'Inter', -apple-system, system-ui, sans-serif;
  --font-family-base-var: 'Inter var', sans-serif;
  --font-family-serif: 'Merriweather', serif;
  --font-family-mono: 'Space Mono', Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;

  // Font Weights
  --font-weight-lighter: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  
  --font-weight-mono-regular: 400;
  --font-weight-mono-bold: 700;

  --font-weight-serif-light: 300;
  --font-weight-serif-regular: 400;
  --font-weight-serif-bold: 700;

  // Transitions
  --transition: 150ms;
  --transition-quick: 75ms;
  --transition-long: 300ms;

  // Border-radius
  --border-radius: 3px;
  --border-radius-medium: 6px;
  --border-radius-large: 9px;

  // Context-Specific
  --text-color: var(--plum-dark);

  --shadow: 0 3px 7px 0px rgb(150 150 150 / 25%);

  --pre-background: var(--gray-lighter);

  --small-text-color: var(--gray-dark);
  --label-color: var(--plum-dark);


  // S/O https://flatuicolors.com/palette/au
  --exodus-fruit: #686de0;
  --content-max-width: 700px;
}

/* Dark Mode */
@media (--dark) {
  :root {
    --text-color: var(--white);
    --small-text-color: var(--white);
    --label-color: var(--white);
    --shadow: 0 3px 7px 0px rgb(0 0 0 / 30%);
  }
}