//
// Custom Properties
// ==================================================

 :root {
  // Background
  --root-background: var(--gray-light);

  // Spacing
  --spacing-unit: 8px;

  // Color Scheme
  --white: #fff;

  --gray-lighter: #fcfcfc;
  --gray-light: #efefef;
  --gray-lightish: #d3d1db;
  --gray-dark: #C7C4D7;
  --gray-darker: #a7a5b4;
  --gray-darkest: #908e9b;
  --gray-darkest-1: #524c4c; // TODO: Fix weird naming scheme

  --plum-light: #2B2638;
  --plum-mid: #1e1c29;
  --plum-dark: #100f16;

  --yellow-light: #fff8e6;
  --yellow-dark: #ffd466;
  --exodus-fruit: #686de0; // S/O https://flatuicolors.com/palette/au
  --exodus-fruit-dark: #5b5fbb;
  // Ref: https://flatuicolors.com/palette/cn
  --pink-glamour: #eb4d4b;
  --carmine-pink: #ff7979;
  --orange: #f27121;

  // TODO: New custom properties
  --color-black: #101010;
  --color-heading: #100F16;
  --color-label: #101010;
  --color-paragraph: #1E1C29;
  --color-border: #a8a5b5;
  --color-border-light: #d3d1db;

  // Font Families
  --font-family-base: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Noto Sans",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-family-serif: 'Merriweather', serif;
  --font-family-mono: 'IBM Plex Mono', Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;

  // Font Sizes
  --font-base: 1rem;

  --font-size-h1: 3.052rem;
  --font-size-h2: 2.441rem;
  --font-size-h3: 1.953rem;
  --font-size-h4: 1.563rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;

  // Font Weights
  --font-weight-lighter: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;
  --font-weight-heavy: 800;
  
  --font-weight-mono-medium: 400;

  --font-weight-serif-light: 300;
  --font-weight-serif-regular: 400;
  --font-weight-serif-bold: 700;

  // Transitions
  --transition: 150ms;
  --transition-quick: 75ms;
  --transition-long: 300ms;

  // Border-radius
  --border-radius: 3px;
  --border-radius-medium: 6px;
  --border-radius-large: 9px;
  --border-radius-pill: 20px;

  // Context-Specific
  --text-color: var(--plum-dark);

  --shadow: 0 3px 7px 0px rgb(150 150 150 / 25%);
  --shadow-hover: 0 2px 9px 1px rgb(150 150 150 / 45%);

  --pre-background: var(--gray-lighter);

  --small-text-color: var(--gray-dark);
  --label-color: var(--plum-dark);


  // S/O https://flatuicolors.com/palette/au
  --exodus-fruit: #686de0;

  // Container
  --container-small: 800px;
  --container-large: 1440px;
}

/* Dark Mode */
@media (--dark) {
  :root {
    --root-background: var(--plum-mid);
    --text-color: var(--white);
    --small-text-color: var(--white);
    --label-color: var(--white);
    --shadow: 0 3px 7px 0px rgb(0 0 0 / 30%);
    --shadow-hover: 0 2px 9px 1px rgb(0 0 0 / 70%);

    // TODO: New custom properties
    --color-black: #fcfcfc;
    --color-heading: #fcfcfc;
    --color-label: #fcfcfc;
    --color-paragraph: #fcfcfc;
  }
}

@media (--min-640) {
  :root {
    --font-size-h1: 3.815rem;
    --font-size-h2: 3.052rem;
    --font-size-h3: 2.441rem;
    --font-size-h4: 1.953rem;
    --font-size-h5: 1.563rem;
    --font-size-h6: 1.25rem;
  }
}