//
// Utility Classes
// ==================================================

// Layout
._block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

._pull-outside {
  @include pullContentOutside();
}

// Typography
._text-h1 {
  @include h1;
}

._text-h2 {
  @include h2;
}

._text-h3 {
  @include h3;
}

._text-h4 {
  @include h4;
}

._text-h5 {
  @include h5;
}

._text-h6 {
  @include h6;
}

._text-small {
  @include text-small();
}

._text-smaller {
  @include text-smaller();
}

._text-large {
  @include text-large();
}

._text-larger {
  @include text-larger();
}

// Text
._text-align-center {
  text-align: center;
}

._font-family-mono {
  font-family: var(--font-family-mono);
}

._font-family-serif {
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-serif-regular);
}

._type-my-voice {
  font-family: var(--font-family-serif);
  font-style: italic;
  font-size: var(--font-size-step-3);
  font-weight: var(--font-weight-serif-regular);
  line-height: 1.25;

  @media (--min-1260) {
    font-size: var(--font-size-step-4);
    line-height: 1.35;
  }
}

._label {
  --border-color: var(--color-gray-3);

  align-items: center;
  color: var(--color-label);
  display: flex;
  font-family: var(--font-family-mono);
  font-size: 20px;
  font-variant: all-small-caps;
  letter-spacing: 0.01em;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  word-spacing: -0.1em;

  @media (--dark) {
    --border-color: var(--color-gray-7);
  }

  &:after {
    background-color: var(--border-color);
    content: "";
    display: block;
    flex: 1;
    height: 1px;
    margin-top: 0.2em;
  }

  > span {
    padding-right: spacing(1);
  }

  > a {
    --link-background: var(--color-purple-1);
    --link-background-hover: var(--color-root-background);
    --link-color: var(--color-white);
    --link-color-hover: var(--color-plum-3);

    background-color: var(--link-background);
    border-radius: var(--border-radius-pill);
    font-size: 1rem;
    padding: spacing(0.25) spacing(1) spacing(0.5);
    position: absolute;
    right: 0;
    text-decoration: none;

    @media (--dark) {
      --link-background: var(--color-yellow-2);
      --link-color: var(--color-plum-3);
      --link-color-hover: var(--color-yellow-2);
    }

    &:hover {
      background-color: var(--link-background-hover);
    }
  }
}

._label-sans {
  font-variant: all-small-caps;
  font-weight: var(--font-weight-bold);
  line-height: 1;
}

._rainbow-underline {
  @include rainbowBackground;
}

// Visibility
._hidden {
  @include a11yHidden();
}

._visible {
  @include a11yVisible();
}

._hidden-720 {
  @media (--min-720) {
    @include a11yHidden();
  }
}

// Colors
._bg-white {
  background-color: var(--color-white);
}

// Max character lengths
@each $size in (15, 30, 45, 60, 75, 90, 105, 120) {
  ._max-ch-#{$size} {
    max-width: #{$size}ch;
  }
}

// Layout
._grid {
  @include grid;
}

// Spacing
._page-spacing-top {
  margin-top: 3rem;

  @media (--min-1120) {
    margin-top: 5rem;
  }
}

._page-spacing-bottom {
  margin-bottom: 3rem;

  @media (--min-1120) {
    margin-bottom: 5rem;
  }
}

._a11y-hidden {
  @include a11yHidden();
}

._a11y-visible {
  @include a11yVisible();
}

._font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

._subtle-background {
  @include subtleBackground;
}
