//
// Mixins
// ------

// Typography
@mixin newH1 {
  color: var(--color-heading);
  font-size: 46px;
  font-weight: var(--font-weight-extra-bold);
  letter-spacing: -.025em;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  
  @media (--min-480) {
    font-size: 68px;
  }
}

@mixin newH2 {
  font-size: 36px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  
  @media (--min-480) {
    font-size: 46px;
  }
}

@mixin newH3 {
  font-size: 26px;
  line-height: 1.125;
  margin-bottom: 0;
  margin-top: 0;
  
  @media (--min-480) {
    font-size: 32px;
  }
}

@mixin large-paragraph {
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
  line-height: 1.4;
  
  @media (--min-480) {
    font-size: 20px;
  }
}

@mixin small-paragraph {
  font-size: 14px;
  line-height: 1.43;
}

@mixin subheading {
  font-style: italic;
  font-family: var(--font-family-serif);
  font-size: 22px;
  line-height: 1.4;

  @media (--min-480) {
    font-size: 25px;
  }
}

@mixin grid {
  @media (--min-720) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: calc(3 * var(--spacing-unit));
    grid-row-gap: calc(5 * var(--spacing-unit));
  }
}

// UNSCOPED
._h1 {
  @include newH1;
}

._h2 {
  @include newH2;
}

._h3 {
  @include newH3;
}

._subheading {
  @include subheading;
}


// SCOPED
:root.newStyles {  
  // Layout
  .grid {
    @include grid;
  }

  // Introduction
  .intro {
    @include grid;
    @include container;
  }

  .intro-left {
    margin-bottom: spacing(7);
    grid-column: 1 / span 7;

    @media (--min-720) {
      margin-bottom: 0;
    }

    @media (--min-1120) {
      grid-column-end: span 6;
    }

    // Modifiers
    &.-full-width {
      grid-column: 1 / -1;

      @media (--min-1120) {
        grid-column-end: span 12;
      }
    }
  }

  .intro-right {
    grid-column: 8 / -1;

    @media (--min-1120) {
      grid-column-start: 7;
    }
  }

  .intro-heading {
    @include newH2;

    @media (--min-960) {
      @include newH1;
    }
  }

  .intro-subheading {
    @include subheading();

    margin-top: spacing(2);
    max-width: 35ch;
    
    @media (--min-720) {
      margin-top: spacing(2.5);
    }
  }

  // Collection
  .collections {
    margin-top: spacing(var(--top-margin, 0));
  }

  .collections-label {
    margin-bottom: spacing(1);
  }

  .collections-items {
    // Modifiers
    &.-horizontal,
    &.-horizontal-2-columns {
      @include grid;

      .collections-content {
        flex: 1;
      }

      .collections-item {
        display: flex;
        flex-direction: column;
        grid-column: auto / span 6;
      }
    }

    &.-horizontal {
      grid-row-gap: calc(1 * var(--spacing-unit));

      .collections-item {
        &:first-of-type {
          margin-top: spacing(2);

          @media (--min-720) {
            margin-top: 0;
          }
        }

        &:not(:first-of-type) {
          margin-top: spacing(3);

          @media (--min-720) {
            margin-top: 0;
          }
        }

        @media (--min-960) {
          grid-column: auto / span 4;
        }
      }
    }

    &.-horizontal-2-columns {
      .collections-image {
        @media (--min-1260) {
          --image-height: 300px;
        }

        @media (--min-1440) {
          --image-height: 325px;
        }
      }

      .collections-item {
        margin-top: spacing(3);

        @media (--min-720) {
          margin-top: 0;
        }
      }
    }

    &.-vertical {
      .collections-item {
        &:first-of-type {
          margin-top: spacing(2);
        }

        &:not(:first-of-type) {
          margin-top: spacing(3);
        }
      }
    }

    &.-archive {
      display: grid;
      
      @media (--min-640) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
      }
      
      @media (--min-960) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
      }

      .collections-item {
        margin-top: spacing(3);
        max-width: var(--container-small);
      }
    }
  }

  .collections-image {
    --image-height: 175px;

    height: var(--image-height);
    margin-bottom: spacing(3);
    width: 100%;

    @media (--min-640) {
      --image-height: 225px;
    }

    @media (--min-1260) {
      --image-height: 250px;
    }
  }

  .collections-heading {
    @include newH3;

    // Descendants
    a {
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 4px;
      }
    }
  }

  .collections-description {
    @include large-paragraph;

    margin-top: spacing(1.25);
    max-width: 45ch;

    @media (--min-640) {
      padding-right: spacing(.5);
    }
  }

  .collections-link {
    margin-top: spacing(2);
  }

  // More Link
  .more {
    --more-hover-color: var(--exodus-fruit-dark);

    border-bottom: 1px solid var(--color-black);
    display: inline-block;
    font-size: 16px;
    letter-spacing: -.5px;
    transition: color var(--transition-quick);
    text-align: right;
    text-decoration: none;
    width: fit-content;

    @media (--dark) {
      --more-hover-color: var(--yellow-dark);
    }
    
    @media (--min-720) {
      font-size: 18px;
    }

    &:hover {
      color: var(--more-hover-color);
      border-bottom-color: var(--more-hover-color);
    }
  }
}

.cta {
  --background: var(--yellow-light);
  --border: var(--color-border);

  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
  margin-top: spacing(var(--top-margin, 0));
  padding-bottom: spacing(10);
  padding-top: spacing(10);

  @media (--dark) {
    --background: var(--exodus-fruit);
    --border: transparent;
  }
  
  @media (--min-480) {
    text-align: center;
  }
}

.cta-title {
  @include newH2;
}

.cta-subheading {
  @include subheading;

  font-weight: var(--font-weight-lighter);
  margin-left: auto;
  margin-right: auto;
  margin-top: spacing(2);
  max-width: 40ch;
}

.cta-link {
  margin-top: spacing(5);
}