//
// Mixins
// ------

// Typography
@mixin grid($columnGap: 3, $rowGap: 5) {
  @media (--min-960) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: calc(#{$columnGap} * var(--spacing-unit));
    grid-row-gap: calc(#{$rowGap} * var(--spacing-unit));
  }
}

// SCOPED
:root.newStyles {
  // Layout
  ._grid {
    @include grid;
  }

  // Introduction
  .intro {
    @include container;

    @media (--min-1120) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: calc(5 * var(--spacing-unit));
      grid-row-gap: calc(5 * var(--spacing-unit));
    }

    @media (--min-1120) {
      align-items: center;
    }
  }

  .intro-left {
    margin-bottom: spacing(5);
    grid-column: 1 / span 7;

    @media (--min-960) {
      margin-bottom: 0;
    }

    @media (--min-1120) {
      grid-column-end: span 6;
    }

    // Modifiers
    &.-full-width {
      grid-column: 1 / -1;

      @media (--min-1120) {
        grid-column-end: span 12;
      }
    }
  }

  .intro-right {
    grid-column: 8 / -1;

    @media (--min-1120) {
      grid-column-start: 7;
    }
  }

  .intro-heading {
    @include h2;

    @media (--min-800) {
      @include h1;
    }

    @media (--min-1260) {
      @include text-large;
    }
  }

  .intro-subheading {
    font-style: italic;
    font-family: var(--font-family-serif);
    font-size: var(--step-2);
    font-weight: var(--font-weight-lighter);
    line-height: 1.55;
    margin-top: spacing(1.5);

    // Descendants
    br {
      display: none;

      @media (--min-1440) {
        display: block;
      }
    }
    // TODO: Duplicated from `_portfolio.scss`
    > strong {
      font-weight: var(--font-weight-semibold);
      position: relative;
      white-space: pre;

      &::after {
        background: linear-gradient(
          to right,
          var(--orange),
          var(--pink),
          var(--purple-1)
        );
        bottom: 0;
        border-radius: 1px;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  // Collection
  .collections {
    margin-top: spacing(var(--top-margin, 0));
  }

  .collections-label {
    margin-bottom: spacing(1.5);
  }

  .collections-items {
    // Modifiers
    &.-horizontal,
    &.-horizontal-2-columns,
    &.-services {
      .collections-item {
        display: flex;
        flex-direction: column;
        grid-column: auto / span 6;
      }

      .collections-content {
        flex: 1;
      }
    }

    &.-horizontal {
      @include grid;

      grid-row-gap: calc(3 * var(--spacing-unit));

      .collections-text {
        margin-left: auto;
        margin-right: auto;
        padding-left: spacing(3);
        padding-right: spacing(3);
      }

      .collections-description {
        max-width: 30ch;
      }

      .collections-item {
        &:first-of-type {
          margin-top: spacing(2);

          @media (--min-720) {
            margin-top: 0;
          }
        }

        &:not(:first-of-type) {
          margin-top: spacing(3);

          @media (--min-720) {
            margin-top: 0;
          }
        }

        @media (--min-960) {
          grid-column: auto / span 4;
        }
      }
    }

    &.-services {
      @include grid(5, 5);

      .collections-description {
        max-width: 32ch;
      }

      .collections-item {
        &:not(:first-of-type) {
          margin-top: spacing(3);

          @media (--min-720) {
            margin-top: 0;
          }
        }

        @media (--min-960) {
          grid-column: auto / span 4;
        }
      }
    }

    &.-horizontal-2-columns {
      @include grid;

      .collections-text {
        margin-left: auto;
        margin-right: auto;
        padding-left: spacing(5);
        padding-right: spacing(5);
      }

      .collections-description {
        max-width: 45ch;
      }

      .collections-image {
        @media (--min-1260) {
          --image-height: 325px;
        }

        @media (--min-1440) {
          --image-height: 350px;
        }
      }

      .collections-item {
        margin-top: spacing(3);

        @media (--min-720) {
          margin-top: 0;
        }
      }
    }

    &.-homepage-services {
      align-items: baseline;
      display: flex;
      flex-direction: column;
      gap: spacing(3);

      @media (--min-800) {
        flex-direction: row;
      }

      @media (--min-1120) {
        flex-direction: column;
      }

      .collections-item {
        &:first-of-type {
          margin-top: spacing(1);
        }
      }
    }

    &.-archive {
      display: grid;

      @media (--min-640) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
      }

      @media (--min-960) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
      }

      .collections-item {
        margin-top: spacing(3);
        max-width: var(--container-small);
      }
    }
  }

  .collections-image {
    --image-height: 175px;

    height: var(--image-height);
    margin-bottom: spacing(3);
    width: 100%;

    @media (--min-640) {
      --image-height: 225px;
    }

    @media (--min-1260) {
      --image-height: 250px;
    }
  }

  .collections-heading {
    @include h4;

    // Descendants
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 4px;
      }
    }
  }

  .collections-description {
    margin-top: spacing(1);
    max-width: 48ch;

    @media (--min-640) {
      padding-right: spacing(0.5);
    }

    @media (--min-1120) {
      @include h6;

      margin-top: spacing(1);
    }
  }

  .collections-link {
    margin-top: spacing(3);
  }

  // More Link
  .more {
    --more-hover-color: var(--purple-2);

    border-bottom: 1px solid var(--color-black);
    display: inline-block;
    letter-spacing: -0.5px;
    transition: color var(--transition-quick);
    text-align: right;
    text-decoration: none;
    width: fit-content;

    @media (--dark) {
      --more-hover-color: var(--yellow-2);
    }

    &:hover {
      color: var(--more-hover-color);
      border-bottom-color: var(--more-hover-color);
    }
  }
}

.cta {
  --background: var(--yellow-1);
  --border: var(--color-border);

  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
  margin-top: spacing(var(--top-margin, 0));
  padding-bottom: spacing(10);
  padding-top: spacing(10);

  @media (--dark) {
    --background: var(--purple-1);
    --border: transparent;
  }

  @media (--min-480) {
    text-align: center;
  }
}

.cta-title {
  @include h2;
}

.cta-subheading {
  @include h5;

  margin-left: auto;
  margin-right: auto;
  margin-top: spacing(2);
  max-width: 40ch;
}

.cta-link {
  margin-top: spacing(5);
}
