//
// Imports
// ==================================================

// External
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

// Settings
@import "settings/custom-properties";






/**
 * Global
 */
 * {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--root-background);
  color: var(--root-color);
  font-family: -apple-system, system-ui, sans-serif;
  margin: 0;
  padding: 0;
}


/**
 * Elements
 */

/* Paragraph */
p:last-child {
  margin-bottom: 0;
}

p {
  line-height: 1.45;
}

/* Link */
a[href] {
  color: var(--link-color);
}

a[href]:visited {
  color: var(--link-color-visited);
}

/* Main */
main :first-child {
  margin-top: 0;
}

/* Media */
img,
video { 
  max-width: 100%;
}

/* Table */
table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

/* Code */
pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: var(--pre-background);
}

code {
  word-break: break-all;
}

p code { 
  background-color: var(--light-yellow);
  border-radius: 3px;
  font-size: .75rem;
  padding: .25rem .35rem;
  white-space: nowrap
}

/* Figures */
figure { 
  margin: 0;
}

figcaption { 
  font-size: .75rem;
  font-style: italic;
  line-height: 1.5;
  margin-top: .5rem;
}

/* Blockquote */
blockquote { 
  --blockquote-border: var(--blue);

  border-left: 3px solid var(--blockquote-border);
  margin-left: 1.5rem;
  padding-bottom: .75rem;
  padding-left: 1.5rem;
  padding-top: .75rem;
}

@media (prefers-color-scheme: dark) {
  blockquote { 
    --blockquote-border: var(--light-yellow);
  }
}


/**
 * Highlighting 
 */
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* Allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* Avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}


/**
 * Global Header 
 */
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}

.header-left { 
  display: flex;
  flex-direction: column;
}

.header-logo {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  margin-top: 0;
}

.header-right { 
  text-align: right;
}

.header-description { 
  font-size: .875rem;
  margin-top: 0;
  max-width: 35ch;
}

.header-logo :link:not(:hover) {
  text-decoration: none;
}


/**
 * Navigation 
 */
.nav {
  font-size: .875rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
}

.nav-item:not(:first-of-type) { 
  margin-left: 1.5rem;
}

.nav-item.-cta { 
  border-left: 1px solid var(--midgray);
  font-weight: bold;
  padding-left: 1.5rem;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}


/**
 * Posts list 
 */
.postlist { 
  margin-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.postlist + .postlist { 
  margin-top: 5rem;
}

.postlist-headline { 
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.postlist-headline h1 { 
  margin-bottom: 0;
}

.postlist-headline p { 
  margin-top: 0;
}

.postlist-item.-intro { 
  grid-area: 1 / span 2;
}

.postlist-item-description { 
  margin-top: 0;
}

.postlist-title {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.postlist-link { 
  text-decoration: none;
}

.postlist-header { 
  flex: 1;
  margin-bottom: 1.5rem;
}

.postlist-lede { 
  margin-top: .5rem;
}

.postlist-item-active .postlist-title {
  font-weight: bold;
}

.postlist-title:hover { 
  text-decoration: underline;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.postlist-meta { 
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: .75rem;
}

.postlist-tags { 
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.postlist-tag { 
  display: inline-block;
}

.postlist-tag:not(:first-of-type) { 
  margin-left: 0.8em;
}

.postlist-toggle {
  --toggle-border: var(--navy);

  border-bottom: 1px solid var(--toggle-border);
  font-size: .75rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  padding-bottom: .25rem;
}

@media (prefers-color-scheme: dark) {
  .postlist-toggle {
    --toggle-border: var(--white);
  }
}

/* Modifiers */
.postlist.-stack .postlist-item + .postlist-item {
  margin-top: 3rem;
}

.postlist.-journey { 
  max-width: 1260px;
}

.postlist.-journey .postlist-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 0;
}

.postlist.-journey .postlist-item {
  border: 1px solid var(--navy);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.65;
  min-height: 150px;
  padding: 1.25rem 1.5rem;
}


/** 
 * Tags 
 */
.post-tag {
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 0.25em; 
  color: var(--darkgray);
  display: inline-flex;
  font-size: 0.6875em;
  justify-content: center;
  line-height: 1.8;
  padding: 0.09090909090909em 0.3636363636364em;
  text-decoration: none;
  text-transform: uppercase;
}

.post-tag.-large { 
  font-size: 1.25rem;
  margin: .25rem;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}

a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}

.postlist-item > .post-tag {
  align-self: center;
}


/**
 * Direct Links / Markdown Headers 
 */
.direct-link {
  font-family: sans-serif;
  font-style: normal;
  margin-left: .1em;
  text-decoration: none;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}


/**
 * Blog Post
 */
.post { 
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.post-header {
  margin-bottom: 2rem;
}

.post-title { 
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  margin-top: 1rem;
}

.post-meta { 
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Post content descendants */
.post-content h2 { 
  margin-top: 2.5rem;
}

.post-content h3 { 
  margin-top: 2rem;
}

.post-content h2 + h3 { 
  margin-top: 0;
}

.post-content li:not(:first-of-type) { 
  margin-top: .5rem;
}

.post-content ul ul { 
  margin-top: .5rem;
}

.post-content mark { 
  background: transparent;
  background-image: linear-gradient(to right, rgba(255, 225, 0, 0.15), rgba(255, 225, 0, 0.6) 7.5%, rgba(255, 225, 0, 0.25));
  border-radius: 0.8em 0.3em;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  margin: 0 -0.4em;
  padding: 0.1em 0.4em; 
}


/**
 * Post Navigation
 */

.postNav { 
  align-items: top;
  border-top: 1px solid var(--midgray);
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.postNav a { 
  display: inline-block;
  max-width: 27ch;
}

.postNav-prev,
.postNav-next {
  margin: 0;
}

.postNav-label { 
  display: block;
}


/**
 * Codepen 
 */
.codepen { 
  border: 1px solid var(--darkgray);
  padding: 1rem 1.5rem;
}


/** 
 * Footnotes 
 */
.footnotes { 
  font-size: .875rem;
}

.footnote-item:not(:first-of-type) { 
  margin-top: 1rem;
}


/** 
 * Side-by-side 
 */
.sideBySide { 
  display: flex;
}


/* Paragraph Styles */
p.-context { 
  --background: transparent;

  background-color: var(--background);
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 1.35rem 1.5rem;
  position: relative;
}

p.-context .icon { 
  background: white;
  bottom: 0;
  font-size: 1.25rem;
  height: 35px;
  line-height: 1;
  padding: .5rem;
  position: absolute;
  right: 0;
  width: 35px;
}

p.-context.-twitter { 
  --background: rgb(29 161 242 / 20%);
}

p.-context.-twitter span { 
  display: block;
  margin-bottom: 1rem;
}

p.-context.-notice { 
  --background: var(--light-yellow);

  color: var(--darkgray);
}

p.-context.-question { 
  --background: var(--lightgray);

  color: var(--darkgray);
}

p.-large { 
  font-size: 2rem;
  transform: translateX(-2.5vw);
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  text-align: center;
  width: calc(100% + 5vw);
}

/**
 * Page Templates
 */
.page-home { 
  margin-top: 3rem;
}

/**
 * Newsletter
 */
 .newsletter {
  --newsletter-background: #ffd466;

  background-color: var(--newsletter-background);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

@media (prefers-color-scheme: dark) {
  .newsletter {
    --newsletter-background: #fe4d6e;
  }
}

.newsletter-title { 
  font-size: 2.5rem;
}

.newsletter-description { 
  grid-column: 2 / span 4;
}

.newsletter-cta { 
  grid-column: 7 / span 3;
}

.newsletter-form {
  margin-bottom: calc(0.725rem + 1vw);
}

.newsletter-form-fields {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.newsletter-form-fields > label {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.newsletter-form-fields > input[type="email"] {
  font-size: 0.64rem;
  -ms-flex: 1;
  flex: 1;
}

.newsletter-form-fields > input[type="submit"] {
  font-size: 0.64rem;
  padding-bottom: 0;
  padding-top: 0;
}


/**
 * Mailbox
 */

 .mailbox {
  background-color: var(--color-base-light);
  border-top: 3px solid var(--color-base-mid);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  filter: saturate(70%);
  margin: calc(1.45rem + 1vw) auto calc(1.45rem + 1vw);
  max-width: 800px;
  padding: calc(1.45rem + 1vw) calc(2.9rem + 1vw);
  position: relative; }
  .mailbox:before, .mailbox:after {
    content: '';
    left: 0;
    position: absolute;
    width: 100%; }
  .mailbox:before {
    background-image: linear-gradient(177deg, rgba(0, 0, 0, 0.1) 10%, transparent 50%), linear-gradient(-177deg, rgba(0, 0, 0, 0.1) 10%, transparent 50%);
    background-position: 2% 0, 98% 0;
    background-repeat: no-repeat;
    background-size: 49% 100%;
    bottom: -1%;
    height: 1%; }
  .mailbox:after {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0.5%, rgba(0, 0, 0, 0.15) 1.2%, transparent 1.2%), linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0.5%, rgba(0, 0, 0, 0.15) 1.2%, transparent 1.2%), linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0.5%, rgba(0, 0, 0, 0.15) 1.2%, transparent 1.2%), linear-gradient(265deg, rgba(0, 0, 0, 0.2), transparent 10%), linear-gradient(5deg, rgba(0, 0, 0, 0.2), transparent 15%), linear-gradient(-5deg, rgba(0, 0, 0, 0.1), transparent 10%), linear-gradient(5deg, rgba(0, 0, 0, 0.1), transparent 10%), linear-gradient(-265deg, rgba(0, 0, 0, 0.2), transparent 10%), linear-gradient(-5deg, rgba(0, 0, 0, 0.2), transparent 15%), linear-gradient(266deg, rgba(0, 0, 0, 0.2), transparent 10%);
    background-position: right top, left center, left bottom, left top, left top, right top, left center, right center, right center, left bottom;
    background-repeat: no-repeat;
    background-size: 50% 100%, 100% 33.3333%, 100% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%;
    height: 100%;
    opacity: .25;
    top: 0;
    width: 100%;
    z-index: 2; }

.mailbox-icon:before {
  content: '📬';
  font-size: 2.44141rem;
  line-height: 1;
  position: absolute;
  right: -.35em;
  top: -.75em; }
  @media (min-width: 768px) {
    .mailbox-icon:before {
      font-size: 5.96046rem; } }


/**
 * Utilities
 */
 ._text-align-center { 
   text-align: center;
 }

 ._block-center { 
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 ._container { 
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-max-width);
 }

 ._label { 
  color: var(--label-color);
  font-family: var(--font-family-mono);
  font-size: .875rem;
  font-variant: all-small-caps;
 }

 ._small-text {
    color: var(--small-text-color);
    font-size: 0.75rem;
    word-spacing: -0.5px;
 }