<section class="instructions">
  <div class="container">
    <h2 class="instructions-header">Installation</h2>

    <p>This is the preferred method to install Flexicution. Simply install using NPM or Bower.</p>

{% highlight bash %}
# NPM
npm install flexicution

# Bower
bower install flexicution
{% endhighlight %}

    <h2>Usage</h2>

    <p>You have two different options for using Flexicution. You may include the framework and build your column classes yourself, or you can use our pre-defined breakpoints and generated class names.</p>

    <div class="demo">
      <div class="row">
        <div class="col-small-6">
          <h4>Base</h4>

          <p>This includes only the Sass mixins that power Flexicution, with no specific class names.</p>

{% highlight scss %}
// Import Flexicution library
@import "node_modules/flexicution/flexicution";
{% endhighlight %}
        </div>

        <div class="col-small-6">
          <h4>With Classes</h4>

          <p>This includes the Sass mixins that power Flexicution, as well as responsive column classes.</p>

{% highlight scss %}
// Import Flexicution library
@import "node_modules/flexicution/flexicution-classes";
{% endhighlight %}
        </div>
      </div>
    </div>

    <h2 class="instructions-header">Setup</h2>

    <p>Flexicution is as agnostic as possible in regards to your layout and breakpoints. You can use the semantic grid mixin to generate rows and columns for your layout and components, or you can generate responsive class names based on the breakpoints used in your project.</p>

    <div class="demo">
      <div class="row">
        <div class="col-small-6">
          <h4>Semantic Grid Mixin</h4>

{% highlight scss %}
//
// Generate Semantic Rows
// ----------------------
// @param $gutter - Gutter between columns. Default is `$flex-gutter-width` (30px)

@include make-row();


//
// Generate Semantic Columns
// -------------------------
// @param $columns - Number of columns to take up
// @param $gutter - Gutter between columns. Default is `$gutter-width` (30px)
// @param $media-query - Breakpoint for the column to collapse. Default is null
// @param $min-max - Explicitly sets the media query to be `min-width` or `max-width`. Default is `min`

@include make-column();
{% endhighlight %}
        </div>

        <div class="col-small-6">
          <h4>Generating Class Names</h4>

{% highlight scss %}
//
// Generate Grid Classes
// ---------------------
// @param $class - Class name you want postfixed after `.col-`

// Extra-small
@include make-grid(xsmall);

// Small
@media (min-width: 480px) {
  @include make-grid(small);
}
{% endhighlight %}
        </div>
      </div>
    </div>

    <h2 class="instructions-header">Settings</h2>

    <p>The Flexicution library has variables that help configure the base library and library with classes. You may override these in your own project if you wish to customize your grid layout.</p>

    <div class="demo">
      <div class="row">
        <div class="col-small-6">
          <h4>Base</h4>

{% highlight scss %}
// Number of grid columns
$flex-grid-columns: 12;

// Amount of gutter width
$flex-grid-gutter-width: 30px;
{% endhighlight %}
        </div>

        <div class="col-small-6">
          <h4>Classes</h4>

{% highlight scss %}
// Breakpoints
$media-xsmall:   480px;
$media-small:    768px;
$media-medium:   960px;
$media-large:   1120px;
$media-xlarge:  1280px;
{% endhighlight %}
        </div>
      </div>
    </div>

    <h2 class="instructions-header">Flexbox Support</h2>

    <aside class="ciu_embed" data-feature="flexbox" data-periods="future_1,current,past_1,past_2">
      <iframe src="//caniuse.bitsofco.de/embed/index.html?feat=flexbox&amp;periods=future_1,current,past_1,past_2" frameborder="0" width="100%" height="468px"></iframe>
    </aside>
  </div>
</section>
