<section class="flexHead">
  <h1 class="flexHead-title">Flexicution</h1>

  <p class="flexHead-subtitle">
    <a href="https://www.youtube.com/watch?v=M2NIMHVmGwk" target="_blank" title="Everything I do you know I do it for the squad">This the type of grid they said they really wanted. So I gave them this right here, now go build something.</a>
  </p>

  <nav class="flexHead-nav">
    <a class="flexHead-nav-item" href="https://github.com/keenanpayne/flexicution/archive/master.zip">Download</a>
    <a class="flexHead-nav-item" href="https://github.com/keenanpayne/flexicution">GitHub</a>
  </nav>
</section>
