<footer class="flexFooter">
  <a class="github-button" href="https://github.com/keenanpayne/flexicution" data-icon="octicon-star" data-size="large" aria-label="Star keenanpayne/flexicution on GitHub">Star</a>

  <a class="github-button" href="https://github.com/keenanpayne/flexicution/fork" data-icon="octicon-repo-forked" data-size="large" aria-label="Fork keenanpayne/flexicution on GitHub">Fork</a>

  <a class="github-button" href="https://github.com/keenanpayne/flexicution/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download keenanpayne/flexicution on GitHub">Download</a>

  <p>Built with love by <a href="{{ site.link }}">Keenan Payne</a></p>
</footer>
