{% import "atoms/more.njk" as more %}

{% macro output(showCovers, cover, heading, lede, linkUrl, linkText) %}
  <article class="collections-item">
    <div class="collections-content">
      {% if showCovers %}
        {% if cover %}
          <a href="{{ linkUrl }}" title="{{ heading }}">
            <div class="collections-image" style="background: url('{{ cover }}') no-repeat center center / cover; background-size: cover;"></div>
          </a>
        {% endif %}
      {% endif %}

      {% if heading %}
        <h2 class="collections-heading">
          {% if linkUrl %}
            <a href="{{ linkUrl }}">
          {% endif %}

          {{ heading }}

          {% if linkUrl %}
            </a>
          {% endif %}
        </h2>
      {% endif %}

      {% if lede %}
        <p class="collections-description">
          {{ lede | safe }}
        </p>
      {% endif %}
    </div>

    {{ more.output('collections-link', linkUrl, linkText) }}
  </article>
{% endmacro %}