<link rel="preconnect" href="//use.typekit.net">
<link rel="preconnect" href="//cdnjs.cloudflare.com">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://codepen.io">

<link rel="dns-prefetch" href="//use.typekit.net">
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link rel="dns-prefetch" href="https://codepen.io">

<link rel="stylesheet" href="/dist/site.min.css" />
<link rel="stylesheet" href="//use.typekit.net/hid0bbh.css">