<!-- Flexicution -->
{% if page.layout == 'flexicution' %}
  <link rel="stylesheet" href="/dist/flex.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Overpass:300,600" rel="stylesheet">

  <script async src="//cdn.jsdelivr.net/caniuse-embed/1.1.0/caniuse-embed.min.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Personal Site -->
{% else %}
  <link rel="preconnect" href="//use.typekit.net">
  <link rel="preconnect" href="//cdnjs.cloudflare.com">
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link rel="preconnect" href="https://codepen.io">

  <link rel="dns-prefetch" href="//use.typekit.net">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  <link rel="dns-prefetch" href="https://codepen.io">

  <link rel="stylesheet" href="/dist/site.min.css" />
  <link rel="stylesheet" href="//use.typekit.net/hid0bbh.css">
{% endif %}
