  <footer class="siteFooter" role="complementary">
    <div container>
      <div grid="center justify-between">
        <p class="siteFooter-copy" column>
          Copyright &copy; 2008&ndash;{{ site.time | date: '%Y' }}
        </p>

        <nav column>
          {% if site.social %}
            <ul class="siteFooter-social">
              {% for network in site.social %}
                <li class="siteFooter-social-link-wrapper">
                  <a class="siteFooter-social-link -{{ network.name|downcase }}" href="{{ network.url }}"
                    title="{{ network.name }}">{{ network.name }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </nav>
      </div>
    </div>
  </footer>

  <script src="/js/site.js"></script>
  <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
  <script src="https://cdn.usefathom.com/script.js" data-site="FCWPKZQR" defer></script>
</body>
</html>
