{% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}

<header class="siteHeader" role="main">
  <div class="siteHeader-container" container>
    <span class="siteHeader-logo">
      <a href="/index.html" title="Home">
        {{ site.name }}
      </a>
    </span>
    
    <nav class="siteHeader-navigation">
      <ul>
        {% for p in navigation_pages %}
          {% if p.navigation_weight and p.navigation_hide_header != true %}
            <li class="siteHeader-navigation-item">
              <a href="{{ p.url }}" title="{{ p.title }}" class="{% if p.url == page.url %}-is-active{% endif %}">
                {{ p.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
