<!-- Globals -->
{% if page.meta.description %}
  {% assign description = page.meta.description %}
{% else %}
  {% assign description = site.meta.description %}
{% endif %}

{% if page.title == "Home" %}
  {% assign title = site.meta.title %}
{% elsif page.layout == "post" %}
  {% assign title = page.title | smartify %}
{% else %}
  {% assign title = page.title | smartify | append: ' | ' | append: site.meta.title %}
{% endif %}

{% if page.layout == "post" %}
  {% assign type = 'article' %}
{% else %}
  {% assign type = 'website' %}
{% endif %}

{% if page.meta.facebook_image %}
  {% assign opengraph_image = site.meta.link | append: page.meta.facebook_image %}
{% elsif page.meta.image %}
  {% assign opengraph_image = site.meta.link | append: page.meta.image %}
{% else %}
  {% assign opengraph_image = site.meta.link | append: '/images/social/facebook.png' %}
{% endif %}

{% if page.meta.twitter_image %}
  {% assign twitter_image = site.meta.link | append: page.meta.twitter_image %}
{% elsif page.meta.image %}
  {% assign twitter_image = site.meta.link | append: page.meta.image %}
{% else %}
  {% assign twitter_image = site.meta.link | append: '/images/social/twitter.png' %}
{% endif %}

{% assign link = site.meta.link | append: page.url %}

<!-- Markup -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="author" content="{{ site.globals.name }}" />
  <meta name="description" content="{{ description }}"/>
  <meta name="monetization" content="$ilp.uphold.com/9wMypREUn7GW">

  <link rel="canonical" href="{{ link }}">
  <link rel="alternate" type="application/rss+xml" title="Subscribe to Keenan Payne's Blog" href="{{ site.meta.link | append: 'feed.xml' }}" />

  <title>
		{% if page.title != "Home" %}
			{{ page.title|smartify }} | 
		{% endif %}
    
    {{ site.meta.title }}
	</title>

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@KeenanPayne_" />
  <meta name="twitter:domain" content="{{ link }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ twitter_image }}" />
  <meta name="twitter:image:alt" content="Advice on how to succeed as a freelance web developer." />

  <!-- OpenGraph -->
	<meta property="og:site_name" content="{{ site.meta.title }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="{{ type }}">
  <meta property="og:url" content="{{ link }}">
  <meta property="og:image" content="{{ opengraph_image }}">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:alt" content="Advice on how to succeed as a freelance web developer." />

	{% if page.date %}
	  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
	  <meta property="article:author" content="{{ site.globals.name }}">
	{% endif %}

	{% if page.categories %}
	  {% for category in page.categories limit:1 %}
	  	<meta property="article:section" content="{{ category }}">
	  {% endfor %}
	{% endif %}

  <!-- Oh my, favicons -->
  <meta name="msapplication-TileColor" content="#fffdf7">
	<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#fffdf7">
	<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="/favicons/manifest.json">

  <!-- Preconnect and prefetch resources -->
	<link rel="preconnect" href="//use.typekit.net">
	<link rel="preconnect" href="//cdnjs.cloudflare.com">
	
	<link rel="dns-prefetch" href="//use.typekit.net">
	<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
	
	<link rel="stylesheet" href="/dist/site.min.css" />
	<link rel="stylesheet" href="//use.typekit.net/hid0bbh.css">
</head>
<body>
