{# Defaults #}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="author" content="Keenan Payne" />
<meta name="color-scheme" content="light dark">
<meta name="description" content="{{ meta.description or metadata.description }}">
<link rel="canonical" href="{{ pageUrl }}">

{# Social Sharing #}
<meta property="og:url" content="{{ pageUrl }}" />
<meta property="og:title" content="{{ pageTitle }}" />

<meta name="twitter:site" content="@keenanpayne_" />
<meta name="twitter:creator" content="@keenanpayne_" />

{% if meta.description or metadata.description %}
  <meta property="og:description" content="{{ meta.description or metadata.description }}" />

  <meta property="twitter:description" content="{{ meta.description or metadata.description }}" />
{% endif %}

{% if meta.image or metadata.image %}
  {% if 'https://res.cloudinary.com/' in meta.image %}
    <meta property="og:image" content="{{ meta.image }}" />
  {% else %}
    <meta property="og:image" content="{{ metadata.url | replace('.com/', '.com') ~ meta.image or metadata.image }}" />
  {% endif %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ metadata.url | replace('.com/', '.com') ~ meta.image or metadata.image }}">

  {% if meta.image_alt %}
    <meta property="og:image:alt" content="{{ meta.image_alt }}" />

    <meta property="twitter:image:alt" content="{{ meta.image_alt }}" />
  {% endif %}
{% else %}
  <meta name="twitter:card" content="summary" />
{% endif %}