  {% include components/large-cta.html %}

  <footer class="siteFooter" role="complementary">
    <div container>
      <div grid="center justify-between">
        <p class="siteFooter-copy" column>
          Copyright &copy; 2008 &ndash; {{ site.time | date: '%Y' }}
        </p>

        <nav role="navigation" column>
          {% include components/social.html %}
        </nav>
      </div>
    </div>
  </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
  <script src="/js/site.js"></script>
</body>
</html>
