# 1 Month for images
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>

# 2 weeks for functional assets
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=1209600, public"
</filesMatch>
