---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1 class="_text-align-center">Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
