---
layout: layouts/home.njk
permalink: /archive/
title: Post Archive
eleventyNavigation:
  key: Archive
  order: 2
---

{% import "organisms/entries/entries.njk" as entries with context %}
{% import "organisms/newsletter.njk" as  newsletter with context %}

{{ entries.output('Archive', collections.posts, true, false, false) }}

{{ newsletter.large() }}