---
layout: layouts/home.njk
permalink: /archive/
title: Post Archive
eleventyNavigation:
  key: Archive
  order: 2
---

{% import "organisms/entries/entries.njk" as entries with context %}

{{ entries.recent('Archive', collections.posts, true, false, true) }}

{% include "newsletter.njk" %}