---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 4
title: Contact
templateClass: _container _text-align-center
hello: false
---

<h1>Get in Touch</h1>

<p class="_text-h4">No spam, please.</p>

<hr class="-fancy">

<p class="_text-h5">
  <a class="-hover-background" href="mailto:contact@keenanpayne.com?subject=Contact from keenanpayne.com">
    contact@keenanpayne.com
  </a>
</p>