---
title: Form Submission Success
templateClass: _container _text-align-center
---

<h1>
  You form submission was successful
</h1>

<p>
  <strong>Thanks for reaching out!</strong> <br />I will strive to get back to you as soon as possible.
</p>

<p>
  <a class="-hover-background" href="/">Back to home</a>  
</p>
