---
hello: false
layout: layouts/home.njk

sections: 
  - type: intro
    heading: "Fifteen years of professional web development"
    subheading: "I'm passionate about building things on the web that help individuals and businesses achieve their goals."
    right:
      heading: "Services I offer"
      items: services
  - type: entries
    heading: "Highlighted projects"
    spacing: 8
    items: 
      from: portfolio
---

{# TODO: Turn these into proper components #}

{# {% import "organisms/entries/entries.njk" as entries with context %}
{% import "organisms/newsletter.njk" as  newsletter with context %}

{{ entries.output('Featured', collections.featured | head(-1), false, false, false, true) }}

{{ entries.output('Recently Published', collections.posts | head(-3), true, false, true, false) }}

{{ newsletter.large('-pre-footer') }} #}