---
layout: layouts/home.njk
---

{% set labelRecent = 'Recently Published' %}
{% set postslist = collections.posts | head(-5) %}
{% set labelFeatured = 'Featured' %}
{% set postslistFeatured = collections.featured | head(-1) %}
{% set postslistCounter = collections.posts | length %}
{# {% set postsListTags = false %} #}
{% set postListReadMore = true %}

{% include "postslist.njk" %}
{% include "newsletter.njk" %}
{# {% include "postslist-journey.njk" %} #}