---
layout: layouts/home.njk

sections: 
  entries:
    read_Link: false
---

{% import "organisms/entries/entries.njk" as entries with context %}
{% import "organisms/mission/mission.njk" as mission with context %}
{% import "organisms/newsletter.njk" as  newsletter with context %}

{{ entries.output('Featured', collections.featured | head(-1), false, '-featured', false, true) }}

{# {{ mission.centered('Hello there 👋🏻', "Welcome to my digital home. Here you will find fragments of my life shared publicly through creative, personal, and professional endeavors.") }} #}

{{ entries.output('Recently Published', collections.posts | head(-5), true, false, true, false) }}

{{ newsletter.large() }}