---
pagination:
  data: collections.all
  size: 1000
  alias: entries
permalink: /page-list/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
title: Page List
templateClass: _container _page-spacing-top _page-spacing-bottom
---

<table class="_container">
  <h1 class="_text-align-center">
    {{ title }}
  </h1>

  <thead>
    <tr>
      <th>Page Title</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
{%- for entry in entries %}
  <tr>
    <td>{{ entry.data.title }}</td>
    <td><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></td>
  </tr>
{%- endfor %}
  </tbody>
</table>
