---
eleventyNavigation:
  key: Project Inquiry
  order: 4
title: Project Inquiry
templateClass: _container
---

<h1>Want to work together?</h1>

<p class="_max-ch-45">
  <strong>I'd love to hear from you.</strong> <br />Please fill out the form below or shoot me an email at <a class="-hover-background" href="mailto:contact@keenanpayne.com?subject=Contact from keenanpayne.com">contact@keenanpayne.com</a> to get started.
</p>

<form 
  class="ContactForm" 
  name="Project Inquiry" 
  netlify 
  action="/form-submission-success" 
  method="POST"
>
  <input type="hidden" name="subject" value="New %{formName} form submission on keenanpayne.com — (%{submissionId})" className="_hidden" />

  <p class="ContactForm-item">
    <label>
      Name
      <input class="ContactForm-input" type="text" name="Name" placeholder="First and last name" required />
    </label>
  </p>

  <p class="ContactForm-item">
    <label>
      Email 
      <input class="ContactForm-input" type="email" name="Email" placeholder="email@company.com" required />
    </label>
  </p>

  <p class="ContactForm-item">
    <label>
      Company
      <input class="ContactForm-input" type="text" name="Company" placeholder="Company name" />
    </label>
  </p>

  <p class="ContactForm-item">
    <label>
      Website
      <input class="ContactForm-input" type="url" name="Website" placeholder="If you have one" />
    </label>
  </p>

  <p class="ContactForm-item">
    What services are you interested in?

    <label class="ContactForm-checkbox">
      <input class="ContactForm-input" type="checkbox" name="Services — Website Design">
      <span>Website design</span>
    </label>

    <label class="ContactForm-checkbox">
      <input class="ContactForm-input" type="checkbox" name="Services — Website Development">
      <span>Website development</span>
    </label>

    <label class="ContactForm-checkbox">
      <input class="ContactForm-input" type="checkbox" name="Services — Web Application Development">
      <span>Web application development</span>
    </label>

    <label class="ContactForm-checkbox">
      <input class="ContactForm-input" type="checkbox" name="Services — UI Design">
      <span>User Interface (UI) design</span>
    </label>

    <label class="ContactForm-checkbox">
      <input class="ContactForm-input" type="checkbox" name="Services — UX Research">
      <span>User Experience (UX) research</span>
    </label>

    <label class="ContactForm-checkbox">
      <input class="ContactForm-input" type="checkbox" name="Services — Other">
      <span>Other</span>
    </label>

    <label class="ContactForm-checkbox">
      <input class="ContactForm-input" type="checkbox" name="Services — Not Sure">
      <span>Not sure yet</span>
    </label>
  </p>

  <p class="ContactForm-item">
    <label>
      Please tell me about your company and project
      <textarea class="ContactForm-input" name="Message About Company and Project" rows="10" placeholder="What does your company do? &#10;What do you hope to do? &#10;How can I help you reach your goals?"></textarea>
    </label>
  </p>

  <p class="ContactForm-item">
    <label>
      Ideal launch date
      <input class="ContactForm-input" type="date" name="Ideal Launch Date" />
    </label>
  </p>

  <p class="ContactForm-item">
    Is your launch date flexible?
    <label class="ContactForm-checkbox">
      <input class="ContactForm-input" type="checkbox" name="Flexible Launch Date — Yes">
      <span>Yes</span>
    </label>

    <label class="ContactForm-checkbox">
      <input class="ContactForm-input" type="checkbox" name="Flexible Launch Date — No">
      <span>No</span>
    </label>
  </p>

  <p>
    <label>
      Project budget

      <select class="ContactForm-input" name="Project Budget">
        <option value="Less than $10,000">Less than $10,000</option>
        <option value="$10,000 - $25,000">$10,000 - $25,000</option>
        <option value="$25,000 - $50,000">$25,000 - $50,000</option>
        <option value="More than $50,000">More than $50,000</option>
      </select>
    </label>
  </p>

  <p class="ContactForm-item -full">
    <button type="submit" class="ContactForm-button">
      Submit
    </button>
  </p>
</form>