---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: layouts/minimal.njk
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:news="http://www.google.com/schemas/sitemap-news/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">
{%- for page in collections.all %}
  {% set absoluteUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <url>
    <loc>{{ absoluteUrl }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    {%- if page.data.changefreq %}
      <changefreq>{{ page.data.changefreq }}</changefreq>
    {%- else %}
      <changefreq>monthly</changefreq>
    {%- endif %}

    {%- if page.data.seoPriority %}
      <priority>{{ page.data.seoPriority }}</priority>
    {%- else %}
      <priority>0.5</priority>
    {%- endif %}
  </url>
{%- endfor %}
</urlset>
