---
layout: layouts/home.njk
title: Subscribe to Keenan's newsletter
eleventyNavigation:
  key: Subscribe
  order: 5
  cta: true
templateClass: page-subscribe
---

{% set newsletterModifiers = '-stacked -standalone' %}

{% include "newsletter.njk"  %}
