---
permalink: /tags/
title: Tags
templateClass: _page-spacing-bottom
sections:
  - type: intro
    heading: "Tags"
    subheading: "Here are all of the topics that I've written about on my website. Click on any tag to find all relevant content."
---

<div class="_text-align-center" style="margin-top: 1.5rem">
  {%- for tag in collections.tagList -%}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}

    <a href="{{ tagUrl | url }}" class="tag -large">
      {{ tag }}
    </a>
  {%- endfor -%}
</div>