---
layout: layouts/base.njk
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
  title: Articles tagged “{{ tag }}”
  tag: "{{ tag }}"
  introText: "Articles tagged with {{ tag }}"
changefreq: weekly
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - Featured
  addAllPagesToCollections: true
sections: 
  - type: intro
  - type: entries
    showCovers: false
    heading: "All articles"
    spacing: 10
    orientation: archive
    items: 
      from: posts
      limit: -100
  - type: newsletter
    spacing: 10
---