---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - Featured
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
templateClass: page-tags
---

{% import "organisms/entries/entries.njk" as entries with context %}

{{ entries.output(false, collections[ tag ], true, false, true) }}
