---
permalink: /tags/
layout: layouts/home.njk
templateClass: _container
---

<h1 class="_text-align-center">
  Tags
</h1>

<div class="_text-align-center">
{%- for tag in collections.tagList -%}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}

  <a href="{{ tagUrl | url }}" class="tag -large">
    {{ tag }}
  </a>
{%- endfor -%}
</div>