---
permalink: /types/
title: Post Types
templateClass: _container
exclude: 
  - Portfolio
  - Service
  - Book
---

<h1 class="_text-align-center">
  {{ title }}
</h1>

<div class="_text-align-center">
  {%- for type in collections.typeList -%}
  {# Exclude types #}
  {%- if exclude and not exclude.includes(type) -%}
      {% set typeUrl %}/type/{{ type | slug | plural }}/{% endset %}

      <a href="{{ typeUrl | url }}" class="tag -large">
        {{ type }}
      </a>
    {%- endif -%}
  {%- endfor -%}
</div>