//
// Post Archive
// ==================================================

.archive {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.archive-container { 
  grid-column-start: 1;
  grid-column-end: 7;

  @media (--medium) { 
    grid-column-start: 2;
    grid-column-end: 6;
  }
}

.archive-article {
  &:not(:last-of-type) {
    margin-bottom: $spacing-s;
  }
}