//
// Large CTA
// ==================================================

.largeCta {
  background-color: getColor(background, light);
  border-top: 3px solid getColor(base, splash);
  padding-bottom: $spacing-m;
  padding-top: $spacing-m;
}

//
// Descendants
// -----------

// Headline
.largeCta-headline { 
  font-size: typeScale(4);
  margin-bottom: $spacing-xxs;
  position: relative;
}

// Subhead
.largeCta-copy {
  max-width: 700px; 
}

// Link
.largeCta-link { 
  margin-top: $block-margin; 
}

// Rotating, supplemental information
.largeCta-headline-supplemental { 
  left: auto;
  margin-bottom: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  
  &:nth-of-type(1) { 
    animation: rotate-text-up 2s .5s; 
  }
  
  &:nth-of-type(2) { 
    animation: rotate-text-up 2s 2.15s; 
  }  
  
  
  &:nth-of-type(3) { 
    animation: rotate-text-up 2s 3.8s; 
  }  
  
  &:nth-of-type(4) { 
    animation: fade-text-in 1.5s 5.45s forwards;
  }
}

// Animations
@keyframes rotate-text-up { 
  0% {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  
  20%, 80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  
  100% {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
}

@keyframes fade-text-in { 
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}
