//
// Masthead
// ==================================================

.masthead {
  margin-bottom: $spacing-s;
  margin-top: $spacing-m;
  position: relative;
}

.masthead-heading { 
  margin-bottom: .15em;
}

.masthead-subhead {
  font-family: $font-tertiary;
  font-size: typeScale(3);
  margin-bottom: 0;
}