//
// Masthead
// ==================================================

.masthead {
  margin-bottom: $spacing-s;
  margin-top: $spacing-m;
  position: relative;
}

.masthead-subhead { 
  margin-bottom: 0;
}