//
// Masthead
// ==================================================

.masthead {
  padding-bottom: $spacing-section;
  padding-top: $spacing-section;

  // Modifiers
  &.-center { 
    text-align: center; 
  }
}

.masthead-subhead { 
  // Modifiers
  &.-narrow { 
    max-width: 70%;
  }
}