//
// Portfolio List
// ==================================================

.portfolioList {
  @media (--small) {
    column-count: 2;
    column-gap: 2rem;
  }

  @media (--medium) {
    column-count: 3;
    column-gap: 3rem;
  }

  @media (--extra-large) {
    column-count: 4;
    column-gap: 4rem;
  }
}

.portfolioList-item {
  @media (--medium) {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

// Remove top margin from first heading so it is flush
.portfolioList-heading {
  margin-top: $spacing-m;

  &:first-of-type { margin-top: 0; }
}
