//
// Post List
// ==================================================

.postList { 
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}


// 
// Descendants
// -----------

.postList-container { 
  grid-column-start: 7;
  grid-column-end: 1;

  @media (--small) { 
    grid-column-end: 2;
  }

  @media (--medium) { 
    grid-column-end: 3;
  }
}

.postList-article { 
  &:not(:last-of-type) { 
    margin-bottom: $spacing-xs;
  }
}

.postList-more {
  margin-top: $spacing-s;
}
