//
// Post Archive
// ==================================================

.postArchive {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.postArchive-container { 
  grid-column-start: 1;
  grid-column-end: 7;

  @media (--medium) { 
    grid-column-start: 2;
    grid-column-end: 6;
  }
}
