//
// Promo
// ==================================================

.promo {
  border: 2px solid var(--color-tertiary);
  box-shadow: 4px 4px 0 var(--color-tertiary),
              8px 8px 0 var(--color-tertiary-mid),
              12px 12px 0 var(--color-tertiary-light);
  color: var(--color-tertiary);
  display: block;
  font-size: 18px;
  font-weight: $fontWeight-regular;
  grid-column-start: 1;
  grid-column-end: 7;
  margin-top: $spacing-m;
  padding: 1rem;
  text-align: center;
  transition: all $transition-duration-long;

  @media (--medium) { 
    grid-column-start: 2;
    grid-column-end: 6;
  }

  &:hover {
    background-color: var(--color-tertiary);
    border-color: transparent;
    box-shadow: 5px 5px 0 rgba(254,67,101,.3), 10px 10px 0 rgba(254,67,101,.4), 15px 15px 0 rgba(254,67,101,.5);
    color: white;
    text-decoration: none;
  }
}
