//
// Projects
// ==================================================

.projects {
  display: grid;
  grid-column-gap: $spacing-m;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  overflow-x: scroll;
}

.project-image { 
  margin: 0; 
}

.project-text {
  margin-left: $spacing-xs;
  margin-right: $spacing-xs;
  margin-top: $spacing-s;

  @media (--large) { 
    font-size: typeScale(1);
  }
}
