//
// Work
// ==================================================

.work {
  @media (--small) {
    column-count: 2;
    column-gap: $spacing-s;
  }

  @media (--medium) {
    column-count: 3;
    column-gap: $spacing-m;
  }
}

.work-item {
  @media (--medium) {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  // Descendants
  a { 
    text-decoration: underline;
    text-decoration-color: var(--color-base-mid);

    &:hover { 
      text-decoration-color: var(--color-secondary);
    }
  }
}

// Remove top margin from first heading so it is flush
.work-heading {
  margin-top: $spacing-s;

  &:first-of-type { 
    margin-top: 0; 
  }
}
