//
// Work
// ==================================================

.work {
  @media (--small) {
    column-count: 2;
    column-gap: $spacing-s;
  }

  @media (--medium) {
    column-count: 3;
    column-gap: $spacing-m;
  }
}

.work-item {
  @media (--medium) {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

// Remove top margin from first heading so it is flush
.work-heading {
  margin-top: $spacing-s;

  &:first-of-type { 
    margin-top: 0; 
  }
}
