/* Root */
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	--color-text: #1c1b1b;
	--color-bg: #f5f3e5;
	--color-link: #83e1c3;
	--color-link-hover: #000;
  --color-deco: #e4dbd6;
  --font-futura: futura-pt, sans-serif;
  --font-futura-bold: futura-pt-bold, sans-serif;
  
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: var(--font-futura);
  margin: 0;
}

/* Typography */
a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

/* Page Layout */
[data-scroll] {
	will-change: transform;
}

.content {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 6rem 0;
	position: relative;
}

.item {
	margin: 10vh auto;
	max-width: 100%;
	position: relative;
  will-change: transform;
  

  // Different overflow values
  &:nth-of-type(odd) { 
    .item__img {
      --overflow: 40px;
    }
  }
  
  &:nth-of-type(even) { 
    .item__img {
      --overflow: 80px;
    }
  }
}

.item__date {
	bottom: calc(100% - 1.5rem);
	color: var(--color-deco);
	font-family: var(--font-futura-bold);
	font-size: 8rem;
  position: absolute;
  text-indent: 1.5rem;
}

.item:nth-child(even)::before {
	right: 0;
}

.item__img-wrap {
  --aspect-ratio: 16/9;
  --width: 960px;
  
	margin: 0 auto;
	max-width: calc(100% - 2rem);
	overflow: hidden;
	padding-bottom: calc(100% / (var(--aspect-ratio)));
	width: var(--width);
	will-change: transform;
}

.item__img {
  background: var(--image) no-repeat 50% 0%;
	height: calc(100% + (2 * var(--overflow)));
	top: calc( -1 * var(--overflow));
	width: 100%;
	position: absolute;
	background-size: cover;
  will-change: transform;
}

.item__caption {
	padding: 2rem 1rem;
}

.item__caption-title {
	font-family: paralucent, sans-serif;
	font-weight: 400;
	font-size: 3rem;
	margin: 0;
}

.item__caption-copy {
	margin: 0;
}

.item__caption-copy::before {
	content: '__';
	line-height: 1;
	color: var(--color-link);
	font-weight: 700;
	font-size: 3rem;
	margin: 0 0 1rem;
	display: block;
}

/* Page Loader */
.js .loading::before {
	background: var(--color-bg);
	content: '';
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}

.js .loading::after {
	animation: loaderAnim 0.7s linear infinite alternate forwards;
	background: var(--color-link);
	border-radius: 50%;
	content: '';
	height: 60px;
	left: 50%;
	margin: -30px 0 0 -30px;
	opacity: 0.4;
	pointer-events: none;
	position: fixed;
	top: 50%;
	width: 60px;
	z-index: 100000;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}