//
// Buttons
// ==================================================

button,
.button {
  background-color: getColor(base, splash);
  color: white;
  cursor: default;
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: background-color $transition-duration;
  vertical-align: middle;

  &:hover {
    background-color: getColor(base, splash-hover);
    color: white;
  }

  &:active,
  &:focus { background-color: getColor(base, splash); }
}
