<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="monetization" content="$ilp.uphold.com/9wMypREUn7GW">
    
    {% include "partials/meta.html" %}
    
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <meta name="author" content="" />
    
		<link rel="shortcut icon" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />

    {% set css %}
      {% include "../assets/app.css" %}
    {% endset %}

    <style>
      {% if variables.environment == 'prod' %}
        {{ css | cssmin | safe }}
      {% else %}
        {{ css | safe }}
      {% endif %}
    </style>

    {% set js %}
      {% include "../assets/app.js" %}
    {% endset %}

    <script>
      {% if variables.environment == 'prod' %}
        {{ js | jsmin | safe }}
      {% else %}
        {{ js | safe }}
      {% endif %}
    </script>
  </head>
  
	<body>
    {% include "partials/global-header.html" %}

		<main tabindex="-1" id="main-content">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% include "partials/global-footer.html" %}
	</body>
</html>
