//
// @mixin grid()
//
// Creates a consistent layout using CSS grid
//
// @param $columns {integer} Number of grid columns (default is `--grid-column-count`)
//

@mixin grid($columns: var(--grid-column-count), $gutters: var(--grid-gutters)) {
  display: grid;
  grid-template-columns: repeat($columns, minmax(0, 1fr));
  grid-gap: calc(#{$gutters} / 2);

  @media (--min-960) {
    grid-gap: $gutters;
  }
}