//
// Visibility Mixins
// ==================================================

//
// @mixin hidden()
//
// Hides things in an accessible way.
// Ref: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
//

@mixin hidden() {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}


//
// @mixin visible()
//
// Undoes the styling of `hidden()`
//

@mixin visible() {
  height: initial;
  left: initial;
  overflow: initial;
  position: initial;
  top: initial;
  width: auto;
}