{# TODO: Break out featured post and recent posts into separate files #}
{% import "organisms/entries/macros.njk" as entries with context %}

{#  
 # Macros
 #}

{# Articles #}
{% macro article(entry) %}
  {{ entries.postMeta(entry) }}
  {{ entries.postHeader(entry) }}
  {{ entries.postLede(entry) }}

  {%- if sections.entries.read_Link != false -%}
    {{ entries.postReadMore(entry) }}
  {%- endif -%}
{% endmacro %}

{# Books #}
{% macro book(entry) %}
  {{ entries.postImage(entry) }}
  {{ entries.postHeader(entry) }}

  <p class="entries-media-subtitle">
    {{ entry.data.book.subtitle }}
  </p>

  <p class="entries-media-author _text-small">
    By: {{ entry.data.book.author }}
  </p>

  {{ entries.postLede(entry) }}
{% endmacro %}

{# Portfolio Items #}
{# TODO: Turn into a separate component — separate from entries.njk #}
{% macro portfolio(entry) %}
  {% set portfolio = entry.data.portfolio %}
  {% set portfolioItem = portfolio[entry.data.title | lower] %}
  {% set lede = portfolioItem.lede %}
  {% set overview = portfolioItem.overview %}
  {% set url = entry.url %}
  {% set name = portfolioItem.name %}
  {% set cover = portfolioItem.cover %}

  <a href="{{ url }}" title="{{ name }}">
    <img class="entries-image" src="https://res.cloudinary.com/keenan-payne/image/upload/f_auto,q_auto,w_1000/{{ cover }}" alt="{{ name }}" />
  </a>

  <div class="entries-portfolio-content">
    {{ entries.postHeader(entry) }}

    {% if lede %}
      <p class="entries-lede _text-h5">
        {{ lede }}
      </p>
    {% endif %}

    {% if overview %}
      <p>
        {{ overview | safe }}
      </p>
    {% endif %}

    {% if url %}
      <p>
        <a class="-hover-background" href="{{ url }}" title="Visit the {{ name }} case study">
          View case study →
        </a>
      </p>
    {% endif %}
  </div>
{% endmacro %}


{# 
 # Output
 #}
{%- macro output(label, collection, tags, modifiers, more) -%}
  <section class="entries {{ modifiers if modifiers else '-stack _container' }}">
    {{ entries.postLabel(label) }}

    <div class="entries-items">
      {# Check if items exist in collection #}
      {% if collection.length %} 
        {%- for post in collection | reverse -%}
          {% set type = post.data.type %}
          {% set tags = post.data.tags %}

          {# TODO: The featured post is currently being displayed twice —  
                   once at the top of the page and again at the bottom.
                   I'm not sure if this is what I want to have happen, I may 
                   want to exclude featured post from other entries lists. #}
          <article class="entries-item{% if post.url == url %} entries-item-active{% endif %}">
            {%- if tags -%}
              {%- if tags.includes('Featured') == true -%}
                {{ entries.postImage(post, true) }}
              {%- endif -%}
            {%- endif -%}

            <div class="entries-item-content">
              {# Books are treated special #}
              {%- if type == 'Book' -%}
                {{ book(post) }}
              {%- elif type == 'Portfolio' -%}
                {{ portfolio(post) }}
              {%- else -%}
                {{ article(post) }}
              {% endif %}
            </div>

            {% if tags !== false %}
              {# {{ entries.postTags(post) }} #}
            {% endif %}
          </article>
        {%- endfor -%}
    
      {# If collection is empty #}
      {% else %}
        {% set content = 'No content is published here yet.' %}

        {% include "type/notice.html" %}
      {% endif %}
    </div>

    {%- if title != 'Book' -%}
      {%- if tag or more -%}
        <p class="entries-tagsLink _text-align-center">
          {% if tag %}
            <a class="-hover-background" href="{{ '/tags/' | url }}">All Tags →</a>
          {% elif more %}
            <a class="-hover-background" href="{{ '/archive/' | url }}">View Archive →</a>
          {% endif %}
        </p>
      {%- endif -%}
    {%- endif -%}
  </section>
{%- endmacro -%}