{# TODO: Break out featured post and recent posts into separate files #}

{% import "organisms/entries/macros.njk" as entries with context %}

{# 
 # Featured Post 
 #}
 {%- macro featured(label, collection, tags) -%}
  <section class="v2-postlist-featured">
    {{ entries.postLabel(label) }}

    <div class="v2-postlist-items">
      {# Check if items exist in collection #}
      {% if collection.length %}
        {%- for post in collection | reverse -%}
          <div class="v2-postlist-image" style="background: url('{% first_image_link post %}') no-repeat center center / cover; background-size: cover;"></div>
          
          {% set title = post.data.title %}

          <article class="v2-postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
            {{ entries.postMeta(post) }}
            {{ entries.postHeader(post) }}
            {{ entries.postLede(post) }}
            {{ entries.postReadMore(post) }}

            {% if tags !== false %}
              {{ entries.postTags(post) }}
            {% endif %}
          </article>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </section>
{%- endmacro -%}


{#  
 # Recent Posts
 #}
{% macro recent(label, collection, tags, modifiers, more) %}
  <section class="postlist {{ modifiers }} _container">
    {{ entries.postLabel(label) }}

    <div class="postlist-items">
      {# Check if items exist in collection #}
      {% if collection.length %}
        {%- for post in collection | reverse -%}
          {# Exclude featured posts #}
          {%- if not post.data.tags.includes('Featured') -%}
            {# {% first_image post %} #}

            <article class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
              {{ entries.postMeta(post) }}
              {{ entries.postHeader(post) }}
              {{ entries.postLede(post) }}

              {% if tags !== false %}
                {{ entries.postTags(post) }}
              {% endif %}
            </article>
          {%- endif -%}
        {%- endfor -%}
    
      {# If collection is empty #}
      {% else %}
        {% set content = 'No content is published here yet.' %}

        {% include "type/notice.html" %}
      {% endif %}
    </div>

    {% if tag or more %}
      <p class="postlist-tagsLink _text-align-center">
        {% if tag %}
          <a href="{{ '/tags/' | url }}">All Tags →</a>
        {% elif more %}
          <a href="{{ '/archive/' | url }}">View Archive →</a>
        {% endif %}
      </p>
    {% endif %}
  </section>
{%- endmacro -%}