<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>
      {{ title }}
    </title>
    
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <meta name="author" content="" />
    
		<link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/dist/css/app.min.css" />
  </head>
  
	<body>
    {% include "partials/global-header.html" %}

		<main tabindex="-1" id="main-content">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% include "partials/global-footer.html" %}
	</body>
</html>
