//
// Flexicution
// ==================================================


//
// Base
// ----

:root {
  background-color: getColor(background, body);
  font-family: $font-primary;
  font-weight: 300;
  letter-spacing: -.65px;
  text-rendering: optimizeLegibility;
  word-spacing: .25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (--extra-large) {
    font-size: $font-size-extra-large + px;
  }

  @media (--very-large) {
    font-size: $font-size-very-large + px;
  }
}


//
// Typography
// ----------

h1, h2 {
  font-family: $font-secondary;
  letter-spacing: 0;

  + p { margin-top: $spacing-xs; }

  small {
    display: inline-block;
    font-family: $font-primary;
    font-size: 65%;
    letter-spacing: -1.15px;
    text-indent: 5px;
  }
}

h3, h4, h5 { font-family: $font-primary; }

pre, code { background-color: transparent; }


//
// Layout
// ------

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: $media-xlarge-min;
  width: calc(100% - (#{$flex-grid-gutter-width} * 2));
}

.box {
  background-color: #EDF1F2;
  border: 1px solid #9CA6AF;
  font-size: .875rem;
  line-height: 2.25;
  margin-bottom: $spacing-xs;
  min-height: 2rem;
  overflow: hidden;
  text-align: center;

  .box {
    margin: .5rem;

    @media (--medium) {
      margin: 1rem;
    }
  }
}


//
// Project Header
// --------------

.flexHead {
  background-color: getColor(flexicution, header);
  margin-top: 0;
  padding-bottom: $spacing-l;
  padding-top: $spacing-l;
  text-align: center;

  @media (--small) {
    padding-bottom: $spacing-xl;
    padding-top: $spacing-xl;
  }
}

.flexHead-title {
  color: white;
  font-size: typeScale(9);
  margin-top: 0;

  @media (--small) {
    font-size: typeScale(10);
  }

  @media (--medium) {
    font-size: typeScale(12);
  }
}

.flexHead-subtitle {
  color: white;
  font-size: typeScale(2);
  font-weight: 300;
  margin-top: $spacing-xs;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;

  @media (--small) {
    font-size: typeScale(3);
    max-width: 550px;
  }

  a {
    &,
    &:hover { color: white; }
  }
}

.flexHead-nav { margin-top: $spacing-m; }

.flexHead-nav-item {
  border: 2px solid white;
  color: white;
  font-size: typeScale(2);
  font-weight: 600;
  padding: $spacing-xxs $spacing-s;
  transition: background-color $transition-duration;

  &:not(:last-of-type) { margin-right: $spacing-xxs; }

  &:hover { background-color: white; }

  @media (--small) {
    font-size: typeScale(3);
  }
}


//
// Instructions
// ------------

.instructions {
  background-color: getColor(background, light);
  border-bottom: 1px solid getColor(flexicution, border);
  margin-bottom: $spacing-m;
  margin-top: 0;

  h2 + p {
    @media (--large) {
      max-width: 75%;
    }
  }
}

.instructions-header:first-of-type {
  margin-bottom: $spacing-xs;
  margin-top: 0;
  padding-top: $spacing-m;
}


//
// Demos
// -----

.demo { margin-top: $spacing-s; }

.demo-format + .demo { margin-top: $spacing-xs; }

.demo-format {
  font-weight: 600;
  margin-bottom: 1rem;
}


//
// Footer
// ------

.flexFooter {
  background-color: getColor(background, light);
  border-top: 1px solid getColor(flexicution, border);
  font-size: .75rem;
  margin-top: $spacing-m;
  padding-bottom: $spacing-s;
  padding-top: $spacing-s;
  text-align: center;

  p { margin-bottom: 0; }

  iframe {
    margin-top: 0;

    &:not(:last-of-type) { margin-right: 5px; }
  }
}
