{#  
 # Mission Statement
 #}
{% macro centered(label, text) %}
  <section class="missionStatement">
    {%- if label -%}
      <h2 class="missionStatement-label _label">
        {{ label }}
      </h2>
    {%- endif -%}

    {%- if text -%}
      <p class="missionStatement-text _text-h3 _type-my-voice">
        {{ text }}
      </p>
    {%- endif -%}
  </section>
{%- endmacro -%}