//
// Site Footer
// ==================================================

.siteFooter {
  border-top: 1px solid getColor(base, lines);
  font-size: typeScale(1);
  margin-top: 0;
  padding-bottom: $spacing-xs;
  padding-top: $spacing-xs;
}

.siteFooter-copy { 
  font-size: typeScale(1); 
  margin-bottom: $spacing-xxs;

  @media (--medium) { 
    margin-bottom: 0;
  }
}


// 
// Social
// ------

// Mixin
@mixin social-link($color) {
  color: $color;

  &:hover { color: darken($color, 10%); }
}

// Styles
.siteFooter-social { 
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0; 
  text-align: right;

  // Descendants
  li { 
    margin-bottom: 0;
  }
}

.siteFooter-social-link-wrapper {
  display: inline-block;
  list-style-type: none;

  &:not(:first-of-type) {
    margin-left: .5em;

    @media (--small) {
      margin-left: 1em;
    }
  }
}

.siteFooter-social-link {
  // Networks
  &.-dribbble { @include social-link(#ea4c89); }
  &.-github { @include social-link(#24292e); }
  &.-behance { @include social-link(#0057ff); }
  &.-linkedin { @include social-link(#0077b5); }
  &.-codepen { @include social-link(#959595); }
}
