//
// Site Header
// ==================================================

.siteHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: $spacing-xs;

  .siteHeader-hiddenLink {
    display: none;
    visibility: hidden;
  }
}
