//
// Site Header
// ==================================================

// 
// Container
// ---------

.siteHeader {
  background-color: var(--color-secondary);
  border-bottom: 3px solid var(--color-base-mid);
  color: white;
  padding-bottom: 1em;
  padding-top: 1em;
  
  @media (--small) {
    border-bottom-width: 5px;
  }

  // Descendants
  a { 
    &:hover { 
      color: var(--color-tertiary-mid);
    }
  }
}

.siteHeader-container {
  justify-content: space-between;

  @media (--small) { 
    align-items: center;
    display: flex;
  }
}


//
// Logo
// ----

.siteHeader-logo {
  font-family: $font-tertiary;
  font-size: 18px;
  font-variant: all-small-caps;
  font-weight: $fontWeight-semibold;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}


// 
// Navigation
// ----------

.siteHeader-navigation {
  border-top: 1px solid var(--color-base);
  margin-top: -.2em;
  padding-top: .5em;
  text-align: right;

  @media (--small) { 
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }

  // Descendants
  ul {
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
  }
}

// Individual navigation items
.siteHeader-navigation-item {
  display: inline-block;
  margin-bottom: 0 !important;

  @media (--small) {
    font-size: .75rem;
  }

  &:not(:last-of-type) {
    margin-right: $spacing-s;
  }
}
