//
// Site Header
// ==================================================

.siteHeader {
  justify-content: space-between;
  padding-top: $spacing-s;

  @media (--small) { 
    align-items: center;
    display: flex;
  }
}
