//
// Horizontal Navigation
// ==================================================

.siteNavigation {
  margin-top: 0;
  text-align: right;

  // Descendants
  ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  a {
    opacity: .65;
    text-decoration: none;
    transition: opacity $transition-duration-med;

    &:hover { opacity: 1; }

    // Modifiers
    &.-is-active {
      color: getColor(text, activeLink);
      opacity: 1;
    }
  }
}

.siteNavigation-item {
  display: inline-block;
  margin-bottom: 0 !important;

  @media (--medium) {
    font-size: typeScale(1);
  }

  &:not(:last-of-type) {
    margin-right: $spacing-s;
  }
}
