//
// Mobile Nav
// =============================================================================

.mobileNav {
  color: white;
  height: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 5px;
  transition: all ease-in $transition-duration;
  width: 100%;
  z-index: 800;

  @media (--medium) {
    opacity: 0 !important;
  }

  &.-is-active {
    height: 100%;
    min-height: 100%;
    opacity: 1;
    pointer-events: auto;
  }
}

.mobileNav-container {
  background-color: getColor(background, light);
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  overflow: scroll;
  padding: $spacing-xl $spacing-s 0;
  text-align: left;
  width: 100%;

  &::-webkit-scrollbar { width: 0; }

  a {
    color: getColor(text, heading);
    text-decoration: none;

    &:hover { color: getColor(text, secondary); }
  }

  ul {
    margin-top: 0;
    padding-left: 0;
  }

  li {
    display: block;
    font-family: $font-secondary;
    font-size: typeScale(8);
    list-style-type: none;
    margin-bottom: $spacing-xs;
  }
}


//
// Close Link
// ----------

.mobileNav-close {
  position: absolute;
  right: $spacing-s;
  top: $spacing-s;
}
