  <footer class="siteFooter" role="complementary">
    <div container>
      <div grid="center">
        <div column="2">
          <img class="siteFooter-me" src="https://luna1.co/81a96d.jpg" alt="Picture of Keenan Payne">
        </div>

        <div column="10">
          <p><strong>Yo</strong></p>

          <p class="siteFooter-description">Hello, I'm Keenan Payne, a front-end architect, web developer, writer, and open-source enthusiast based out of San Francisco, CA. I love building visually stunning user interfaces that are usable for users and developers alike.</p>

          <a href="https://dribbble.com/keenanpayne" title="Dribbble profile" target="_blank">
            <img class="icon" src="/images/icons/dribbble.svg" alt="Dribbble icon">
          </a>

          <a href="https://github.com/keenanpayne" title="GitHub profile" target="_blank">
            <img class="icon" src="/images/icons/github.svg" alt="GitHub icon">
          </a>

          <a href="https://www.behance.net/keenanpayne" title="Behance profile" target="_blank">
            <img class="icon" src="/images/icons/behance.svg" alt="Behance icon">
          </a>

          <a href="https://www.linkedin.com/in/keenanpayne" title="LinkedIn profile" target="_blank">
            <img class="icon" src="/images/icons/linkedin.svg" alt="LinkedIn icon">
          </a>

          <a href="https://github.com/keenanpayne/keenanpayne.com" title="Fork this website" target="_blank">
            <img class="icon" src="/images/icons/fork.svg" alt="GitHub icon">
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
