  <footer class="siteFooter" role="complementary">
    <div container>
      <div grid="center">
        <div column="2">
          <img class="siteFooter-me" src="https://luna1.co/81a96d.jpg" alt="">
        </div>

        <div column="10">
          <p><strong>Yo</strong></p>

          <p class="siteFooter-description">LinkedIn profile text goes right here that explains who I am, what I do, and what experience I have.</p>

          <a href="https://dribbble.com/keenanpayne" title="Dribbble profile" target="_blank">
            <img class="icon" src="/images/icons/dribbble.svg">
          </a>

          <a href="https://github.com/keenanpayne" title="GitHub profile" target="_blank">
            <img class="icon" src="/images/icons/github.svg">
          </a>

          <a href="https://www.behance.net/keenanpayne" title="Behance profile" target="_blank">
            <img class="icon" src="/images/icons/behance.svg">
          </a>

          <a href="https://www.linkedin.com/in/keenanpayne" title="LinkedIn profile" target="_blank">
            <img class="icon" src="/images/icons/linkedin.svg">
          </a>

          <a href="https://github.com/keenanpayne/keenanpayne.com" title="Fork this website" target="_blank">
            <img class="icon" src="/images/icons/fork.svg">
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
