{% if page.layout == 'flexicution' %}
  <link rel="stylesheet" href="/dist/flex.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Overpass:300" rel="stylesheet">

  <script src="//cdn.jsdelivr.net/caniuse-embed/1.1.0/caniuse-embed.min.js"></script>
{% else %}
  <link rel="stylesheet" href="/dist/site.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900i,900|Hind:400">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/site.js"></script>
{% endif %}
