<div grid>
  {% for section in page.portfolioList %}
    <dl column="6" class="portfolioList">
    	<h3>
        {{ section.title }}

        {% if section.subtext %}
          <small class="heading-subtext">{{ section.subtext }}</small>
        {% endif %}
      </h3>

      {% for item in section.items %}
        {% if forloop.index == 6 %}
          <!-- <span>
            <p class="portfolioList-viewmore">View more articles</p>
          </span> -->
        {% endif %}

      	<span>
      		<dt>
            <a href="{{ item.url }}" title="{{ item.title }}" target="_blank">{{ item.title }}</a>
          </dt>

      		<dd>{{ item.description }}</dd>
      	</span>
      {% endfor %}
    </dl>
  {% endfor %}
</div>
