<div grid>
  {% for section in page.portfolioList %}
    <dl column="6" class="portfolioList {{ section.modifiers }}">
      <span>
      	<h3>
          {{ section.title }}

          {% if section.subtext %}
            <small class="heading-subtext">{{ section.subtext }}</small>
          {% endif %}
        </h3>
      </span>

      {% for item in section.items %}
        {% if forloop.index != section.limit %}
        	<span>
        		<dt>
              <a href="{{ item.url }}" title="{{ item.title }}" target="_blank">{{ item.title }}</a>
            </dt>

        		<dd>{{ item.description }}</dd>
        	</span>
        {% endif %}
      {% endfor %}
    </dl>
  {% endfor %}
</div>
