{% for section in page.portfolio %}
  <h3 class="tile-header"><strong>{{ section.title }}</strong></h3>

  {% if section.description %}
    <p class="tile-description">{{ section.description }}</p>
  {% endif %}

  <div grid container>
    {% for item in section.items %}
      <a class="tile -animated-{{ forloop.index }}" href="{{ item.url }}" title="View more info about {{ item.title }}" target="_blank">
        <picture>
          <source srcset="images/{{ item.image }}.webp" type="image/webp">
          <source srcset="images/{{ item.image }}.png" type="image/jpeg">
          <img src="images/{{ item.image }}.png" alt="{{ item.title }}">
        </picture>

        <span class="tile-title">{{ item.title }}</span>
      </a>
    {% endfor %}
  </div>
{% endfor %}
