<section class="postlist -stack">
  <nav class="postlist-toggle">
    Recently Published
  </nav>

  <div class="postlist-items">
    {%- for post in postslist | reverse -%}
      <article class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
        <div class="postlist-meta">
          {%- if post.data.type -%}
            <span class="_label">
              {{ post.data.type }}
            </span>
          {%- endif -%}

          <time class="_small-text" datetime="{{ post.date | htmlDateString }}">
            {{ post.date | readableDate }}
          </time>
        </div>

        <header class="postlist-header">
          <h3 class="postlist-title">
            <a href="{{ post.url | url }}" class="postlist-link">
              {% if post.data.title %}
                {{ post.data.title }}
              {% else %}
                <code>{{ post.url }}</code>
              {% endif %}
            </a>
          </h3>

          <p class="postlist-lede">
            This is a lede for the article that will be displayed in multiple contexts — meta description, tiles, and article header.
          </p>
        </header>

        <ul class="postlist-tags">
          {%- for tag in post.data.tags | filterTagList -%}
            <li class="postlist-tag">
              {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}

              <a href="{{ tagUrl | url }}" class="post-tag">
                {{ tag }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </article>
    {%- endfor -%}
  </div>
</section>