//
// Post
// ==================================================

//
// Container
// ---------

.post {
  padding-top: 4rem;
}


//
// Header
// ------

.post-header {
  padding-bottom: 3rem;
  padding-left: 0;
  padding-right: 0;
}


//
// Container
// ---------

.post-container {
  
}


//
// Content
// -------

.post-content {
  > p,
  > ol,
  > ul,
  > h1,
  > h2,
  > h3,
  > .highlighter-rouge {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
  }

  > p,
  > ul,
  > ol {
    margin-bottom: 1.5em;
  }

  > p.-large,
  > blockquote {
    @media (--medium) {
      margin-bottom: $spacing-s;
      margin-left: $spacing-m;
      margin-top: $spacing-s;
    }
  }

  > blockquote { 
    max-width: 750px;
  }

  h2, h3 {
    margin-top: 1.5em;
    position: relative;
  }

  // Adjust spacing when <h3> follows image gallery
  .gallery + h3 {
    margin-top: .5em;
  }

  // Lists
  > ul, 
  > ol {
    padding-left: 1.5em;

    // Nested lists
    ul, ol {
      margin-bottom: 0;
      margin-top: .5em;
    }

    // List items
    li {
      margin-bottom: 1em;  
    
      // Nested list items
      li {
        &:not(:last-child) { 
          margin-bottom: .5em;
        }
      }
    }
  }

  // Figures
  figure { 
    display: block;
    margin: $spacing-xxs auto $spacing-s;
    max-width: 100%;
    width: 100%;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    figcaption {
      color: var(--color-secondary);
      font-size: typeScale(1);
      font-style: italic;
      margin-right: $spacing-xxs;
      margin-top: $spacing-xxs;
      text-align: right;

      br {
        display: none;

        @media (--medium) {
          display: block;
        }
      }

      p {
        font-style: normal;
        margin-bottom: 0;
        margin-top: .5em;
      }
    }
  }

  // Horizontal rules
  hr {
    + p {
      margin-top: 1.5em;
    }
  }
  
  // Highlighted text
  // Ref: https://max.hn/thoughts/how-to-create-a-highlighter-marker-effect-in-css
  mark {
    background: transparent;
    background-image: linear-gradient(to right,
      rgba(255,225,0,0.15),
      rgba(255,225,0,0.6) 7.5%,
      rgba(255,225,0,0.25));
    border-radius: 0.8em 0.3em;
    box-decoration-break: clone;
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
  }

  // Descendants
  .cp_embed_wrapper { 
    margin-bottom: $spacing-s;
    margin-top: $spacing-s;
  }
}

// Comments
.post-comments { 
  margin-top: $spacing-l; 
}


//
// Heading Anchor
// --------------

.post-content-header-link {
  display: none;
  font-size: .7em;
  font-weight: $fontWeight-display-bold;
  margin-left: -2ch;
  margin-right: 1ch;
  opacity: .4;
  transition: opacity $transition-duration;
  vertical-align: .5ch;

  @media (--medium) {
    display: inline-block;
  }

  &:hover,
  &:active {
    opacity: .75;
    text-decoration: none;
  }
}


// 
// Meta
// ----

.post-meta { 
  border-top: 1px solid var(--color-secondary-light);
  margin-bottom: 0;
  padding-left: .05rem;
  padding-top: .5rem;

  // Descendants 
  > span { 
    display: block;
    font-size: typeScale(1);
    position: relative;

    @media (--small) { 
      display: inline-block;
    }

    &:not(:first-of-type) { 
      margin-top: .25rem;

      @media (--small) { 
        border-left: 1px solid var(--color-secondary-light);
        margin-left: .7em;
        margin-top: 0;
        padding-left: .8em;
      }
    }
  }
}


//
// Extras
// ------

.post-extras {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}