//
// Post
// ==================================================

//
// Container
// ---------

.post {
  padding-top: $spacing-l;
}


//
// Header
// ------

.post-header {
  padding-bottom: $spacing-xs;
  padding-left: 0;
  padding-right: 0;
}


//
// Content
// -------

.post-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  // Typography
  > p,
  > ol,
  > ul,
  > h1,
  > h2,
  > h3,
  > blockquote {
    grid-column-start: 1;
    grid-column-end: 7;

    @media (--medium) {
      grid-column-start: 2;
      grid-column-end: 6;
    }
  }

  h1, h2, h3 {
    position: relative;

    // Display anchor on header hover
    &:hover {
      .post-content-header-link { 
        opacity: .5; 
      }
    }
  }

  h2 {
    margin-bottom: $spacing-xs;
    margin-top: $spacing-s;

    .post-content-header-link svg { 
      vertical-align: baseline;
    }
  }

  h3 {
    margin-bottom: $spacing-xs;
    margin-top: $spacing-xs;
  }

  ul,
  ol { 
    margin-top: 0;
  }

  figure { 
    grid-column-start: 1;
    grid-column-end: 7;
    margin: $spacing-xxs 0 $spacing-s;
    max-width: 100%;
    width: 100%;
  }

  // Descendants
  .cp_embed_wrapper { 
    grid-column-start: 1;
    grid-column-end: 7;
    margin-bottom: $spacing-xs;
  }
}

// Comments
.post-comments { 
  grid-column-start: 1;
  grid-column-end: 7;
  margin-top: $spacing-l; 

  @media (--medium) { 
    grid-column-start: 2;
    grid-column-end: 6;
  }
}


//
// Heading Anchor
// --------------

.post-content-header-link {
  margin-left: .15em;
  opacity: 0;
  transition: opacity $transition-duration;

  &:hover,
  &:active {
    opacity: 1;
    text-decoration: none;
  }

  // Descendants
  svg { 
    width: .6em;
  }
}


// 
// Meta
// ----

.post-meta {
  margin-left: .5rem;

  &:before {
    content: "·";
    padding-right: .5rem;
    vertical-align: middle;
  }
}
