{% assign postcount = site.posts | size %}

<section class="posts _sectionSpacing-full" container>
  {% if page.posts_title %}
    {% capture title %}
      {{ page.posts_title }}
    {% endcapture %}

    {% include type/section-heading.html content=title %}
  {% endif %}

  <div class="posts-container _scroll-horizontal">
    {% for post in site.posts limit:page.posts_limit %}
      <article class="posts-article">
        <header>          
          <h3 class="posts-title">
            <a href="{{ post.url }}" title="{{ post.title }}">
              {{ post.title|smartify }}
            </a>
          </h3>
        </header>
      </article>
    {% endfor %}  
  </div>

  {% if postcount > page.posts_limit %}
    <div class="posts-more">
      <a href="/blog" class="-cta -arrow" title="View archive">
        View archive
      </a>
    </div>
  {% endif %}
</section>
