//
// Buttons
// ==================================================

button,
.button {
  background-color: var(--color-tertiary-mid);
  color: white;
  cursor: default;
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: background-color $transition-duration;
  vertical-align: middle;

  &:hover {
    background-color: var(--color-tertiary);
    color: white;
  }

  &:active,
  &:focus { 
    background-color: var(--color-tertiary-mid); 
  }


  //
  // Modifiers
  // ---------

  &.-flat { 
    background-color: transparent;
    color: inherit;
    line-height: 1;
    padding: 0;
  }
}
