//
// Content Box
// ==================================================

.contentBox {
  opacity: 0;
  padding: $spacing-xs;
  transition: background-color $transition-duration;

  &.-animated { animation: fadeIn .5s .5s forwards, moveUp .75s .5s ease-out forwards; }

  &.-animate-stagger-1 { animation-delay: .5s; }

  &.-animate-stagger-2 { animation-delay: .7s; }

  &.-animate-stagger-3 { animation-delay: .9s; }

  &.-animate-stagger-4 { animation-delay: 1.1s; }
}

.contentBox-title {
  @media (--medium-max) {
    margin-top: $spacing-m;
  }
}
