//
// Content Box
// ==================================================

.contentBox {
  padding-left: $spacing-s;
  padding-right: $spacing-s;

  @media (--medium-max) {
    &:not(:first-child) {
      margin-top: $spacing-m;
    }
  }
}

.contentBox-title { margin-top: 0; }
