//
// Content Box
// ==================================================

.contentBox {
  opacity: 0;
  padding-left: calc(2rem + .2vw);
  padding-right: calc(2rem + .2vw);

  @media (--medium-max) {
    &:not(:first-child) {
      margin-top: $spacing-m;
    }
  }

  &.-animated { animation: fadeIn .5s .5s forwards, moveUp .75s .5s ease-out forwards; }

  &.-animate-stagger-1 { animation-delay: .5s; }

  &.-animate-stagger-2 { animation-delay: .7s; }

  &.-animate-stagger-3 { animation-delay: .9s; }
}

.contentBox-title { margin-top: 0; }
