//
// Footnotes
// ==================================================

.footnotes {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-start: 1;
  grid-column-end: 7;

  &:before {
    border-top: 1px solid getColor(base, lines);
    color: getColor(text, secondary);
    content: 'Footnotes:';
    display: block;
    font-size: typeScale(1);
    font-weight: $fontWeight-bold;
    grid-column-start: 1;
    grid-column-end: 9;
    letter-spacing: .05em;
    margin-bottom: .5rem;
    margin-top: $spacing-xxs;
    padding-top: $spacing-xxs;

    @media (--medium) { 
      grid-column-start: 3;
      grid-column-end: 7;
    }
  }

  ol { 
    grid-column-start: 1;
    grid-column-end: 9;
    margin-bottom: 0;
    margin-top: 0;

    @media (--medium) { 
      grid-column-start: 3;
      grid-column-end: 7;
    }
  }

  // Note number
  li {
    font-size: 75%;

    &:before {
      color: getColor(text, secondary);
      float: left;
      font-weight: bold;
      margin-left: .25rem;
      margin-right: .35rem;
    }
  }
}

a.reversefootnote {
  color: getColor(text, secondary);
  font-size: typeScale(.5);
  text-decoration: none;
}

.footnote {
  margin-right: .1em;
  text-decoration: none;

  &:hover {
    color: getColor(text, secondary);
    text-decoration: underline;
  }
}
