//
// Intro Text
// ==================================================

.introtext {
  padding-bottom: $spacing-xl;
  padding-top: $spacing-xl;

  a {
    &,
    &:hover { color: getColor(base, splash); }
  }
}

.introtext-text {
  letter-spacing: -.01rem;
  font-size: typeScale(6);

  @media (--medium) {
    letter-spacing: -.025rem;
    font-size: typeScale(8);
  }
}
