//
// Lab Examples
// ==================================================

.lab-container {
  @media (--medium) {
    &:nth-of-type(n+3) { margin-top: $spacing-m; }
  }
}

.lab {
  opacity: 0;

  @media (--medium-max) {
    margin-bottom: $spacing-s;
  }

  &.-animated { animation: fadeIn .5s .5s forwards, moveUp .75s .5s ease-out forwards; }

  &.-animate-stagger-1 { animation-delay: .5s; }

  &.-animate-stagger-2 { animation-delay: .7s; }

  &.-animate-stagger-3 { animation-delay: .9s; }

  &.-animate-stagger-4 { animation-delay: 1.1s; }

  // Codepen Embed
  iframe {
    height: 300px;

    @media (--medium) {
      height: 400px;
    }

    @media (--very-large) {
      height: 500px;
    }
  }
}
