//
// Lab Examples
// ==================================================

.labs { margin-bottom: $spacing-xxl; }

.labs-lab {
  @media (--medium-max) {
    margin-bottom: $spacing-s;
  }

  // Codepen Embed
  iframe {
    height: 450px;

    @media (--medium) {
      height: 550px;
    }

    @media (--very-large) {
      height: 650px;
    }
  }
}

.lab-codepen {
  margin-top: $block-margin;
  text-align: center;
}
