//
// Large CTA
// ==================================================

.largeCta {
  background-color: getColor(background, light);
  border-top: 3px solid getColor(base, splash);
  margin-top: $spacing-xs;
  padding-bottom: $spacing-m;
  padding-top: $spacing-m;
}

.largeCta-heading {
  font-size: typeScale(3);
  font-weight: $fontWeight-normal;
}

.largeCta-copy { max-width: $content-limit-large; }

.largeCta-link { margin-top: $block-margin; }
