//
// Logo
// ==================================================

.logo {
  font-size: typeScale(9);
  font-weight: 900;
  letter-spacing: -1.75px;
  line-height: .85;
  margin-bottom: 0;
  padding-bottom: $spacing-xs;

  @media (--medium-max) {
    max-width: 350px;
  }

  a {
    &:hover {
      border-bottom: none;
      color: inherit;
    }
  }
}
