//
// Masthead
// ==================================================

.masthead {
  padding-bottom: $spacing-section-half;
  padding-top: $spacing-section-half;

  // Modifiers
  &.-center { 
    text-align: center; 
  }

  // Descendants
  h1, h2 { 
    margin-bottom: 0;
    margin-top: 0;
  }
}
