//
// Masthead
// ==================================================

.masthead {
  padding-bottom: $spacing-l;
  padding-top: $spacing-l;
}

.masthead-heading {
  font-size: typeScale(8);
  letter-spacing: -.5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.masthead-subtitle {
  color: getColor(text, secondary);
  font-family: $font-secondary;
  font-style: italic;
  text-align: center;
}
