//
// Newsletter Slide-In
// ==================================================

.newsletterSlideIn {
  background-color: white;
  box-shadow: 0 0 4px 0 var(--color-secondary-light);
  bottom: 0;
  padding: 1.5rem 1rem 0;
  position: fixed;
  transform: translateY(100%);
  transition: transform ($transition-duration-long * 2) ease-in;
  right: 1rem;
  width: 350px;
  
  &:before { 
    background: linear-gradient(to right, var(--color-tertiary-mid) 0, var(--color-tertiary-light) 60%, var(--color-base-mid) 100%);
    content: '';
    position: absolute;
    top: 0;
    height: 5px;
    left: 0;
    display: block;
    width: 100%;
  }
  
  // Modifiers
  &.-visible { 
    @media (--medium) {
      transform: translateY(0);
    }
  }
}

.newsletterSlideIn-headline {
  font-weight: bold;
}

.newsletterSlideIn-description {
  font-size: typeScale(1);
  margin-bottom: 1rem;
}

.newsletterSlideIn-close {
  cursor: pointer;
  font-size: typeScale(4);
  opacity: .3;
  position: absolute;
  right: .5rem;
  top: 0;
  transition: opacity $transition-duration-long;

  &:hover { 
    opacity: .6;
  }
}