//
// Portfolio List
// ==================================================

.portfolioList {
  @media (--small) {
    column-count: 2;
    column-gap: 2rem;
  }

  @media (--medium) {
    column-count: 3;
    column-gap: 3rem;
  }

  @media (--extra-large) {
    column-count: 4;
    column-gap: 4rem;
  }
}

.portfolioList-item {
  @media (--medium) {
    display: table;
    page-break-inside: avoid;
  }
}

.portfolioList-item-description {
  color: getColor(text, secondary);
  font-size: typeScale(.5);
  margin-bottom: $spacing-s;
}
