//
// Post List
// ==================================================

.postList {
  margin-bottom: $spacing-xxl;
  margin-top: 0; 
}

.postList-article {
  padding-bottom: $spacing-s;

  &:not(:last-of-type) {
    border-bottom: 1px solid getColor(base, lines);
  }
}

.postList-title {
  font-size: typeScale(6);
  margin-top: 0;
}

.postList-date { color: getColor(text, secondary); }
