//
// Post List
// ==================================================

.postList {
  // Modifiers
  &.-top-margin { margin-top: $spacing-xl; }

  &.-bottom-padding { padding-bottom: $spacing-xl; }

  &.-bg-light {
    background-color: getColor(background, light);
    border-bottom: 3px solid getColor(base, splash);
    border-top: 3px solid getColor(base, splash);
    padding-bottom: $spacing-xl;
    padding-top: $spacing-xl;
  }
}

.postList-article {
  &:not(:last-of-type) {
    border-bottom: 1px solid getColor(base, lines);
    padding-bottom: $spacing-s;
  }
}

.postList-more {
  margin-top: $spacing-l;
  text-align: center;
}
