//
// Projects
// ==================================================

.projects {
  margin-bottom: $spacing-m;
  margin-top: $spacing-xl;

  @media (--medium) {
    padding-left: $spacing-l;
    padding-right: $spacing-l;
  }
}

.project {
  opacity: 0;

  @media (--large) {
    padding-left: $spacing-l;
    padding-right: $spacing-l;
  }

  &:not(:first-of-type) {
    @media (--medium-max) {
      margin-top: $spacing-l;
    }
  }

  &.-animated { animation: fadeIn .5s .5s forwards, moveUp .75s .5s ease-out forwards; }

  &.-animate-stagger-1 { animation-delay: .5s; }

  &.-animate-stagger-2 { animation-delay: .7s; }
}

.project-image {
  display: block;
  margin: 0 auto $spacing-s;
  max-width: 175px;
}
