//
// Promo
// ==================================================

.promo {
  border: 2px solid getColor(base, splash);
  color: getColor(base, splash);
  display: block;
  font-size: typeScale(.5);
  font-weight: $fontWeight-bold;
  margin-top: $spacing-l;
  opacity: .85;
  padding: $spacing-xs;
  text-align: center;
  transition: all $transition-duration-med;

  &:hover {
    background-color: getColor(base, splash);
    color: white;
    opacity: 1;
    text-decoration: none;
  }
}
