//
// Projects
// ==================================================

.projects { margin-bottom: $spacing-xxl; }

.project {
  &:not(:last-of-type) {
    margin-bottom: $spacing-m;
  }
}

.project-image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (--medium-max) {
    margin-bottom: $spacing-s;
  }
}

.project-tag {
  background: getColor(background, light);
  border: 1px solid getColor(base, lines);
  border-radius: $border-radius;
  display: inline-block;
  font-size: .85rem;
  font-weight: $fontWeight-bold;
  margin-top: 0;
  padding: .15rem $spacing-xxs;

  &:not(:last-of-type) { margin-right: $spacing-xxs; }

  @media (--small-max) {
    &:nth-of-type(n+3) { margin-top: $spacing-xxs; }
  }

  @media (--medium) {
    font-size: .65rem;
  }
}
