//
// Projects
// ==================================================

.projects { margin-bottom: $spacing-xxl; }

.project {
  &:not(:last-of-type) {
    margin-bottom: $spacing-m;
  }
}

.project-image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (--medium-max) {
    margin-bottom: $spacing-s;
  }
}

.project-text {
  @media (--medium-max) {
    margin-left: $spacing-s;
    margin-right: $spacing-s;
  }
}
