//
// Promo
// ==================================================

.promo {
  background-color: getColor(base, splash);
  color: white;
  cursor: pointer;
  display: block;
  font-size: typeScale(.5);
  font-weight: $fontWeight-bold;
  margin-top: $spacing-l;
  opacity: .85;
  padding: $spacing-xs;
  text-align: center;
  transition: opacity $transition-duration-med, color $transition-duration-med;

  &:hover {
    color: white;
    opacity: 1;
  }
}
