//
// Reading Time
// ==================================================

.readingTime {
  margin-left: .5rem;

  &:before {
    content: "·";
    padding-right: .5rem;
    vertical-align: middle;
  }
}
