//
// Reading Time
// ==================================================

.readingTime {
  margin-left: $spacing-xxs;

  &:before {
    content: "·";
    font-size: 145%;
    font-weight: $fontWeight-bold;
    line-height: 1;
    padding-right: $spacing-xxs;
    vertical-align: middle;
  }
}
