//
// Section Headings
// ==================================================

.sectionHeading {
  border-bottom: 2px solid getColor(base, linesDark);
  font-variant: all-small-caps;
  font-weight: $fontWeight-bold;
  margin-bottom: $spacing-s;
  letter-spacing: .02em;
  padding-bottom: .25em;
  text-align: right;

  @media (--small-max) {
    font-size: typeScale(3);
  }
}
