//
// Social Networks
// ==================================================

//
// Mixin
// -----

@mixin social-link($color) {
  color: $color;

  &:hover { color: darken($color, 10%); }
}


//
// Styles
// ------

.social { 
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0; 
  text-align: right;

  // Descendants
  li { 
    margin-bottom: 0;
  }
}

.social-link-wrapper {
  display: inline-block;
  list-style-type: none;

  &:not(:first-of-type) {
    margin-left: .5rem;

    @media (--small) {
      margin-left: 1rem;
    }
  }
}

.social-link {
  // Networks
  &.-dribbble { @include social-link(#ea4c89); }
  &.-github { @include social-link(#24292e); }
  &.-behance { @include social-link(#0057ff); }
  &.-linkedin { @include social-link(#0077b5); }
  &.-codepen { @include social-link(#959595); }
}
