//
// Social Networks
// ==================================================

//
// Mixin
// -----

@mixin social-link($color) {
  color: $color;

  &:hover { color: darken($color, 10%); }
}


//
// Styles
// ------

.social { padding-left: 0; }

.social-link-wrapper {
  display: inline-block;
  font-size: .875rem;
  font-weight: $fontWeight-normal;
  list-style-type: none;

  &:not(:first-of-type) {
    margin-left: .25rem;

    @media (--small) {
      margin-left: .5rem;
    }

    &:before {
      color: getColor(text, primary);
      content: "/";
      padding-right: .25rem;

      @media (--small) {
        padding-right: .5rem;
      }
    }
  }
}

.social-link {
  // Networks
  &.-dribbble { @include social-link(#ea4c89); }
  &.-github { @include social-link(#24292e); }
  &.-behance { @include social-link(#0057ff); }
  &.-linkedin { @include social-link(#0077b5); }
  &.-codepen { @include social-link(#959595); }
}
