//
// Tiles
// ==================================================

//
// Variables
// ---------

$tile-spacing: 10px;


//
// Styles
// ------

.tiles { margin-bottom: $spacing-m; }

.tile-container {
  padding-left: 0;
  padding-right: 0;
}

.tile {
  background: getColor(background, light);
  border: 1px solid lighten(getColor(base, lines), 7.5%);
  display: block;
  height: 100%;
  margin-bottom: $spacing-xs;
  padding-bottom: $spacing-xs;
  transition: width $transition-duration-long;
  width: 100%;

  &:hover { text-decoration: none; }

  &:not(:nth-of-type(5n)) { margin-right: #{$tile-spacing}; }

  img {
    margin-top: 0;
    max-width: 100%;
    transition: opacity $transition-duration-med;
    width: 100%;
    -webkit-backface-visibility: hidden;

    &:hover { opacity: .75; }

    @media (--small-max) {
      margin-top: 0;
    }
  }
}

.tile-header { margin-bottom: $spacing-xs; }

.tile-description {
  margin-bottom: $spacing-s;
  max-width: $content-limit;

  @media (--very-large) {
    max-width: $content-limit-large;
  }
}

.tile-title {
  color: getColor(text, secondary);
  display: block;
  font-size: typeScale(.5);
  margin-top: $spacing-xs;
  text-align: center;
}
