//
// Comments
// ==================================================
// NOTE: The automatic light/dark theme switching for 
//       doesn't seem to be working so I'm sticking 
//       the light theme for right now.

.comments {
  background-color: var(--white);
  box-shadow: var(--shadow);
  color: var(--plum-dark);
  padding: 1.5rem;
  
  @media (--min-720) {
    padding: 3rem;
  }

  @media (--min-960) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  // Descendants
  iframe {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 960px !important;
  }
}

//
// Disqus-specific overrides
// -------------------------

.disqus_recommendations { 
  display: none;
  visibility: hidden;
}