//
// Comments
// ==================================================
// NOTE: The automatic light/dark theme switching for
//       doesn't seem to be working so I'm sticking
//       the light theme for right now.

.comments {
  --padding-vertical: 1.5rem;

  background-color: var(--color-white);
  box-shadow: var(--shadow);
  color: var(--color-plum-3);
  padding-bottom: var(--padding-vertical);
  padding-top: var(--padding-vertical);

  @media (--min-720) {
    --padding-vertical: 3rem;
  }

  // Descendants
  // TODO: Address Disqus specificity issues
  iframe {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 960px !important;
  }
}

//
// Disqus-specific overrides
// -------------------------

.disqus_recommendations {
  display: none;
  visibility: hidden;
}
