//
// Context Styles
// ==================================================

p {
  &.-context { 
    --background: transparent;
  
    background-color: var(--background);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 1.35rem 1.5rem;
    position: relative;

    // Descendants
    .icon { 
      background: white;
      bottom: 0;
      font-size: 1.25rem;
      height: 35px;
      line-height: 1;
      padding: .5rem;
      position: absolute;
      right: 0;
      width: 35px;
    }

    // Modifiers
    &.-twitter { 
      --background: rgb(29 161 242 / 20%);

      span { 
        display: block;
        margin-bottom: 1rem;
      }
    }
    
    &.-notice { 
      --background: var(--light-yellow);
    
      color: var(--darkgray);
    }
    
    &.-question { 
      --background: var(--lightgray);
    
      color: var(--darkgray);
    }

    &.-note { 
      border: 1px solid var(--lightgray);
    }

    &.-tip { 
      border: 1px solid var(--light-yellow);
    }
  }
}