//
// Context Styles
// ==================================================

p {
  &.-context { 
    --border: transparent;
    --background: transparent;
  
    background-color: var(--background);
    border-top: 5px solid var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem 1rem 1rem;
    position: relative;
    
    @media (--min-480) { 
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    @media (--min-720) { 
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    // Context label
    &::before {
      @extend ._text-small;

      background-color: var(--border);
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      content: var(--text);
      font-weight: var(--font-weight-bold);
      font-variant: all-small-caps;
      left: -1px;
      letter-spacing: .03em;
      line-height: 1;
      padding: .25rem .5rem;
      position: absolute;
      top: -5px;
    }

    // Descendants
    a {
      // Overriding default linkHoverBackground() styles
      // to improve readability
      @media (--dark) {
        --link-text-decoration: var(--exodus-fruit);
        --link-hover-background: var(--exodus-fruit);
        --link-hover-color: var(--white);
      }
    }

    span:not(.icon) { 
      display: block;
      max-width: 95%;
    }

    .icon {
      --size: 40px;

      bottom: 0;
      height: var(--size);
      line-height: 1;
      opacity: .3;
      padding: .75rem .6rem .6rem .75rem;
      position: absolute;
      right: 0;
      width: var(--size);

      @media (--dark) {
        opacity: .5;
      }

      @media (--min-480) {
        --size: 45px;
      }
    }

    // Modifiers
    &.-twitter { 
      --border: rgb(29 161 242 / 70%);
      --background: rgb(29 161 242 / 25%);
      --text: 'Tweet';
    }
    
    &.-notice { 
      --border: var(--yellow-dark);
      --background: var(--white);
      --text: 'Notice';
    
      
      .icon {
        opacity: .3;
      }
      
      @media (--dark) {
        color: var(--plum-dark);
      }
    }
    
    &.-question { 
      --border: var(--exodus-fruit);
      --background: var(--gray-lighter);
      --text: 'Question';
      --color: var(--plum-dark);
    
      color: var(--color);

      @media (--dark) { 
        --color: var(--plum-dark);
      }

      &::before {
        color: var(--white);
      }
    }

    &.-note,
    &.-tip { 
      --border: var(--yellow-dark);
      --background: var(--gray-lighter);
      --text: 'Note';
    
      border-left: 3px solid var(--border);
      border-right: 3px solid var(--border);
      border-bottom: 3px solid var(--border);
      color: var(--text-color);

      @media (--dark) {
        --background: var(--plum-light);
      }

      &::before {
        color: var(--plum-dark);
      }
    }

    &.-tip { 
      --text: 'Tip';
    }

    &.-further-reading {
      --text: 'Further Reading';

      background-color: transparent;
      border-bottom: 1px solid var(--exodus-fruit);
      border-top: 1px solid var(--exodus-fruit);
      border-radius: 0;
      box-shadow: none;
      padding-top: 2rem;

      &::before {
        background-color: var(--exodus-fruit);
        border-top-left-radius: 0;
        color: var(--white);
        top: -1px;
      }
    }

    // Descendants
    .icon {
      opacity: 1;
    }
  }
}