.cta {
  --background: var(--color-yellow-1);
  --border: var(--color-gray-5);

  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
  margin-top: spacing(var(--top-margin, 0));
  padding-bottom: spacing(7.5);
  padding-top: spacing(7.5);

  @media (--dark) {
    --background: var(--color-purple-1);
    --border: transparent;
  }

  @media (--min-720) {
    text-align: center;
  }

  @media (--min-960) {
    padding-bottom: spacing(10);
    padding-top: spacing(10);
  }
}

.cta-title {
  @include h2;
}

.cta-subheading {
  @include h5;

  margin-top: spacing(2);

  @media (--min-960) {
    margin-left: auto;
    margin-right: auto;
    max-width: 40ch;
  }
}

.cta-link {
  margin-top: spacing(5);
}
