//
// Post List
// ==================================================

.entries { 
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.entries + .entries { 
  margin-top: 5rem;
}

.entries-headline { 
  align-items: center;
  display: flex;
  justify-content: space-between;

  // Descendants
  h1 { 
    margin-bottom: 0;
  }
  
  p { 
    margin-top: 0;
  }
}

.entries-item.-intro { 
  grid-area: 1 / span 2;
}

.entries-item-description { 
  margin-top: 0;
}

.entries-title {
  margin-bottom: 0;
  margin-top: 0;
}

.entries-link { 
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--gray-darker);
    text-decoration-thickness: 3px;
    text-underline-position: from-font;
    text-underline-offset: 0;
  }
}

.entries-header { 
  flex: 1;
}

.entries-item-active .entries-title {
  font-weight: bold;
}

.entries-meta { 
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.entries-series {
  @media (--max-720) {
    @include a11yHidden();
  }
}

.entries-lede { 
  margin-top: .25rem;
}

.entries-tags { 
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.entries-tag { 
  display: inline-block;

  &:not(:first-of-type) { 
    margin-left: 0.5em;
  }
}

.entries-tagsLink { 
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 3rem;
}

.entries-label {
  border-bottom: 1px solid var(--exodus-fruit);
  margin-bottom: .5em;
  position: relative;

  @media (--dark) {
    border-bottom-color: var(--yellow-dark);
  }
}

.entries-articleLink {
  line-height: 2;
  position: relative;
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    &::after { 
      transform: translate(80%, -50%);
    }
  }

  // Psuedo-element for arrow 
  &::after { 
    content: '→';
    font-size: 1.5em;
    position: absolute;
    top: 45%;
    transform: translate(55%, -50%);
    transition: transform var(--transition);
    user-select: none;
  }
}

.entries-image {
  display: block;
  filter: sepia(.1) brightness(0.9);
  height: 250px;
  margin-bottom: 1.5rem;
  transition: filter var(--transition-long);
  width: 100%;

  @media (--min-720) {
    height: 300px;
  }

  @media (--min-960) {
    height: 350px;
  }

  @media (--min-1120) {
    height: 400px;
  }

  @media (--min-1120) and (--min-h-960) {
    height: 450px;
  }

  @media (--min-1120) and (--min-h-1080) {
    height: 500px;
  }

  @media (--min-1600) and (--min-h-1080) {
    height: 550px;
  }

  &:hover {
    filter: none;
  }
}


// Portfolio Items
.entries-portfolio-meta {
  --border-color: var(--exodus-fruit);

  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
}


//
// Modifiers
// ---------

.entries.-portfolio {
  .entries-lede { 
    margin-bottom: .5em;
    max-width: 33ch;
  }

  .entries-item-content {
    @media (--min-800) { 
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(6, 1fr);
    }

    @media (--min-960) {
      align-items: center;
    }
    
    .entries-image { 
      height: auto;
      width: 100%;
      
      @media (--min-800) {
        margin-bottom: 0;
      }
    }
    
    .entries-portfolio-content { 
      grid-column: auto / span 3;
      max-width: 55ch;
      padding-bottom: .5rem;
      
      @media (--min-1120) { 
        grid-column-end: span 2;
      }
    }

    // Descendants
    > a { 
      grid-column: auto / span 3;
    }
  }

  .entries-item {
    margin-top: 1.5rem;

    &:not(:last-of-type) { 
      margin-bottom: 3rem;

      @media (--min-800) { 
        margin-bottom: 0;
      }
    }
  }
}