//
// Footnotes
// ==================================================

.footnotes { 
  font-size: .875rem;
}

.footnote-item:not(:first-of-type) { 
  margin-top: 1rem;
}

.footnotes-sep { 
  background-color: var(--midgray);
  border: none;
  height: 1px;
  margin-bottom: 1rem;
  margin-top: 3rem;
  overflow: visible;
  position: relative;

  &:before { 
    @extend ._label;

    content: 'Footnotes';
    position: absolute;
    bottom: .25rem;
  }
}