//
// Global Footer
// ==================================================

.footer {
  --background: var(--gray-lighter);
  --border: var(--gray-darker);
  --vertical-padding: 1.5rem;

  background-color: var(--background);
  border-top: 1px solid var(--border);
  padding-bottom: var(--vertical-padding);
  padding-top: var(--vertical-padding);
  z-index: 1;

  @media (--dark) {
    --background: var(--plum-dark);
    --border: var(--plum-light);
  }

  @media (--min-720) {
    --vertical-padding: 2rem;
  }

  @media (--min-960) {
    --vertical-padding: 3rem;
  }
}

.footer-content {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  flex-basis: 100%;
  text-align: center;

  @media (--min-640) {
    flex-basis: 50%;
    text-align: unset;
  }
}

.footer-left {
  padding-bottom: 1.5rem;

  @media (--min-640) {
    padding-bottom: 0;
  }
}

.footer-right {
  @media (--min-640) {
    text-align: right;
  }

  // Descendants
  > p {
    line-height: 1.15;
  }
}

.footer-socials {
  text-align: center;

  @media (--min-640) {
    text-align: left;
  }
}

.footer-socials-label {
  display: block;
  margin-bottom: spacing(1.5);
}

.footer-socials-list {
  list-style: none;
  margin: 0;
  padding: 0;

  // Descendants
  svg {
    fill: currentColor;
    height: 25px;
  }
}

.footer-socials-item {
  display: inline-block;

  &:not(:last-of-type) {
    margin-right: spacing(1);

    @media (--min-640) {
      margin-right: spacing(2);
    }
  }
}

.footer-socials-link {
  &:hover {
    background-color: transparent;
    color: var(--brand-color);
    text-decoration: none;
  }

  &::after {
    display: none !important; // Overriding external link styles
  }

  // Modifiers
  &.-twitter {
    --brand-color: #1da1f2;
  }

  &.-linkedin {
    --brand-color: #0277b5;
  }

  &.-dribbble {
    --brand-color: #ea4c89;
  }

  &.-behance {
    --brand-color: #0057ff;
  }

  &.-codepen {
    --brand-color: #47cf73;
  }

  &.-mastodon {
    --brand-color: #615ef8;
  }

  &.-bluesky {
    --brand-color: #208bfe;
  }

  &.-threads {
    --brand-color: #0a0a0a;
  }
}
