//
// Global Header
// ==================================================

.header {
  @include container;

  padding-bottom: spacing(3);
  padding-top: spacing(3);
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;

  @media (--min-800) {
    align-items: center;
    flex-direction: row;
  }
}

.header-logo {
  font-size: 36px;
  font-weight: var(--font-weight-heavy);
  letter-spacing: -0.05em;
  line-height: 0.775;
  margin-bottom: 0;
  margin-top: 0;

  @media (--min-800) {
    font-size: 40px;
  }

  // Descendants
  a {
    text-decoration: none;

    &:hover {
      color: var(--color-purple-1);

      @media (--dark) {
        color: var(--color-yellow-2);
      }
    }
  }
}
