//
// Global Header
// ==================================================

.header {
  @include container;

  padding-top: spacing(3);
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (--min-800) {
    align-items: end;
    flex-direction: row;
  }
}

.header-logo {
  font-size: 42px;
  font-weight: var(--font-weight-heavy);
  letter-spacing: -0.05em;
  line-height: 0.775;
  margin-bottom: 0;
  margin-top: 0;

  @media (--min-800) {
    font-size: 50px;
  }
}

.header-tagline {
  flex: 1;
  font-style: italic;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-step-1);
  font-weight: var(--font-weight-lighter);
  line-height: 1.35;

  @media (--min-960) {
    line-height: 1;
  }
}

.header-button {
  text-align: center;
}
