//
// Global Header
// ==================================================

.header {
  @include container;
  
  margin-bottom: spacing(3);
  padding-bottom: spacing(4);
  padding-top: spacing(4);
  
  @media (--min-720) {
    margin-bottom: spacing(6);
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  @media (--min-560) {
    align-items: end;
  }
}

.header-logo {
  font-size: 36px;
  font-weight: var(--font-weight-heavy);
  letter-spacing: -.05em;
  line-height: .775;
  margin-bottom: 0;
  margin-top: 0;

  @media (--min-720) {
    font-size: 40px;
  }

  // Descendants
  a {
    text-decoration: none;

    &:hover {
      color: var(--exodus-fruit);

      @media (--dark) {
        color: var(--yellow-dark);
      }
    }
  }
}
