//
// Syntax Highlighting
// ==================================================

.highlight-line {
  color: inherit; /* override del, ins, mark defaults */
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */

  // Allow highlighting empty lines
  &:empty:before {
    content: " ";
  }
  
  // Avoid double line breaks when using display: block; 
  & + br {
    display: none;
  }
}


.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}