.intro {
  @include container;

  @media (--min-960) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: calc(5 * var(--spacing-unit));
    grid-row-gap: calc(5 * var(--spacing-unit));
  }
}

.intro-left {
  margin-bottom: spacing(5);
  grid-column: 1 / span 7;

  @media (--min-960) {
    margin-bottom: 0;
  }

  @media (--min-1120) {
    grid-column-end: span 6;
  }

  // Modifiers
  &.-full-width {
    grid-column: 1 / -1;

    @media (--min-960) {
      grid-column-end: span 12;
    }
  }
}

.intro-right {
  grid-column: 8 / -1;
}

.intro-subheading {
  margin-top: spacing(2);

  // Descendants
  br {
    display: none;

    @media (--min-960) {
      display: block;
    }
  }

  > strong {
    @include subtleBackground;
  }
}

.intro-body {
  font-size: var(--font-size-step-1);
  margin-top: spacing(2);
}

.intro-photos {
  margin-top: spacing(5);
}

.intro-photo {
  --photo-width: 150px;
  border-radius: var(--border-radius-large);
  max-width: var(--photo-width);
  transition: transform 150ms ease-in-out;

  @media (--min-960) {
    --photo-width: 125px;
  }

  @media (--min-1260) {
    --photo-width: 135px;
  }

  @media (--min-1440) {
    --photo-width: 150px;
  }

  &:nth-child(even) {
    transform: rotate(3deg);
  }

  &:nth-child(odd) {
    transform: rotate(-3deg);
  }

  &:nth-child(even),
  &:nth-child(odd) {
    &:hover {
      transform: rotate(0deg);
    }
  }
}
