//
// Large Text
// ==================================================

p.-large { 
  @extend ._text-h4;
  @extend ._type-my-voice;

  font-weight: var(--font-weight-serif-bold);
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  text-align: center;
  
  @media (--min-720) {
    &::before {
      @include clearfix();
    }
  }
  
  @media (--min-960) {
    margin-bottom: 3.5rem;
    margin-top: 3rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  @media (--min-1120) {
    padding-left: .65rem;
    padding-right: .65rem;
  }
}