//
// Large Text
// ==================================================

p.-large { 
  @extend ._text-h4;

  margin-bottom: 2.5rem;
  margin-top: 2rem;
  text-align: center;
  
  @media (--min-960) {
    margin-bottom: 3.5rem;
    margin-top: 3rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}