//
// Longform Content
// ==================================================

.longform-heading {
  @include h1;

  margin-bottom: 1rem;
}

.longform-subheading {
  @include h4;

  margin-bottom: 1rem;
}

.longform-content {
  // Descendants
  p {
    margin-bottom: 1.25rem;
  }

  h3 {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }
}
