//
// Mission Statement
// ==================================================

.missionStatement {
  // NOTE: Bottom margin is larger than the top
  //       for better optical centering
  --margin-top: 5rem;
  --margin-bottom-multiplier: 1.2;

  margin-bottom: calc(var(--margin-top) * var(--margin-bottom-multiplier));
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin-top);
  max-width: 90ch;
  padding-left: .75rem;
  padding-right: .75rem;
  
  @media (--min-720) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
  }
  
  @media (--min-960) {
    --margin-top: 6.25rem;
  }
  
  @media (--min-1440) {
    --margin-top: 7.5rem;
  }
}

.missionStatement-label {
  border-bottom: 1px solid var(--exodus-fruit);
  display: inline-block;
  margin-bottom: 0;

  @media (--dark) {
    border-bottom-color: var(--dark-yellow);
  }
}

.missionStatement-text {
  @include h3;

  hyphens: none;
  margin-top: 1rem;
  
  @media (--min-960) {
    @include h2;

    line-height: 1.15;
  }
}