//
// Navigation
// ==================================================

.navigation {
  border-top: 1px solid var(--color-gray-4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.navigation-primary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (--min-960) {
    justify-content: space-between;
  }
}

.navigation-primary-item {
  line-height: 1.5;
  padding: 1.25rem 1rem;
  position: relative;
  text-decoration: none;
  transition: clip-path 275ms ease;

  @media (--min-960) {
    padding: 1.5rem 2rem;
  }

  &:hover,
  &:focus {
    background-color: var(--color-nav-background-hover);
  }

  // Modifiers
  &.-active {
    background-color: var(--color-nav-background-hover);
    font-weight: var(--font-weight-semibold);

    &:hover {
      text-decoration: none;
    }
  }
}

//
// Icon Navigation
// ---------------

.navigation-icons {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 1.25rem;

  @media (--min-960) {
    width: auto;
  }
}

.navigation-icons-item {
  padding: 1.25rem 1rem;
  text-decoration: none;

  @media (--min-960) {
    padding: 1.5rem 2rem;
  }

  // Descendants
  svg {
    height: 22px;
  }
}
