//
// Navigation
// ==================================================

.navigation {
  display: flex;
  flex-direction: column;
  text-align: right;

  @media print {
    display: none;
  }
}


//
// Primary Navigation
// ------------------

.navigation-primary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (--min-560) {
    flex-direction: row;
  }

  @media (--min-720) {
    gap: 1.5rem;
  }

  @media (--min-800) {
    gap: 2rem;
  }

  @media (--min-1120) {
    gap: 2.25rem;
  }
}

.navigation-primary-item {
  --underline-color: var(--exodus-fruit);
  
  font-size: 18px;
  position: relative;
  text-decoration: none;
  transition: clip-path 275ms ease;
  
  @media (--dark) {
    --underline-color: var(--yellow-dark);
  }
  
  &:hover span::before, 
  &:focus span::before {
    @media (pointer: fine) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  // Descendants
  span {
    display: inline-block;
    position: relative;
    
    &::before {
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      color: var(--underline-color);
      content: attr(data-content);
      position: absolute;
      text-decoration: underline;
      transition: clip-path 275ms ease;
    }
  }

  &:not(:first-of-type) { 
    margin-top: spacing(1.25);
    
    @media (--min-560) {
      margin-top: 0;
    }
  }
  
  // Modifiers
  &.-active {
    --underline-color: var(--text-color);

    font-weight: var(--font-weight-semibold);

    &:hover {
      text-decoration: none;
    }

    span {
      &::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }
}


//
// Icon Navigation
// ---------------

.navigation-icons {
  @include a11yHidden;

  align-items: center;
  align-self: end;
  display: flex;
  margin-bottom: spacing(1.5);

  @media (--min-560) {
    @include a11yVisible;
  }
  
  @media (--min-720) {
    margin-bottom: spacing(2);
  }
}

.navigation-icons-item {
  &:not(:first-of-type) {
    margin-left: spacing(4);
  }

  // Descendants
  svg {
    height: 22px;
  }
}