//
// Newsletter
// ==================================================

.newsletter {
  // Modifiers
  &.-standalone {
    .newsletter-container {
      max-width: 850px;
    }

    .newsletter-cta {
      background: var(--yellow-2);
      border-radius: var(--border-radius);
      box-shadow: var(--shadow);
      margin-top: 1.5rem;
      padding: 1.5rem;

      @media (--dark) {
        background: var(--purple-1);
      }
    }
  }

  &.-pre-footer {
    background-color: var(--yellow-2);
    color: var(--plum-3);
    margin-top: spacing(var(--top-margin, 0));
    padding-bottom: spacing(8);
    padding-top: spacing(8);

    // Descendants
    p {
      color: var(--plum-3);
    }
  }
}

.newsletter-title {
  margin-bottom: 1rem;
  margin-top: 0;
}

.newsletter-description {
  grid-column: 1 / span 7;

  @media (--min-960) {
    grid-column-end: span 5;
  }
}

.newsletter-cta {
  grid-column: 8 / -1;
  margin-top: spacing(3);

  @media (--min-960) {
    grid-column: 7 / span 5;
    margin-top: 0;
  }

  @media (--min-1120) {
    grid-column-end: span 4;
  }
}

.newsletter-form {
  margin-bottom: 1rem;
}

.newsletter-form-fields {
  display: flex;
  flex-wrap: wrap;

  > label {
    flex-basis: 100%;
    margin-bottom: 0.25rem;
  }

  > input[type="email"] {
    background-color: var(--white);
    flex: 1;
    padding: 1rem 0.75rem;
  }

  > input[type="submit"] {
    --background: var(--plum-1);
    --hover: var(--plum-3);

    background-color: var(--background);
    color: var(--white);
    display: inline-block;
    padding: 0.75rem 1.25rem;
    transition: background-color var(--transition);
    width: 100%;

    @media (--min-480) {
      width: auto;
    }

    @media (--dark) {
      --background: var(--plum-1);
      --hover: var(--plum-3);
    }

    &:hover {
      background-color: var(--hover);
    }
  }
}

//
// Context-Specific Styles
// -----------------------

.entries + .newsletter {
  @media (--min-960) {
    margin-top: 5rem;
  }
}
