//
// Newsletter
// ==================================================

.newsletter {
  --newsletter-background: var(--yellow-dark);
  
  background-color: var(--newsletter-background);
  border-radius: 65px 5px;
  margin: 3rem 1rem;
  max-width: 1080px;
  padding: 3rem 1rem 3.5rem;
  
  @media (--dark) {
    --newsletter-background: var(--exodus-fruit);
  }
  
  @media (--min-720) { 
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  @media (--min-960) { 
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5.5rem;
    padding-top: 5rem;
  }

  // Modifiers
  &.-stacked {
    --newsletter-background: transparent;
  
    @media (--min-720) {
      display: block;
    }

    .newsletter-description {
      margin-left: auto;
      margin-right: auto;
    }

    .newsletter-cta {
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;
      max-width: 500px;
    }
  }
}

.newsletter-title {
  margin-bottom: 1rem;
}

.newsletter-description { 
  margin-bottom: 1.5rem;
  max-width: 50ch;
  
  @media (--min-720) { 
    grid-column: 1 / span 5;
    margin-bottom: 0;
  }
  
  @media (--min-960) { 
    grid-column: 2 / span 4;
  }
}

.newsletter-cta { 
  @media (--min-720) { 
    grid-column: 7 / -1;
    margin-top: .5rem;
  }
  
  @media (--min-960) { 
    grid-column-end: span 3;
  }
}

.newsletter-form {
  margin-bottom: 1rem;
}

.newsletter-form-fields {
  display: flex;
  flex-wrap: wrap;
  
  > label {
    flex-basis: 100%;
    margin-bottom: .25rem;
  }
  
  > input[type="email"] {
    background-color: var(--white);
    border: 0;
    border-radius: 5px 0 0 5px;
    box-shadow: 0;
    flex: 1;
    padding: .625rem .5rem;
  }

  > input[type="submit"] { 
    background-color: var(--lightgray);
    border: 0;
    border-radius: 0 5px 5px 0;
    box-shadow: 0;
  }
}

.newsletter-form-fields > input[type="submit"] {
  padding-bottom: 0;
  padding-top: 0;
}