//
// Newsletter
// ==================================================

.newsletter {
  @extend ._container, .-large;

  --newsletter-background: var(--yellow-dark);
  
  background-color: var(--newsletter-background);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding: 3rem 1.5rem 3.5rem;
  
  @media (--dark) {
    --newsletter-background: var(--exodus-fruit);
  }

  @media (--min-720) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
  }
  
  @media (--min-960) { 
    padding: 4rem 0 4.5rem;
  }

  @media (--min-1440) { 
    padding-bottom: 5.5rem;
    padding-top: 5rem;
  }

  // Modifiers
  &.-stacked {
    --newsletter-background: transparent;

    box-shadow: none;
    margin-top: 0;
  
    @media (--min-720) {
      display: block;
    }

    .newsletter-description {
      margin-left: auto;
      margin-right: auto;
    }

    .newsletter-cta {
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;
      max-width: 500px;
    }
  }

  &.-standalone {
    .newsletter-cta {
      background: var(--yellow-dark);
      border-radius: var(--border-radius);
      box-shadow: var(--shadow);
      padding: 1.5rem;

      @media (--dark) {
        background: var(--exodus-fruit);
      }
    }
  }
}

.newsletter-title {
  margin-bottom: 1rem;
  margin-top: 0;
}

.newsletter-description { 
  margin-bottom: 1.5rem;
  max-width: 50ch;

  @media (--min-720) {
    grid-column: 4 / span 10;
  }
  
  @media (--min-960) { 
    grid-column: 2 / span 7;
    margin-bottom: 0;
  }
}

.newsletter-cta { 
  max-width: 500px;

  @media (--min-720) {
    grid-column: 4 / span 10;
  }

  @media (--min-960) { 
    grid-column: 10 / span 6;
    margin-top: .5rem;
  }
}

.newsletter-form {
  margin-bottom: 1rem;
}

.newsletter-form-fields {
  display: flex;
  flex-wrap: wrap;
  
  > label {
    flex-basis: 100%;
    margin-bottom: .25rem;
  }
  
  > input[type="email"] {
    background-color: var(--white);
    flex: 1;
    padding: 1rem .75rem;
  }

  > input[type="submit"] { 
    --background: var(--plum-light);
    --hover: var(--plum-dark);

    background-color: var(--background);
    color: var(--white);
    display: inline-block;
    padding: .75rem 1.25rem;
    transition: background-color var(--transition);
    width: 100%;

    @media (--min-480) {
      width: auto;
    }

    @media (--dark) {
      --background: var(--plum-light);
      --hover: var(--plum-dark);
    }

    &:hover {
      background-color: var(--hover);
    }
  }
}


//
// Context-Specific Styles
// -----------------------

.entries + .newsletter { 
  @media (--min-960) { 
    margin-top: 5rem;
  }
}