//
// Porfolio Grid
// ==================================================

.portfolioGrid {
  grid-column: 1 / -1;
  position: relative;

  // Grid Layout
  &.-one-col {
    .portfolioGrid-item {
      @media (--min-720) {
        grid-column: 2 / span 10;
      }
    }
  }

  &.-two-col {
    .portfolioGrid-item {
      @media (--min-720) {
        grid-column: auto / span 6;
      }
    }
  }

  &.-three-col {
    .portfolioGrid-item {
      @media (--min-640) {
        grid-column: auto / span 6;
      }
    
      @media (--min-1120) {
        grid-column-end: span 4;
      }
    }
  }
}

.portfolioGrid-header { 
  margin-bottom: 1.5rem;
}

.portfolioGrid-header-contents {
  max-width: 65ch;
}

.portfolioGrid-headline {
  margin-bottom: .5rem;
  margin-top: 1.25rem;
}

.portfolioGrid-items {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
}

.portfolioGrid-item {
  grid-column: 1 / -1;

  // Descendants
  img { 
    box-shadow: var(--shadow);
  }
}

.portfolioGrid-link {
  @include linkHoverBackground($dark: false);
  @include externalLink($size: 16px, $left: 10px);
}

.portfolioGrid-caption {
  color: var(--gray-darkest-1);
  border-top: 1px solid var(--plum-light);
  padding-bottom: 0.45rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  
  // Descendants
  > a { 
    --text-color: var(--gray-darkest-1);

    &:hover { 
      --text-color: var(--plum-dark);
    }
  }
}

.portfolioGrid-enlarge {
  background: var(--background);
  border-left: 1px solid var(--border);
  height: 50px;
  text-align: center;
  width: 50px;
  
  &:hover { 
    background: var(--background-hover);
  }

  // Descendants
  svg { 
    height: 100%;
    width: 20px;
  }

  path { 
    fill: var(--text-color);
  }
}

.portfolioGrid.-contained {
  --background: var(--yellow-dark);
  --background-hover: var(--yellow-light);
  --border: var(--plum-light);
  --image-height: 250px;
  --text-color: var(--plum-dark);

  @media (--min-1120) {
    --image-height: 300px;
  }

  .portfolioGrid-item {
    border: 1px solid var(--border);
    background-color: var(--background);
    height: fit-content;

    // Modifiers
    &.-video { 
      .portfolioGrid-title { 
        margin-top: -4px;
      }
    }
  }
  
  .portfolioGrid-imageTile { 
    background: var(--background);
    background-size: cover;
    border-bottom: 1px solid var(--border);
    background-position: top center;
    display: block;
    height: var(--image-height);
    width: 100%;
  }
  
  .portfolioGrid-title {
    align-items: center;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 50px;
    padding-left: 1rem;
  }

  // Column adjustments
  &.-one-col { 
    @media (--min-960) {
      --image-height: 600px;
    }

    @media (--min-1120) {
      --image-height: 800px;
    }
  }

  &.-two-col { 
    @media (--min-960) {
      --image-height: 375px;
    }
  }
}
