//
// Porfolio Grid
// ==================================================

.portfolioGrid {
  grid-column: 1 / -1;
  margin-top: spacing(5);
  position: relative;

  @media (--min-960) {
    margin-top: spacing(10);
  }

  // Grid Layout
  &.-one-col {
    .portfolioGrid-item {
      @media (--min-720) {
        grid-column: 2 / span 10;
      }
    }
  }

  &.-two-col {
    .portfolioGrid-item {
      @media (--min-720) {
        grid-column: auto / span 6;
      }
    }
  }

  &.-three-col {
    .portfolioGrid-item {
      @media (--min-640) {
        grid-column: auto / span 6;
      }

      @media (--min-1120) {
        grid-column-end: span 4;
      }
    }
  }
}

.portfolioGrid-header {
  margin-bottom: spacing(3);

  @media (--min-960) {
    margin-bottom: spacing(5);
  }
}

.portfolioGrid-header-contents {
  max-width: 72ch;
}

.portfolioGrid-headline {
  margin-bottom: spacing(1.5);
  margin-top: spacing(3);
}

.portfolioGrid-items {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
}

.portfolioGrid-item {
  grid-column: 1 / -1;

  // Descendants
  img {
    box-shadow: var(--shadow);
  }
}

.portfolioGrid-link {
  @include linkHoverBackground($dark: false);
  @include externalLink($size: 16px, $left: 10px);
}

.portfolioGrid-caption {
  color: var(--color-gray-7);
  border-top: 1px solid var(--color-plum-1);
  padding-bottom: 0.45rem;
  padding-left: 1rem;
  padding-top: 0.5rem;

  // Descendants
  > a {
    --link-color: var(--color-gray-7);
    --link-color-hover: var(--color-plum-3);
  }
}

.portfolioGrid-enlarge {
  background: var(--background);
  border-left: 1px solid var(--border);
  height: 50px;
  text-align: center;
  width: 50px;

  &:hover {
    background: var(--background-hover);
  }

  // Descendants
  svg {
    height: 100%;
    width: 20px;
  }

  path {
    fill: var(--color-text);
  }
}

.portfolioGrid.-contained {
  --background: var(--color-yellow-1);
  --background-hover: var(--color-yellow-1);
  --border: var(--color-plum-1);
  --image-height: 250px;
  --color-text: var(--color-plum-3);

  @media (--min-1120) {
    --image-height: 300px;
  }

  .portfolioGrid-item {
    border: 1px solid var(--border);
    background-color: var(--background);
    height: fit-content;

    // Modifiers
    &.-video {
      .portfolioGrid-title {
        margin-top: -4px;
      }
    }
  }

  .portfolioGrid-imageTile {
    background: var(--background);
    background-size: cover;
    border-bottom: 1px solid var(--border);
    background-position: top center;
    display: block;
    height: var(--image-height);
    width: 100%;
  }

  .portfolioGrid-title {
    align-items: center;
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 50px;
    padding-left: 1rem;
  }

  // Column adjustments
  &.-one-col {
    @media (--min-960) {
      --image-height: 600px;
    }

    @media (--min-1120) {
      --image-height: 800px;
    }
  }

  &.-two-col {
    @media (--min-960) {
      --image-height: 375px;
    }
  }
}
