//
// Porfolio Grid
// ==================================================

.portfolioGrid {
  grid-column: 1 / -1;
  position: relative;

  // Grid Layout
  &.-one-col {
    .portfolioGrid-item {
      @media (--min-720) {
        grid-column: 2 / span 10;
      }
    }
  }

  &.-two-col {
    .portfolioGrid-item {
      @media (--min-720) {
        grid-column: auto / span 6;
      }
    }
  }

  &.-three-col {
    .portfolioGrid-item {
      @media (--min-640) {
        grid-column: auto / span 6;
      }
    
      @media (--min-960) {
        grid-column-end: span 4;
      }
    }
  }
}

.portfolioGrid-header { 
  margin-bottom: 1.5rem;
  max-width: 65ch;
}

.portfolioGrid-label { 
  margin-bottom: .5rem;
}

.portfolioGrid-headline {
  margin-bottom: .75rem;
  margin-top: 0;
}

.portfolioGrid-items {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
}

.portfolioGrid-item {
  grid-column: 1 / -1;

  // Descendants
  img, 
  video { 
    box-shadow: var(--shadow);
  }
}

.portfolioGrid-link {
  @include linkHoverBackground();
  @include externalLink($size: 16px, $left: 10px);
}

.portfolioGrid-description {
  max-width: 50ch;
}

.portfolioGrid-enlarge {
  background: var(--background);
  border-left: 1px solid var(--border);
  height: 50px;
  text-align: center;
  width: 50px;
  
  &:hover { 
    background: var(--background-hover);
  }

  // Descendants
  svg { 
    height: 100%;
    width: 20px;
  }

  path { 
    fill: var(--text-color);
  }
}

.portfolioGrid.-contained {
  --background: var(--yellow-dark);
  --background-hover: var(--yellow-light);
  --border: var(--plum-light);
  --image-height: auto;
  
  @media (--dark) { 
    --background: var(--exodus-fruit);
    --background-hover: var(--exodus-fruit-dark);
    --border: var(--gray-lighter);
  }

  .portfolioGrid-item {
    border: 1px solid var(--border);
    background-color: var(--background);
  }
  
  .portfolioGrid-imageTile { 
    background: var(--background);
    background-size: cover;
    border-bottom: 1px solid var(--border);
    display: block;
    height: var(--image-height);
    width: 100%;
  }
  
  .portfolioGrid-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 1rem;
  }

  // Column adjustments
  &.-two-col { 
    --image-height: 350px;
  }

  &.-three-col { 
    --image-height: 300px;
  }
}
