//
// Post List
// ==================================================

.postlist { 
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.postlist + .postlist { 
  margin-top: 5rem;
}

.postlist-headline { 
  align-items: center;
  display: flex;
  justify-content: space-between;

  // Descendants
  h1 { 
    margin-bottom: 0;
  }
  
  p { 
    margin-top: 0;
  }
}

.postlist-item.-intro { 
  grid-area: 1 / span 2;
}

.postlist-item-description { 
  margin-top: 0;
}

.postlist-title {
  margin-bottom: 0;
}

.postlist-link { 
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--gray-darker);
    text-decoration-thickness: 2px;
    text-underline-position: from-font;
    text-underline-offset: 0;
  }
}

.postlist-header { 
  flex: 1;
  margin-bottom: .75rem;
}

.postlist-lede { 
  margin-top: .5rem;
}

.postlist-item-active .postlist-title {
  font-weight: bold;
}

.postlist-meta { 
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: .35rem;
}

.postlist-tags { 
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.postlist-tag { 
  display: inline-block;

  &:not(:first-of-type) { 
    margin-left: 0.5em;
  }
}

.postlist-tagsLink { 
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 3rem;
  
  // Descendants
  a { 
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--gray-darker);
      text-decoration-thickness: 2px;
    }
  }
}

.postlist-toggle { 
  --toggle-border: var(--navy);

  border-bottom: 1px solid var(--toggle-border);
  margin-bottom: 1.5rem;
  padding-bottom: .25rem;

  @media (--dark) {
    --toggle-border: var(--white);
  }
}



//
// Modifiers
// ---------

.postlist.-stack {
  .postlist-item + .postlist-item {
    margin-top: 3rem;
  }
}

.postlist.-journey { 
  max-width: 1260px;

  .postlist-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0;
  }
  
  .postlist-item {
    border: 1px solid var(--navy);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.65;
    min-height: 150px;
    padding: 1.25rem 1.5rem;
  }
}
