//
// Post List
// ==================================================

.postlist { 
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.postlist + .postlist { 
  margin-top: 5rem;
}

.postlist-headline { 
  align-items: center;
  display: flex;
  justify-content: space-between;

  // Descendants
  h1 { 
    margin-bottom: 0;
  }
  
  p { 
    margin-top: 0;
  }
}

.postlist-item.-intro { 
  grid-area: 1 / span 2;
}

.postlist-item-description { 
  margin-top: 0;
}

.postlist-title {
  margin-bottom: 0;
}

.postlist-link { 
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--gray-darker);
    text-decoration-thickness: 3px;
    text-underline-position: from-font;
    text-underline-offset: 0;
  }
}

.postlist-header { 
  flex: 1;
  margin-bottom: .5rem;
}

.postlist-lede { 
  margin-bottom: 1.5rem;
}

.postlist-item-active .postlist-title {
  font-weight: bold;
}

.postlist-meta { 
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: .45rem;
}

.postlist-series {
  @media (--max-720) {
    @include a11yHidden();
  }
}

.postlist-type {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.postlist-tags { 
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.postlist-tag { 
  display: inline-block;

  &:not(:first-of-type) { 
    margin-left: 0.5em;
  }
}

.postlist-tagsLink { 
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 3rem;
  
  // Descendants
  a { 
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--gray-darker);
      text-decoration-thickness: 2px;
    }
  }
}

.postlist-label {
  font-weight: 500;
  position: relative;

  &::after {
    --bg-color: var(--exodus-fruit);

    background-color: var(--bg-color);
    content: '';
    height: 2px;
    position: absolute;
    left: 5rem;
    top: calc(50% + 1px);
    transform: translateY(-50%);
    width: calc(100% - 5rem);

    @media (--dark) {
      --bg-color: var(--yellow-dark);
    }
  }
}

.postlist-time-month,
.postlist-time-year {
  display: block;
  font-weight: 300;
}

.postlist-articleLink {
  line-height: 2;
  position: relative;
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    &::after { 
      transform: translate(80%, -50%);
    }
  }

  // Psuedo-element for arrow 
  &::after { 
    content: '→';
    font-size: 1.5em;
    position: absolute;
    top: 45%;
    transform: translate(55%, -50%);
    transition: transform var(--transition);
    user-select: none;
  }
}


//
// Modifiers
// ---------

.postlist.-stack {
  .postlist-items {
    margin-top: 1.5rem;
  }
  
  .postlist-item + .postlist-item {
    margin-top: 3rem;
  }
}

.postlist.-grid { 
  .postlist-items { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5rem;
  }

  .postlist-item { 
    grid-column: auto / span -1;

    @media (--min-960) {
      grid-column-end: span 6;
      margin-top: 0;
    }
  }
}

.postlist.-journey { 
  max-width: 1260px;

  .postlist-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0;
  }
  
  .postlist-item {
    border: 1px solid var(--plum-dark);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.65;
    min-height: 150px;
    padding: 1.25rem 1.5rem;
  }
}

.postlist.-featured { 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 2.5rem;
  overflow: hidden;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;

  @media (--min-720) {
    margin-bottom: 5rem;
    padding-right: 0;
  }

  // Overrides
  .postlist-header {
    grid-column: 1 / -1;

    @media (--min-720) {
      grid-column: 1 / span 10;
    }

    @media (--min-1120) {
      grid-column: 1 / span 9;
    }
  }

  .postlist-items {
    grid-column: 1 / -1;
  
    @media (--min-720) {
      grid-column: 1 / span 10;
    }
  
    @media (--min-1120) {
      grid-column: 1 / span 9;
    }
  }
  
  .postlist-item {
    margin-left: auto;
    max-width: 70ch;
    padding-right: 0.15rem;
    position: relative;
    
    // TODO: Hacky overrides
    .postlist-time {
      bottom: 0;
      font-size: 1rem;
      line-height: 1;
      position: absolute;
      right: 0;
      text-align: right;
    }
  }
  
  .postlist-image {
    display: block;
    filter: sepia(.1) brightness(0.9);
    height: 250px;
    margin-bottom: 1.5rem;
    transition: filter var(--transition-long);
    width: 100%;
  
    @media (--min-720) {
      height: 300px;
    }
  
    @media (--min-960) {
      height: 350px;
    }
  
    @media (--min-1120) {
      height: 400px;
    }
  
    &:hover {
      filter: none;
    }
  }
}