//
// Side-by-side
// ==================================================

.sideBySide {
  margin-top: 3rem;

  @media (--min-640) {
    display: flex;
  }

  // Descendants
  figure {
    margin-top: 0;

    &:not(:first-of-type) {
      @media (--min-640) {
        margin-left: 1.5rem;
      }
    }
  }

  figcaption {
    @extend ._text-smaller;

    font-family: var(--font-family-mono);
    font-style: normal;
    text-align: left;
  }
}
