//
// Side-by-side
// ==================================================

.sideBySide { 
  display: flex;
  margin-top: 3rem;

  @media (min-width: 720px) { 
    transform: translateX(-2.5vw);
    width: calc(100% + 5vw);
  }

  @media (min-width: 960px) { 
    transform: translateX(-5vw);
    width: calc(100% + 10vw);
  }

  // Descendants
  figure { 
    &:not(:first-of-type) { 
      margin-left: 1.5rem;
    }
  }
}