//
// Testimonial
// ==================================================

.testimonial {
  --background-color: var(--color-gray-1);
  --border-color: var(--color-gray-3);
  --color-paragraph: var(--color-plum-3);

  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  box-shadow:
    10px 10px 0 0 var(--portfolio-color),
    var(--shadow);
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  height: 100%;
  margin: 0;
  padding: 1.75rem 1.25rem;
  transition: box-shadow 100ms ease-in-out 150ms;

  @media (--dark) {
    --background-color: var(--color-plum-3);
    --border-color: var(--color-gray-7);
    --color-paragraph: var(--color-white);
  }

  @media (--min-640) {
    padding: 2.25rem 1.75rem;
  }

  @media (--min-800) {
    grid-column: 2 / span 8;
  }

  @media (--min-960) {
    padding: 3.5rem 2.5rem;
  }

  @media (--min-1120) {
    grid-column: 3 / span 6;
  }
}

.testimonial-text {
  flex: 1;

  // Descendants
  strong {
    font-weight: var(--font-weight-serif-regular);
    text-decoration: underline;
  }
}

.testimonial-cite {
  align-items: center;
  display: flex;
  font-style: normal;
  margin-top: 1.25rem;
}

.testimonial-author,
.testimonial-position {
  display: block;
}

.testimonial-author {
  flex-basis: 100%;
}

.testimonial-name,
.testimonial-position {
  line-height: 1.2;
}

.testimonial-image {
  --size: 48px;

  border-radius: 50%;
  height: var(--size);
  margin-right: 0.5rem;
  user-select: none;
  width: var(--size);

  @media (--min-560) {
    --size: 56px;
  }

  @media (--min-640) {
    --size: 64px;

    margin-right: 0.75rem;
  }

  @media (--min-1120) {
    --size: 72px;
  }
}
