//
// Testimonial
// ==================================================

.testimonial { 
  background-color: var(--gray-lighter);
  box-shadow: 10px 10px 0 0 var(--exodus-fruit);
  color: var(--plum-dark);
  grid-column: 1 / -1;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2.5rem 1.5rem;

  @media (--min-720) { 
    padding: 3.75rem 2.25rem;
  }

  @media (--min-960) { 
    box-shadow: 15px 15px 0 0 var(--exodus-fruit);
    grid-column: 4 / span 5;
    padding: 5rem 3rem;
  }
}

.testimonial-text { 
  @include h5;

  @media (--min-960) { 
    @include h4;
  }
}

.testimonial-cite { 
  font-family: var(--font-family-serif);
}

.testimonial-author,
.testimonial-position { 
  display: block;
}

.testimonial-position { 
  @include h6;
}