//
// Testimonial
// ==================================================

.testimonial {
  background-color: var(--color-gray-1);
  box-shadow:
    10px 10px 0 0 var(--portfolio-color),
    var(--shadow);
  color: var(--color-plum-3);
  grid-column: 1 / -1;
  margin: 3rem auto 0;
  padding: 1.75rem 1.25rem;

  @media (--min-640) {
    padding: 2.25rem 1.75rem;
  }

  @media (--min-720) {
    padding: 3.375rem 2rem;
  }

  @media (--min-800) {
    grid-column: 2 / span 8;
  }

  @media (--min-960) {
    box-shadow:
      15px 15px 0 0 var(--portfolio-color),
      var(--shadow);
    padding: 3.75rem 3rem;
  }

  @media (--min-1120) {
    grid-column: 3 / span 6;
  }
}

.testimonial-text {
  color: var(--color-plum-3);

  // Descendants
  strong {
    text-decoration: underline;
  }
}

.testimonial-cite {
  align-items: center;
  display: flex;
  font-style: normal;
  margin-top: 1.25rem;
}

.testimonial-author,
.testimonial-position {
  display: block;
}

.testimonial-author {
  flex-basis: 100%;
}

.testimonial-name,
.testimonial-position {
  line-height: 1.2;
}

.testimonial-image {
  --size: 48px;

  border-radius: 50%;
  height: var(--size);
  margin-right: 0.5rem;
  user-select: none;
  width: var(--size);

  @media (--min-560) {
    --size: 56px;
  }

  @media (--min-640) {
    --size: 64px;

    margin-right: 0.75rem;
  }

  @media (--min-1120) {
    --size: 72px;
  }
}
