//
// Testimonials
// ==================================================

.testimonials {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.testimonials-container {
  display: flex;
  gap: 0;
  grid-column: 1 / -1;
  position: relative;
  transition: transform 300ms ease-in-out;
  transform: translateX(-100%);
  width: calc(100% - 8.75rem);

  @media (--min-560) {
    gap: spacing(3);
    width: calc(100% - 13rem);
  }

  @media (--min-960) {
    gap: spacing(5);
    grid-column: 3 / span 8;
    width: 100%;
  }
}

.testimonials-slide {
  flex: 0 0 100%;
  position: relative;
  transition: opacity 300ms ease-in-out;
  width: 100%;

  // Modifiers
  &.-inactive {
    @media (--min-720) {
      opacity: 0.75;

      // Pseudo-elements with gradient fading into the left and right sides of the screen
      &::before,
      &::after {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 300px;
      }

      &::before {
        left: 0;
        background: linear-gradient(
          to left,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 1)
        );
      }

      &::after {
        right: 0;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 1)
        );
      }

      @media (--dark) {
        &::before,
        &::after {
          background: linear-gradient(
            to left,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
          );
        }
      }
    }

    .testimonial {
      filter: blur(2px);
    }
  }
}

.testimonials-nav {
  bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;

  @media (--min-960) {
    bottom: initial;
    top: 50%;
  }
}

.testimonials-button {
  color: var(--color-white);
  align-items: center;
  background: var(--color-gray-7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  pointer-events: auto;
  transition: background-color 150ms ease-in-out;
  width: 40px;

  &:hover {
    background-color: var(--color-gray-8);
    color: var(--color-white);
  }

  // Modifiers
  &.-prev {
    margin-left: 1rem;
  }

  &.-next {
    margin-right: 1rem;
  }
}
