//
// Testimonials Grid
// ==================================================

.testimonials-grid {
  --grid-gap: #{spacing(1.5)};
  --grid-columns: 1;

  @media (--min-640) {
    --grid-gap: #{spacing(3)};
    --grid-columns: 2;
  }
}

.testimonials-grid-container {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}

.testimonials-grid-item {
  position: relative;
  max-height: 350px;
  overflow: hidden;
  transition: max-height 0.3s ease;

  // Background gradient
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(
      to bottom,
      transparent,
      rgba(255, 255, 255, 0.9)
    );
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  // Modifiers
  &.-expanded {
    max-height: none;

    &::after {
      opacity: 0;
    }
  }

  // Descendants
  .testimonial {
    height: 100%;
    margin: 0;
  }
}
