.topbar {
  background-color: var(--color-topbar-background);
  padding: spacing(0.75) spacing(5);
  text-align: center;
}

.topbar-text {
  font-size: var(--font-size-step--1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: spacing(0.5);
}

.status-dot {
  animation: blink 2s infinite;
  background-color: var(--color-green);
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-right: spacing(0.5);
  width: 6px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
