.topbar {
  background-color: var(--color-topbar-background);
  padding: spacing(1) spacing(5) spacing(1.125);
  text-align: center;
}

.topbar-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: spacing(0.5);
  justify-content: center;

  @media (--min-640) {
    flex-direction: row;
  }
}

.topbar-text {
  align-items: center;
  display: flex;
  font-size: var(--font-size-step--1);
  line-height: 1.25;
}

.topbar-text + .topbar-text {
  margin-top: 0;
}

.topbar-link {
  margin-right: spacing(0.25);
}

.status-dot {
  animation: blink 2s infinite;
  background-color: var(--color-green);
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-right: spacing(1);
  width: 6px;
}

.topbar-separator {
  display: none;

  @media (--min-640) {
    display: inline-block;
    margin-left: spacing(0.5);
    margin-right: spacing(1);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
