//
// Wave
// ==================================================
// Ref: https://codepen.io/jakejarvis/pen/pBZWZw
//      https://css-tricks.com/css-keyframe-animation-delay-iterations/

.wave {
  animation-name: wave-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2.5s;
  transform-origin: 70% 70%;
  display: inline-block;

  // Modifiers
  &.-finite {
    animation-iteration-count: 3;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  // The following five values can be played with to make the waving more or less extreme
  5% {
    transform: rotate(14deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  15% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  25% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  } // Reset for the last half to pause
  100% {
    transform: rotate(0deg);
  }
}
