//
// Custom Properties
// ==================================================

:root {
  // Font Sizes
  --font-size: 16px;

  @media (--small) {
    --font-size: 18px;
  }

  @media (--large) {
    --font-size: 20px;
  }

  @media (--extra-large) {
    --font-size: 22px;
  }

  // Base Colors
  --color-base: hsl(43, 100%, 98.5%);
  --color-base-mid: hsl(43, 100%, 70%);
  --color-base-light: hsl(43, 100%, 95%);

  // Secondary Colors
  --color-secondary: hsl(0, 0%, 10%);
  --color-secondary-mid: hsl(0, 0%, 30%);
  --color-secondary-light: hsl(0, 0%, 60%);

  // Tertiary Colors
  --color-tertiary: hsl(349, 99%, 50%);
  --color-tertiary-mid: hsl(349, 99%, 65%);
  --color-tertiary-light: hsl(349, 99%, 90%);
}