//
// Base
// --------------------------------------------------

// Font families
$font-primary: "source-sans-pro", sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-mono: "Consolas", monospace;
$font-print-primary: "Georgia", "Times New Roman", "Times", serif;
$font-print-secondary: "Georgia", "Times New Roman", "Times", serif;

// Enable margins to all the elements
// except the first one in each nesting level
$automargin: false;

// ^ How much margin for those elements
$block-margin: 1lh;

// Transition duration
$transition-duration: 150ms;
$transition-duration-med: 225ms;
$transition-duration-long: 300ms;

// Custom media queries
// Use as @media (--medium) { … }
@custom-media --small (width >= 480px);
@custom-media --small-max (width <= 479px);
@custom-media --medium (width >= 768px);
@custom-media --large (width >= 960px);
@custom-media --extra-large (width >= 1440px);
@custom-media --hella-large (width >= 1920px);

// Spacing variables
$spacing-xxs: calc(0.25lh + 1vw);
$spacing-xs: calc(0.5lh + 1vw);
$spacing-s:  calc(1lh + 1vw);
$spacing-m:  calc(2lh + 1vw);
$spacing-l:  calc(3lh + 1vw);
$spacing-xl: calc(4lh + 1vw);
$spacing-xxl: calc(5.5lh + 1vw);

// Border radius
$border-radius: 3px;


//
// Type Scale
// --------------------------------------------------

// Suggested ratios
// Source: http://type-scale.com/
$_minor-second:     1.067;
$_major-second:     1.125;
$_minor-third:      1.200;
$_major-third:      1.250;
$_perfect-fourth:   1.333;
$_augmented-fourth: 1.414;
$_perfect-fifth:    1.500;
$_golden-ratio:     1.618;

// Ratio for primary scale
$scale-ratio: $_minor-third;

// Ratio for secondary scale
$scale-ratio-secondary: $_golden-ratio;


//
// Font Weights
// --------------------------------------------------

$fontWeight-normal:   400;
$fontWeight-bold:     600;
$fontWeight-heavy:    700;


//
// Grid
// --------------------------------------------------

// Enable grid styles
$enable-grid: true;

// Enable x-*, sm-*, md-*, lg-*, xl-* columns and offsets
$full-grid: false;

// Max width for container
$container-width: 1140px;
$container-width-narrow: 768px;

// Gutter size
$gutter: 2rem;

// Number of columns in a row
$num-columns: 12;

// Prefix for attributes
$prefix: '';

// Create columns and offsets above this breakpoint
$breakpoint: --medium;
