//
// Links with background on hover
// ==================================================

// TODO: Animate background as a `:before` pseudo-element
//       to add a nice micro-interaction
@mixin linkHoverBackground($dark: true) {
  --link-text-decoration: var(--color-purple-1);
  --link-hover-background: var(--color-purple-1);
  --link-color-hover: var(--color-white);
  --link-spacing: 0.1em;

  @if ($dark) {
    @media (--dark) {
      --link-text-decoration: var(--color-yellow-2);
      --link-hover-background: var(--color-yellow-2);
      --link-color-hover: var(--color-plum-3);
    }
  }

  margin-left: calc(var(--link-spacing) * -1);
  margin-right: calc(var(--link-spacing) * -1);
  padding-left: var(--link-spacing);
  padding-right: var(--link-spacing);
  text-decoration: underline;
  text-decoration-color: var(--link-text-decoration);
  text-decoration-thickness: var(--link-spacing);

  &:hover {
    background-color: var(--link-hover-background);
    color: var(--link-color-hover);
    text-decoration: none;
  }
}
