//
// Pull Content Outside of Container
// ==================================================

@mixin pullContentOutside($small: 'false', $large: 'false') {
  @media (--min-720) { 
    transform: translateX(-2.5vw);
    width: calc(100% + 5vw);
  }

  @if ($small == 'false') {
    @media (--min-960) { 
      transform: translateX(-5vw);
      width: calc(100% + 10vw);
    }
  }

  @if ($large == 'true') {
    @media (--min-1120) { 
      transform: translateX(-7.5vw);
      width: calc(100% + 15vw);
    }
  
    @media (--min-1440) { 
      transform: translateX(-10vw);
      width: calc(100% + 20vw);
    }
  }
}