//
// Typography
// ==================================================

//
// Headings
// --------

@mixin h1() {
  color: var(--color-heading);
  font-size: var(--font-size-step-6);
  font-weight: var(--font-weight-extra-bold);
  letter-spacing: -0.02em;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}

@mixin h2() {
  font-size: var(--font-size-step-5);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.015em;
  line-height: 1.1;
  margin-bottom: 0;
  margin-top: 0;
}

@mixin h3() {
  font-size: var(--font-size-step-4);
  font-weight: var(--font-weight-semibold);
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
}

@mixin h4() {
  font-size: var(--font-size-step-3);
  font-weight: var(--font-weight-semibold);
  letter-spacing: -0.015em;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 0;
}

@mixin h5() {
  font-size: var(--font-size-step-2);
  font-weight: var(--font-weight-semibold);
  letter-spacing: -0.005em;
  line-height: 1.35;
  margin-bottom: 0;
  margin-top: 0;
}

@mixin h6() {
  font-size: var(--font-size-step-1);
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

//
// Regular Text
// ------------

@mixin text-small() {
  font-size: var(--font-size-step--1);
  line-height: 1.35;
}

@mixin text-smaller() {
  font-size: var(--font-size-step--2);
  line-height: 1.3;
}

@mixin text-large() {
  font-size: var(--font-size-step-7);
  line-height: 1;
}

@mixin text-larger() {
  font-size: var(--font-size-step-8);
}
