//
// Typography
// ==================================================
// Ref: https://type-scale.com/?size=16&scale=1.250&text=A%20Visual%20Type%20Scale&font=Poppins&fontweight=400&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false


//
// Headings
// --------

@mixin h1() {
  font-size: 2.441rem;
  letter-spacing: -0.025em;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 0;

  @media (--min-640) { 
    font-size: 3.052rem;
  }
}

@mixin h2() {
  font-size: 1.953rem;
  letter-spacing: -.02em;
  line-height: 1.1;
  
  @media (--min-640) { 
    font-size: 2.441rem;
  }
}

@mixin h3() {
  font-size: 1.563rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: -.025em;
  line-height: 1.15;
  margin-bottom: .35em;

  @media (--min-640) { 
    font-size: 1.953rem;
  }
}

@mixin h4() {
  font-size: 1.25rem;
  font-weight: var(--font-weight-normal);
  letter-spacing: -.01em;
  line-height: 1.25;
  margin-bottom: .5em;

  @media (--min-640) { 
    font-size: 1.563rem;
  }
}

@mixin h5() {
  font-size: 1.125rem;
  font-weight: var(--font-weight-normal);
  letter-spacing: -.005em;
  line-height: 1.3;
  margin-bottom: .75em;
  
  @media (--min-640) { 
    font-size: 1.25rem;
  }
}

@mixin h6() {
  font-size: var(--font-base);
  font-weight: normal;

  @media (--min-640) { 
    font-size: 1.125rem;
    line-height: 1.4;
  }
}


//
// Regular Text
// ------------

@mixin text-small() {
  font-size: 0.8rem;
  line-height: 1.4;
}

@mixin text-smaller() { 
  font-size: 0.64rem;
  line-height: 1.3;
}

@mixin text-large() { 
  font-size: 3.815rem;
}

@mixin text-larger() { 
  font-size: 4.768rem;
}