//
// About
// ==================================================

.about-photos {
  align-items: start;
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
  margin-top: spacing(3);

  @media (--min-960) {
    flex-direction: row;
  }
}

.about-photo {
  @media (--min-960) {
    max-height: 350px;
  }
}
