//
// Services
// ==================================================
// TODO: Create generic abstractions for similarities with `_portfolio.scss`

.services { 
  margin-bottom: 5rem;
}

.services-header {
  margin-bottom: 2.25rem;
  margin-top: 1rem;
  
  @media (--max-640) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (--min-640) {
    text-align: center;
  }
}

.services-footer { 
  border-top: 1px solid var(--gray-dark);
  font-family: var(--font-family-serif);
  margin-top: 3rem;
  padding-top: 1.5rem;

  // Descendants
  > a:first-of-type { 
    font-style: italic;
  }
}

.services-title { 
  margin-bottom: 1.25rem;
  margin-top: .5rem;

  @media (--min-960) {
    @include text-large();
  }

  @media (--min-1120) {
    @include text-larger();
  }
}

.services-lede {
  font-family: var(--font-family-serif);
  font-style: italic;
  font-weight: var(--font-weight-serif-light);
  max-width: 40ch;
  
  @media (--min-640) {
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
  }
}

.services-content {
  @include h5();

  margin-top: 3rem;

  @media (--min-720) { 
    margin-top: 5rem;
  }

  // More affordance for headlines
  h2 {
    @include h1();

    margin-bottom: 1.5rem;
    margin-top: 3rem;

    @media (--min-960) {
      margin-top: 5rem;
    }
  }
}

.services-callout {
  @include h3();

  max-width: 39ch;

  // Stacked callouts
  & + & {
    @include h4();

    max-width: 47ch;
  }
}

.services-offering {
  // Descendants
  p {
    max-width: 65ch;
  }
}

.services-process {
  // @media (--min-1120) {
  //   @include container(1080px);
  // }
}

.services-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: 3rem;

  @media (--min-1120) {
    grid-column-gap: 5rem;
  }

  // Descendants
  h3 {
    margin-bottom: .75rem;
    margin-top: 1rem;
  }
}

.services-items-item {
  grid-column: 1 / -1;

  @media (--min-640) {
    grid-column: auto / span 2;
  }

  // Descendants
  p { 
    @include h6();
  }
}

.services-items-icon {
  --icon-size: 35px;

  max-width: var(--icon-size);

  @media (--min-1120) { 
    --icon-size: 40px;
  }

  @media (--min-1440) { 
    --icon-size: 45px;
  }

  @media (--min-1600) { 
    --icon-size: 50px;
  }

  // Descendants
  path {
    fill: var(--plum-dark);

    @media (--dark) { 
      fill: var(--yellow-light);
    }
  }
}

.services-tools {
  --background-color: var(--gray-light);
  --border-color: var(--exodus-fruit);

  background-color: var(--background-color);
  border-bottom: 5px solid var( --border-color);
  border-top: 5px solid var( --border-color);
  margin-bottom: 5rem;
  margin-top: 5rem;
  padding-bottom: 3rem;

  @media (--dark) {
    --background-color: var(--plum-dark);
    --border-color: var(--yellow-dark);
  }
}

.services-tools-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  @media (--min-720) { 
    grid-gap: .75rem;
  }

  @media (--min-1120) { 
    grid-gap: 1.5rem;
  }
}

.services-tools-item {
  // Descendants
  h3 { 
    @include h4;

    margin-bottom: 0;
  }
}

.services-faq {
  @media (--max-720) { 
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.services-faq-item { 
  --border-color: var(--exodus-fruit);

  &:not(:last-of-type) { 
    border-bottom: 3px solid var(--border-color);
    padding-bottom: 1.5rem;

    @media (--dark) { 
      --border-color: var(--yellow-dark);
    }
  }

  // Descendants
  h3 { 
    @include h4;

    margin-bottom: .5rem;
  }

  ul { 
    margin-bottom: 0;
    margin-top: 0;
  }
}