//
// Services
// ==================================================

.services-offering {
  // Descendants
  p {
    max-width: 65ch;
  }
}

.services-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: 3rem;

  @media (--min-1120) {
    grid-column-gap: 5rem;
  }

  // Descendants
  h3 {
    margin-bottom: 0.75rem;
    margin-top: 1rem;
  }
}

.services-items-item {
  grid-column: 1 / -1;

  @media (--min-640) {
    grid-column: auto / span 2;
  }
}

.services-items-icon {
  --icon-size: 35px;

  max-width: var(--icon-size);

  @media (--min-1120) {
    --icon-size: 40px;
  }

  @media (--min-1440) {
    --icon-size: 45px;
  }

  @media (--min-1600) {
    --icon-size: 50px;
  }

  // Descendants
  path {
    fill: var(--color-plum-3);

    @media (--dark) {
      fill: var(--color-yellow-1);
    }
  }
}

.services-tools {
  --background-color: var(--color-gray-2);
  --border-color: var(--color-purple-1);

  background-color: var(--background-color);
  border-bottom: 5px solid var(--border-color);
  border-top: 5px solid var(--border-color);
  margin-bottom: 5rem;
  margin-top: 5rem;
  padding-bottom: 3rem;

  @media (--dark) {
    --background-color: var(--color-plum-3);
    --border-color: var(--color-yellow-2);
  }
}

.services-tools-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  @media (--min-720) {
    grid-gap: 0.75rem;
  }

  @media (--min-1120) {
    grid-gap: 1.5rem;
  }
}

.services-tools-item {
  // Descendants
  h3 {
    margin-bottom: 0;
  }
}

.services-faq {
  @media (--max-720) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.services-faq-item {
  --border-color: var(--color-purple-1);

  &:not(:last-of-type) {
    border-bottom: 3px solid var(--border-color);
    padding-bottom: 1.5rem;

    @media (--dark) {
      --border-color: var(--color-yellow-2);
    }
  }

  // Descendants
  h3 {
    margin-bottom: 0.5rem;
  }

  ul {
    margin-bottom: 0;
    margin-top: 0;
  }
}
