//
// Horizontal Navigation
// ==================================================

.navHorizontal {
  margin-top: 0;
  text-align: right;

  a {
    transition: opacity $transition-duration-long;

    &.-is-active { text-decoration: underline; }
  }

  // Modifiers
  &.-ornate {
    text-align: center;

    ul {
      &:before,
      &:after {
        background: getColor(background, dark);
        content: '';
        display: inline-block;
        height: 1px;
        vertical-align: middle;
        width: 100px;

        @media (--medium) {
          width: 150px;
        }
      }

      &:before { margin-right: $spacing-s; }

      &:after { margin-left: $spacing-s; }
    }
  }
}

.navHorizontal-item {
  display: inline-block;
  font-size: typeScale(1);
  margin-bottom: 0;

  &:not(:last-of-type) {
    margin-right: $spacing-s;
  }

  &:not(.-mobile) {
    @media (--small-max) {
      display: none;
    }
  }

  // Modifiers
  &.-mobile {
    margin-right: 0;

    @media (--small) {
      display: none;
    }
  }
}
