//
// Mobile Nav
// =============================================================================

//
// Variables
// ---------

$mobileNavTrigger-size: 26px;


//
// Menu
// ----

.mobileNav {
  color: white;
  height: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 5px;
  transition: all ease-in $transition-duration;
  width: 100%;
  z-index: 800;

  @media (--small) {
    opacity: 0 !important;
  }

  &.-is-active {
    height: 100%;
    min-height: 100%;
    opacity: 1;
    pointer-events: auto;
  }
}

.mobileNav-container {
  background-color: getColor(background, light);
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  overflow: scroll;
  padding: $spacing-xl $spacing-s 0;
  text-align: left;
  width: 100%;

  &::-webkit-scrollbar { width: 0; }

  a {
    color: getColor(text, heading);
    text-decoration: none;

    &:hover { color: getColor(text, secondary); }
  }

  ul {
    margin-top: 0;
    padding-left: 0;
  }

  li {
    display: block;
    font-family: $font-secondary;
    font-size: typeScale(8);
    list-style-type: none;
    margin-bottom: $spacing-xs;
  }
}


//
// Hamburger Button
// ----------------

.mobileNav-wrapper {
  cursor: pointer;
  height: $mobileNavTrigger-size;
  position: absolute;
  right: $mobileNavTrigger-size;
  top: 70px;
  width: $mobileNavTrigger-size;
  z-index: 1000;

  @media (--small) {
    opacity: 0;
  }
}

.mobileNav-toggle {
  // cursor: pointer;
  // display: block;
  // height: $mobileNavTrigger-size;
  // width: $mobileNavTrigger-size;

  span {
    &,
    &:before,
    &:after {
      background-color: getColor(text, heading);
      border-radius: 1px;
      content: '';
      cursor: pointer;
      display: block;
      height: 2px;
      position: absolute;
      top: 2px;
      transition: background-color $transition-duration-long;
      width: $mobileNavTrigger-size;
    }

    &:before,
    &:after { transition: all $transition-duration-med ease-in-out; }

    &:before { top: 8px; }

    &:after { top: 16px; }
  }

  &.-is-active span {
    background-color: transparent;

    &:before,
    &:after { top: 8px; }

    &:before { transform: rotate(45deg); }

    &:after { transform: rotate(-45deg); }
  }
}
