//
// Post
// ==================================================

.post {
  padding-bottom: $spacing-s;
  padding-top: $spacing-s;

  @media (--medium) {
    padding-top: $spacing-m;
  }

  .post-header {
    padding-bottom: $spacing-s;
  }
}

// Header
.post-header {
  @media (--medium) {
    flex: 0 1 91.66667%;
    margin-left: 8.33333%;
    max-width: 91.66667%;
  }

  @media (--large) {
    flex: 0 1 83.33333%;
    margin-left: 25%;
    max-width: 83.33333%;
  }

  @media (--very-large) {
    flex: 0 1 66.66667%;
    margin-left: 33.33333%;
    max-width: 66.66667%;
  }
}

// Title
.post-title {
  font-size: typeScale(9);
  letter-spacing: -.025rem;
  line-height: 1.1;
  margin-bottom: $spacing-xs;

  @media (--medium) {
    font-size: typeScale(11);
  }
}

// Date
.post-date {
  color: getColor(text, secondary);
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: .01rem;
}

// Content
.post-content {
  @media (--medium) {
    flex: 0 1 75%;
    margin-left: 8.33333%;
    max-width: 75%;
  }

  @media (--large) {
    flex: 0 1 58.33333%;
    margin-left: 25%;
    max-width: 58.33333%;
  }

  @media (--very-large) {
    flex: 0 1 41.66667%;
    margin-left: 33.33333%;
    max-width: 41.66667%;
  }

  h1, h2, h3 {
    margin: $spacing-m 0 1rem;
    position: relative;
  }

  img {
    padding-bottom: $spacing-xxs;
    padding-top: $spacing-xxs;

    @media (--medium) {
      max-width: none;
      transform: translateX(-11%);
      width: 130%;
    }

    @media (--large) {
      max-width: none;
      transform: translateX(-15%);
      width: 140%;
    }
  }
}

.post-content-header-link {
  color: getColor(text, secondary);
  font-size: 1rem;
  font-family: $font-primary;
  font-weight: bold;
  left: -1.15rem;
  line-height: 1;
  opacity: .35;
  position: absolute;
  top: .375rem;
  transition: opacity $transition-duration;

  &:hover,
  &:active { opacity: .5; }
}
