//
// Post
// ==================================================

//
// Container
// ---------

.post {
  padding-bottom: $spacing-s;
  padding-top: $spacing-m;

  @media (--medium) {
    padding-top: $spacing-l;
  }

  .post-header { padding-bottom: $spacing-m; }
}


//
// Header
// ------

.post-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1220px;

  @media (--medium) {
    text-align: center;
  }
}


//
// Title
// -----

.post-title {
  font-size: typeScale(6);
  margin-bottom: $spacing-s;

  @media (--medium) {
    font-size: typeScale(8);
    letter-spacing: -.015rem;
  }
}


//
// Content
// -------

.post-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;

  > p,
  > ol,
  > ul,
  > h1,
  > h2,
  > h3,
  > blockquote {
    @media (--medium) {
      margin-left: $spacing-m;
      margin-right: $spacing-m;
    }
  }

  h1, h2, h3 {
    margin-bottom: $block-margin;
    margin-top: $spacing-m;
    position: relative;
  }

  h3 {
    font-variant: all-small-caps;
    letter-spacing: .15rem;
    text-transform: lowercase;
  }

  img {
    padding-bottom: $spacing-xxs;
    padding-top: $spacing-xxs;

    @media (--medium) {
      max-width: none;
      transform: translateX(-11%);
      width: 130%;
    }

    @media (--large) {
      max-width: none;
      transform: translateX(-15%);
      width: 140%;
    }
  }

  table {
    width: 100%;

    thead { background-color: transparent; }

    th,
    td { border-right: 1px solid getColor(base, lines); }
  }
}


//
// Heading Anchor
// --------------

.post-content-header-link {
  color: getColor(text, secondary);
  font-size: 1rem;
  font-family: $font-primary;
  font-weight: $fontWeight-bold;
  left: -1.15rem;
  line-height: 1;
  opacity: .5;
  position: absolute;
  top: .375rem;
  transition: opacity $transition-duration;

  &:hover,
  &:active { opacity: .75; }
}
