//
// Post
// ==================================================

//
// Container
// ---------

.post {
  padding-bottom: $spacing-s;
  padding-top: $spacing-s;
}


//
// Header
// ------

.post-header {
  max-width: 70rem;
  padding-bottom: $spacing-m;

  @media (--medium) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}


//
// Title
// -----

.post-title {
  font-size: typeScale(7);
  margin-bottom: $spacing-s;
  margin-top: 0;

  @media (--medium) {
    font-size: typeScale(8.5);
  }

  @media (--extra-large) {
    font-size: typeScale(10);
  }
}


//
// Content
// -------

.post-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 43rem;

  > p,
  > ol,
  > ul,
  > h1,
  > h2,
  > h3,
  > blockquote {
    @media (--medium) {
      margin-left: $spacing-m;
      margin-right: $spacing-m;
    }
  }

  h1, h2, h3 {
    margin-bottom: $block-margin;
    margin-top: $spacing-m;
    position: relative;

    // Display anchor on header hover
    &:hover {
      .post-content-header-link { opacity: .75; }
    }
  }

  h2 {
    .post-content-header-link svg { width: typeScale(3); }
  }

  h3 {
    .post-content-header-link svg { width: typeScale(2); }
  }

  h3 {
    font-variant: all-small-caps;
    letter-spacing: .15rem;
    text-transform: lowercase;
  }

  img {
    padding-bottom: $spacing-xxs;
    padding-top: $spacing-xxs;

    @media (--medium) {
      max-width: none;
      transform: translateX(-11%);
      width: 130%;
    }

    @media (--large) {
      max-width: none;
      transform: translateX(-15%);
      width: 140%;
    }
  }

  table {
    width: 100%;

    thead { background-color: transparent; }

    th,
    td { border-right: 1px solid getColor(base, lines); }
  }
}


//
// Heading Anchor
// --------------

.post-content-header-link {
  margin-left: .1lh;
  opacity: 0;
  transition: opacity $transition-duration;
  vertical-align: text-top;

  &:hover,
  &:active {
    opacity: 1;
    text-decoration: none;
  }
}
