//
// Site Header
// ==================================================

.siteHeader {
  margin-top: $spacing-s;
  width: 100%;
}

.siteHeader-grid {
  @media (--medium) {
    align-items: center;
  }
}
