//
// Site Footer
// ==================================================

.siteFooter {
  background-color: getColor(background, light);
  border-top: 3px solid getColor(base, splash);
  margin-top: $spacing-xs;
  padding-bottom: $spacing-m;
  padding-top: $spacing-m;
}

.siteFooter-heading {
  font-size: typeScale(3);
  font-weight: 400;
}

.siteFooter-copy { max-width: $content-limit-large; }
