//
// Site Header
// ==================================================


//
// Variables
// ---------

$navigation-width: 75px;
$navigation-fontSize: 16px;
$navigation-padding: 15px;


//
// Styles
// ------

.siteHeader {
  margin-top: $spacing-s;
  width: 100%;
}


//
// Navigation
// ----------

.siteHeader-navigation {
  text-align: right;

  @media (--medium-max) {
    display: none;
  }

  li {
    display: inline-block;
    font-size: typeScale(1);
    font-weight: 500;

    &:not(:last-of-type) {
      margin-right: $spacing-xs;
    }
  }

  a {
    transition: opacity $transition-duration-long;

    &:hover { border-bottom: none; }

    &.-is-inactive { opacity: .5; }
  }
}
