//
// Site Footer
// ==================================================


//
// Variables
// ---------

$avatar-size: 125px;


//
// Styles
// ------

.siteFooter {
  background-color: getColor(background, light);
  border-top: 1px solid darken(getColor(background, light), 5%);
  margin-top: $spacing-xs;
  padding-bottom: $spacing-m;
  padding-top: $spacing-m;

  @media (--small) {
    margin-top: $spacing-m;
  }
}

// My image
.siteFooter-me {
  border-radius: 50%;
  display: block;
  max-height: $avatar-size;
  margin-left: auto;
  max-width: $avatar-size;

  @media (--medium-max) {
    margin-bottom: $spacing-s;
  }

  @media (--medium) {
    max-height: calc(#{$avatar-size} + 1.5vw);
    max-width: calc(#{$avatar-size} + 1.5vw);
  }
}

// Description text
.siteFooter-description {
  margin-top: $spacing-xs;
  max-width: $content-limit;

  @media (--very-large) {
    max-width: $content-limit-large;
  }
}
