<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title></title>
    
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <meta name="author" content="" />
    
		{# <link rel="shortcut icon" href="/favicon.ico"> #}
		<link rel="stylesheet" href="https://use.typekit.net/qrg0pyh.css">
    <link rel="stylesheet" type="text/css" href="/dist/css/app.min.css" />
    
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
  </head>
  
	<body class="loading">
		<main>
			<div data-scroll>
				<div class="content">
					<div class="item">
						<div class="item__img-wrap"><div class="item__img item__img--t1"></div></div>
						<div class="item__caption">
							<h2 class="item__caption-title">Lorem ipsum</h2>
							<p class="item__caption-copy">Some description text</p>
						</div>
					</div>
					<div class="item">
						<div class="item__img-wrap"><div class="item__img item__img--t2"></div></div>
						<div class="item__caption">
							<h2 class="item__caption-title">Lorem ipsum</h2>
							<p class="item__caption-copy">Some description text</p>
						</div>
					</div>
					<div class="item">
						<div class="item__img-wrap"><div class="item__img item__img--t3"></div></div>
						<div class="item__caption">
							<h2 class="item__caption-title">Lorem ipsum</h2>
							<p class="item__caption-copy">Some description text</p>
						</div>
					</div>
					<div class="item">
						<div class="item__img-wrap"><div class="item__img item__img--t1"></div></div>
						<div class="item__caption">
							<h2 class="item__caption-title">Lorem ipsum</h2>
							<p class="item__caption-copy">Some description text</p>
						</div>
					</div>
				</div>
			</div>
    </main>
    
		<script src="/dist/js/imagesloaded.pkgd.min.js"></script>
		<script src="/dist/js/demo.js"></script>
	</body>
</html>
