<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Animal Crossing Diary</title>
    
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <meta name="author" content="" />
    
		{# <link rel="shortcut icon" href="/favicon.ico"> #}
		<link rel="stylesheet" href="https://use.typekit.net/ntj4srp.css">
    <link rel="stylesheet" type="text/css" href="/dist/css/app.min.css" />
    
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
  </head>
  
	<body class="loading">
		<main>
			<div data-scroll>
				<div class="content">
          {%- for post in collections.post | reverse -%}
            {% set date = post.date | simple %}
            {% set image = post.data.image %}
            {% set imageWidth = post.data.imageWidth %}
            {% set title = post.data.title %}
            {% set description = post.data.description %}

            <article class="item">
              <div class="item__date">
                {{ date }}
              </div>

              <div class="item__img-wrap" style="
                {% if image %}--image: url('/dist/images/{{ image }}');{% endif %}
                {% if imageWidth %}--width: {{ imageWidth }};{% endif %}
              ">
                <div class="item__img"></div>
              </div>
              
              <div class="item__caption">
                {% if title %}
                  <h2 class="item__caption-title">
                    {{ title }}
                  </h2>
                {% endif %}

                {% if description %}
                  <p class="item__caption-copy">
                    {{ description }}
                  </p>
                {% endif %}
              </div>
            </article>

            {% if loop.last %}
              <p>Thank you for visiting 💚</p>
            {% endif %}
          {%- endfor -%}
				</div>
			</div>
    </main>
    
		<script src="/dist/js/imagesloaded.pkgd.min.js"></script>
		<script src="/dist/js/demo.js"></script>
	</body>
</html>
