//
// Fonts
// ==================================================

@font-face {
  font-family: 'Tiempos Fine';
  font-style: normal;
  font-weight: 200;
  src: local('Tiempos Fine Regular'), url('../fonts/tiempos-fine-test-regular.woff') format('woff');
}
  
@font-face {
  font-family: 'Tiempos Fine';
  font-style: italic;
  font-weight: 200;
  src: local('Tiempos Fine Regular Italic'), url('../fonts/tiempos-fine-test-regular-italic.woff') format('woff');
}
  
@font-face {
  font-family: 'Tiempos Fine';
  font-style: normal;
  font-weight: 100;
  src: local('Tiempos Fine Light'), url('../fonts/tiempos-fine-test-light.woff') format('woff');
}
  
@font-face {
  font-family: 'Tiempos Fine';
  font-style: italic;
  font-weight: 100;
  src: local('Tiempos Fine Light Italic'), url('../fonts/tiempos-fine-test-light-italic.woff') format('woff');
}
  
@font-face {
  font-family: 'Tiempos Fine';
  font-style: normal;
  font-weight: 300;
  src: local('Tiempos Fine Medium'), url('../fonts/tiempos-fine-test-medium.woff') format('woff');
}
  
@font-face {
  font-family: 'Tiempos Fine';
  font-style: italic;
  font-weight: 300;
  src: local('Tiempos Fine Medium Italic'), url('../fonts/tiempos-fine-test-medium-italic.woff') format('woff');
}
  
@font-face {
  font-family: 'Tiempos Fine';
  font-style: normal;
  font-weight: 400;
  src: local('Tiempos Fine Semibold'), url('../fonts/tiempos-fine-test-semibold.woff') format('woff');
}
  
@font-face {
  font-family: 'Tiempos Fine';
  font-style: italic;
  font-weight: 400;
  src: local('Tiempos Fine Semibold Italic'), url('../fonts/tiempos-fine-test-semibold-italic.woff') format('woff');
}
  
@font-face {
  font-family: 'Tiempos Fine';
  font-style: normal;
  font-weight: 500;
  src: local('Tiempos Fine Bold'), url('../fonts/tiempos-fine-test-bold.woff') format('woff');
}
  
@font-face {
  font-family: 'Tiempos Fine';
  font-style: italic;
  font-weight: 500;
  src: local('Tiempos Fine Bold Italic'), url('../fonts/tiempos-fine-test-bold-italic.woff') format('woff');
}
  
@font-face {
  font-family: 'Tiempos Fine';
  font-style: normal;
  font-weight: 900;
  src: local('Tiempos Fine Black'), url('../fonts/tiempos-fine-test-black.woff') format('woff');
}
  
@font-face {
  font-family: 'Tiempos Fine';
  font-style: italic;
  font-weight: 900;
  src: local('Tiempos Fine Black Italic'), url('../fonts/tiempos-fine-test-black-italic.woff') format('woff');
}