//
// Shared
// ==================================================

:root {   
  background-color: var(--color-base);
  color: #030303;
  font-size: var(--font-size);
  font-weight: $fontWeight-light;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

// Content selection background
::selection { background: var(--color-tertiary-light); }
::-moz-selection { background: var(--color-tertiary-light); }