//
// Shared
// ==================================================

:root {   
  background-color: var(--color-base);
  color: #030303;
  font-size: var(--font-size);
  font-weight: $fontWeight-regular;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  @media screen and (-webkit-min-device-pixel-ratio: 2), 
         screen and (min-resolution: 2dppx) {
    font-weight: $fontWeight-light;
  }
}

// Content selection background
::selection { background: var(--color-tertiary-light); }
::-moz-selection { background: var(--color-tertiary-light); }