//
// Utility Classes
// ==================================================

//
// Section Spacing
// ---------------

._sectionSpacing-full { 
    margin-top: $spacing-xl;
}

._sectionSpacing-half { 
    margin-top: $spacing-m;
}


//
// OpenType Modifiers
// ------------------

.-small-caps {
  font-feature-settings: "smcp";
  font-variant-caps: small-caps;
}

.-all-small-caps {
  font-feature-settings: "c2sc", "smcp";
  font-variant-caps: all-small-caps;
}

.-proportional-numbers {
  font-feature-settings: "pnumn";
  font-variant-numeric: proportional-nums;
}

.-fraction {
  font-feature-settings: "frac";
  font-variant-numeric: diagonal-fractions;
}

.-ordinal {
  font-feature-settings: "ordn";
  font-variant-numeric: ordinal;
}


//
// Horizontal Scrollbars
// ---------------------

._scroll-horizontal {
  &::-webkit-scrollbar {
    height: .75rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-tertiary-light);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary-mid);
  }
}


//
// A11y Hidden Content
// -------------------

.-hidden { 
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}