//
// Utility Classes
// ==================================================

//
// Section Spacing
// ---------------

._sectionSpacing-full { 
    margin-top: $spacing-xl;
}

._sectionSpacing-half { 
    margin-top: $spacing-m;
}


//
// OpenType Modifiers
// ------------------

.-small-caps {
  font-feature-settings: "smcp";
  font-variant-caps: small-caps;
}

.-all-small-caps {
  font-feature-settings: "c2sc", "smcp";
  font-variant-caps: all-small-caps;
}

.-proportional-numbers {
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

.-fraction {
  font-feature-settings: "frac";
  font-variant-numeric: diagonal-fractions;
}

.-ordinal {
  font-feature-settings: "ordn";
  font-variant-numeric: ordinal;
}
