//
// Custom Styles
// =============================================================================


//
// Imports
// -------

@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";


//
// Variables
// ---------

$height-min: 486px;


//
// Base
// ----

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  backface-visibility: hidden;
  border: 5px solid rgba(white, .5);
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;

  @media (max-height: $height-min) {
    background: url('../images/bg.jpg') no-repeat center center;
    background-size: cover;
  }

  @media (min-width: $bp-small) {
    border-width: 10px;
  }
}


//
// Typography
// ----------

h1, h2, h3 { font-weight: 600; }

h1 {
  font-weight: 600;
  letter-spacing: .25px;
  text-transform: uppercase;
  transition: font-size $transition-duration;

  &.kilo {
    font-size: 1.65em;

    @media (min-width: $bp-extra-small) {
      font-size: pxToEm($kilo-size * .60);
    }

    @media (min-width: $bp-small) {
      font-size: pxToEm($kilo-size);
    }
  }
}

a {
  border-bottom: 1px solid white;
  color: white;

  &:hover {
    background-color: white;
    color: #222;
  }

  &:active,
  &:focus { color: white; }
}

.email{
  bottom: 20px;
  font-size: pxToEm(12);
  position: absolute;
  right: 20px;
  z-index: 103;
}

.download {
  border-bottom: none;
  bottom: 15px;
  font-size: pxToEm(18);
  left: 25px;
  position: absolute;
  z-index: 104;

  &:hover {
    background-color: transparent;
    color: white;
  }
}


//
// Background
// ----------

.overlay,
.layer,
.layers,
.layer--bg {
  display: none;
  visibility: hidden;

  @media (min-height: $height-min) {
    display: block;
    visibility: visible;
  }
}

.overlay {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: .13;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.layers {
  height: 120vh;
  left: -5%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  transform: translate(-50%, -50%);
  top: -5%;
  width: 115%;
}

.layer {
  height: 120vh;
  overflow: hidden;
  width: 110%;
}

.layer--bg {
  background: url('../images/bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  left: -5%;
  position: absolute;
  top: -5%;
  width: 100%;
}


//
// Home
// ----

.section--home {
  @media (min-height: $height-min) {
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }

  // Typography
  p {
    line-height: 1.75;

    @media (min-width: $bp-small) {
      font-weight: 300;
      line-height: 2;
    }

    @media (min-width: $bp-medium) {
      margin: 0 auto;
      width: 820px;
    }
  }

  // Content positioning
  .content {
    margin: $spacing-xl auto;
    text-align: center;
    width: 90%;
    z-index: 101;

    @media (min-height: $height-min) {
      left: 50%;
      margin-top: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


//
// Avatar
// ------

.avatar {
  background-clip: content-box;
  border: 7px solid rgba(white, 0.4);
  border-radius: 50%;
  margin-bottom: $spacing-s;
  transition: all linear $transition-duration;
  width: 96px;

  &:hover { border-width: 4px; }
}


//
// Social
// ------

.social {
  margin-top: $spacing-xl;
  text-align: center;

  a {
    border-bottom: none;
    font-size: pxToEm(24);
    margin-right: .7em;

    @media (min-width: $bp-medium) {
      font-size: pxToEm(40);
    }

    &:last-of-type { margin-right: 0; }

    &:hover { background-color: transparent; }

    &.social-linkedin:hover { color: #0077b5; }

    &.social-github:hover { color: #333; }

    &.social-behance:hover { color: #1769ff; }

    &.social-dribbble:hover { color: #ea4c89; }
  }
}


//
// Tooltips
// --------

.tooltip,
[data-hint] {
  font-size: pxToEm(14);

  &:after {
    background-color: getColor(background, light);
    color: #222;
  }
}

.tooltip--right {
  &:before {
    border-right-color: getColor(background, light);
    margin-bottom: -11px;
  }

  &:before,
  &:after { bottom: 70%; }
}
