<section class="cta" style="--top-margin: 10">
  <div class="cta-content _container">
    <h2 class="cta-title">
      Interested in working together?
    </h2>

    <p class="cta-subheading _text-h5">
      I have availability throughout Q2–Q4 2025 and would love to help you with your next project.
    </p>

    <p class="cta-link">
      <a class="button -primary" href="/project-inquiry">
        Get in touch →
      </a>
    </p>
  </div>
</section>