{# Imports #}
{% import "atoms/label.njk" as label with context %}
{% import "molecules/entry.njk" as entry %}

{# Component Settings #}
{% set heading = section.heading %}
{% set items = section.items %}
{% set spacing = section.spacing %}
{% set orientation = section.orientation %}
{% set columns = section.columns %}
{% set layout = '-' ~ orientation ~ '-' ~ columns ~ '-columns' %}

{# Markup #}
<section class="collections {{ layout if orientation and columns else '-' ~ orientation }} _container" style="--top-margin: {{ spacing if spacing else 0 }}">
  {{ label.output(heading, 'collections-label' )}}

  {% if items %}
    {% set itemsFrom = items.from %}
    {% set itemsLimit = items.limit %}
    {% set onlyFeatured = items.featured %}
    {% set collection = collections[itemsFrom] | head(-itemsLimit) %}

    {% if collection.length %} 
      {# Posts #}
      {% if itemsFrom == 'featured' or itemsFrom == 'posts' %}
        {%- for post in collection | reverse -%}
          {% set entryCover = post.data.cover %}
          {% set entryTitle = post.data.title %}
          {% set entryLede = post.data.lede %}
          {% set entryUrl = post.url %}

          {{ entry.output(entryCover, entryTitle, entryLede, entryUrl, 'Read article') }}
        {% endfor %}

      {# Portfolio #}
      {% elif itemsFrom == 'portfolio' %}
        {% for id, item in portfolio %}
          {% set portfolioCover = 'https://res.cloudinary.com/keenan-payne/image/upload/f_auto,q_auto,w_1000/' ~ item.cover %}
          {% set portfolioName = item.name %}
          {% set portfolioLede = item.lede %}
          {% set portfolioUrl = '/portfolio/' ~ item.name | lower | replace(' ', '-') %}
          {% set portfolioMore = 'View case study' %}

          {% if not item.template %}
            {% if onlyFeatured %}
              {% if item.featured %}
                {{ entry.output(portfolioCover, portfolioName, portfolioLede, portfolioUrl, portfolioMore) }}
              {% endif %}
            {% else %}
              {% if not item.featured %}
                {{ entry.output(portfolioCover, portfolioName, portfolioLede, portfolioUrl, portfolioMore) }}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% else %}
      {% set content = 'No content is published here yet.' %}
      {% include "type/notice.html" %}
    {% endif %}
  {% endif %}
</section>
