{# Imports #}
{% import "atoms/label.njk" as label with context %}
{% import "molecules/entry.njk" as entry %}

{# Component Settings #}
{% set heading = section.heading %}
{% set items = section.items %}
{% set spacing = section.spacing %}
{% set orientation = section.orientation %}
{% set columns = section.columns %}
{% set showCovers = section.showCovers %}
{% set layout = '-' ~ orientation ~ '-' ~ columns ~ '-columns' %}

{# Markup #}
<section class="collections _container" style="--top-margin: {{ spacing if spacing else 0 }}">
  {{ label.output(heading, 'collections-label' )}}

  {% if items %}
    <div class="collections-items {{ layout if orientation and columns else '-' ~ orientation }}">
      {% set itemsFrom = items.from %}
      {% set itemsLimit = items.limit or 99999 %}
      {% set featured = items.featured %}
      {% set collection = collections[itemsFrom] | head(-itemsLimit) %}
      {% set tag = tag %}
      {% set type = type %}

      {% if collection.length %} 
        {# Posts #}
        {% if itemsFrom == 'featured' or itemsFrom == 'posts' %}
          {# Filter based on tags #}
          {% if tag %}
            {% for post in collection | reverse %}
              {% if post.data.tags and post.data.tags.includes(tag) %}
                {% set entryCover = post.data.cover %}
                {% set entryTitle = post.data.title %}
                {% set entryLede = post.data.lede %}
                {% set entryUrl = post.url %}

                {{ entry.output(showCovers, entryCover, entryTitle, entryLede, entryUrl, 'Read article') }}
              {% endif %}
            {% endfor %}
          {# Filter based on type #}
          {% elif type %}
            {% for post in collection | reverse %}
              {% if post.data.type == type %}
                {% set entryCover = post.data.cover %}
                {% set entryTitle = post.data.title %}
                {% set entryLede = post.data.lede %}
                {% set entryUrl = post.url %}

                {{ entry.output(showCovers, entryCover, entryTitle, entryLede, entryUrl, 'Read article') }}
              {% endif %}
            {% endfor %}
          {% else %}
            {%- for post in collection | reverse -%}
              {% set entryCover = post.data.cover %}
              {% set entryTitle = post.data.title %}
              {% set entryLede = post.data.lede %}
              {% set entryUrl = post.url %}

              {{ entry.output(showCovers, entryCover, entryTitle, entryLede, entryUrl, 'Read article') }}
            {% endfor %}
          {% endif %}

        {# Portfolio #}
        {% elif itemsFrom == 'portfolio' %}
          {% if featured %}
            {% for feature in featured %}
              {% set item = portfolio[feature] %}
              {% set cover = 'https://res.cloudinary.com/keenan-payne/image/upload/f_auto,q_auto,w_1000/' ~ item.cover %}
              {% set name = item.name %}
              {% set lede = item.lede %}

              {# Special case due to square brackets #}
              {% if item.name == 'Collective [i]' %}
                {% set url = '/portfolio/collective-intelligence' %}
              {% else %}
                {% set url = '/portfolio/' ~ item.name | lower | replace(' ', '-') | replace('.', '') %}
              {% endif %}

              {% set more = 'View case study' %}

              {{ entry.output(showCovers, cover, name, lede, url, more) }}
            {% endfor %}
          {% else %}
            {% for id, item in portfolio %}
              {% set portfolioCover = 'https://res.cloudinary.com/keenan-payne/image/upload/f_auto,q_auto,w_1000/' ~ item.cover %}
              {% set portfolioName = item.name %}
              {% set portfolioLede = item.lede %}
              {% set portfolioMore = 'View case study' %}

              {# Special case due to square brackets #}
              {% if item.name == 'Collective [i]' %}
                {% set portfolioUrl = '/portfolio/collective-intelligence' %}
              {% else %}
                {% set portfolioUrl = '/portfolio/' ~ item.name | lower | replace(' ', '-') | replace('.', '') %}
              {% endif %}

              {% if not item.template %}
                {% if not item.featured %}
                  {{ entry.output(showCovers, portfolioCover, portfolioName, portfolioLede, portfolioUrl, portfolioMore) }}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}

        {# Services #}
        {% elif itemsFrom == 'services' %}
          {% for service in collection | sort(attribute='data.order') %}
            {% set entryTitle = service.data.title %}
            {% set entryLede = service.data.lede %}
            {% set entryUrl = service.url %}
            {% set entryCover = service.data.cover if service.data.cover else '' %}

            {{ entry.output(showCovers, entryCover, entryTitle, entryLede, '', 'Learn more') }}
          {% endfor %}
        {% endif %}
      {% else %}
        {% set content = 'No content is published here yet.' %}
        {% include "type/notice.html" %}
      {% endif %}
    </div>
  {% endif %}
</section>