<figure {% if class %} class="{{ class }}" {% endif %}>
  <a href="{% src imgSrc %}" title="View full image">
    <img {% if imgSrc %} src="{% src imgSrc %}" {% endif %} {% if set != false %} srcset="{% srcset imgSrc %}" {% endif %} {% if alt %} alt="{{ alt }}" {% endif %} {% if width %} width="{{ width }}" {% endif %} {% if lazy != false %} loading="lazy" {% endif %}>
  </a>

  {%- if caption -%}
    <figcaption>
      <div class="figure-caption">
        {{ caption }}
      </div>

      {%- if source_title and source_link -%}
        <p class="figure-source">
          <small>
            <strong>Source:</strong>
            <a href="{{ source_link }}" title="{{ source_title }}" target="_blank" rel="noopener">
              {{ source_title }}
            </a>
          </small>
        </p>
      {%- endif -%}
    </figcaption>
  {%- endif -%}
</figure>
