{# Imports #}
{% import "atoms/label.njk" as label with context %}
{% import "molecules/entry.njk" as entry %}

{# Global Settings #}
{% set introText = introText %}

{# Component Settings #}
{% set heading = section.heading %}
{% set subheading = section.subheading %}
{% set right = section.right %}

{# Markup #}
<section class="intro">
  <p class="testimonial-text _type-my-voice _text-h3">
    <span>{{ content | safe }}</span>
  </p>

  {% if right %}
    <header class="intro-left">
  {% else %}
    <header class="intro-left -full-width">
  {% endif %}
    <h2 class="intro-heading">
      {% if heading %}
        {{ heading }}
      {% else %}
        {{ title }}
      {% endif %}
    </h2>

    {% if subheading %}
      <p class="intro-subheading">
        {{ subheading | safe }}
      </p>
    {% endif %}
  </header>

  {% if right %}
    {% set rightHeading = right.heading %}
    {% set rightItems = right.items %}

    <div class="intro-right collections">
      {{ label.output(rightHeading, 'collections-label') }}

      {% if rightItems %}
        <div class="collections-items -vertical">
          {% if rightItems == 'services' %}
            {% for id, obj in services %}
              {% set name = obj.name %}
              {% set description = obj.description %}

              {{ entry.output(false, false, name, description) }}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}
</section>
