{# Imports #}
{% import "atoms/label.njk" as label with context %}
{% import "components/entry.njk" as entry %}

{# Global Settings #}
{% set introText = introText %}

{# Component Settings #}
{% set heading = section.heading %}
{% set subheading = section.subheading %}
{% set body = section.body %}
{% set right = section.right %}
{% set headerMaxWidth = section.headerMaxWidth %}
{% set subheadingMaxWidth = section.subheadingMaxWidth %}
{% set bodyMaxWidth = section.bodyMaxWidth %}
{% set readMore = section.readMore %}

{# Markup #}
<section class="intro _container _page-spacing-top">
  {% if right %}
    <header class="intro-left" style="{% if maxWidth %}max-width: {{ maxWidth }};{% endif %}">
  {% else %}
    <header class="intro-left -full-width">
  {% endif %}
    <h2 class="intro-heading _text-large" style="{% if headerMaxWidth %}max-width: {{ headerMaxWidth }};{% endif %}">
      {% if heading %}
        {{ heading | safe }}
      {% else %}
        {{ title }}
      {% endif %}
    </h2>

    {% if subheading %}
      <p class="intro-subheading _type-my-voice" style="{% if subheadingMaxWidth %}max-width: {{ subheadingMaxWidth }};{% endif %}">
        {{ subheading | safe }}
      </p>
    {% endif %}
    
    {% if body %}
      <p class="intro-body" style="{% if bodyMaxWidth %}max-width: {{ bodyMaxWidth }};{% endif %}">
        {{ body | safe }}
      </p>
    {% endif %}
  </header>

  {% if right %}
    {% set rightHeading = right.heading %}
    {% set rightItems = right.items %}
    {% set rightReadMore = right.readMore %}

    <div class="intro-right collections">
      {% if rightHeading %}
        {{ label.output(rightHeading, 'collections-label', rightReadMore) }}
      {% endif %}

      {% if rightItems %}
        <div class="collections-items -homepage-services">
          {% if rightItems.from == 'services' %}
            {% set collection = collections.services | sort(attribute='data.order') %}
            {% set itemsLimit = rightItems.limit %}
            
            {% if itemsLimit %}
              {% set collection = collection | head(itemsLimit) %}
            {% endif %}

            {% for service in collection %}
              {% set entryTitle = service.data.title %}
              {% set entryLede = service.data.lede %}
              {% set entryUrl = service.url %}

              {{ entry.output(false, false, entryTitle, entryLede, '', '') }}
            {% endfor %}
          {% elif rightItems.from == 'photosOfMe' %}
            <div class="about-photos">
              <img class="about-photo" src="https://res.cloudinary.com/keenan-payne/image/upload/f_auto,q_auto,w_800/v1666204078/people/me/jan-28-2022_pwxnxq.jpg" alt="Me hiking in Lake Tahoe" />
              <img class="about-photo" data-lazy data-src="https://res.cloudinary.com/keenan-payne/image/upload/f_auto,q_auto,w_800/v1666204077/people/me/dec-26-2021_iuhh3w.jpg" alt="Me being cold" />
              <img class="about-photo" data-lazy data-src="https://res.cloudinary.com/keenan-payne/image/upload/f_auto,q_auto,w_800/v1666204078/people/me/jun-27-2021_o8sd0l.jpg" alt="Me in grayscale" />
              <img class="about-photo" data-lazy data-src="https://res.cloudinary.com/keenan-payne/image/upload/f_auto,q_auto,w_800/v1666204078/people/me/jul-5-2020_lwglyk.jpg" alt="Hanging out with my high school buddies" />
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}
</section>
