{# Imports #}
{% import "atoms/label.njk" as label with context %}
{% import "molecules/entry.njk" as entry %}

{# Component Settings #}
{% set heading = section.heading %}
{% set subheading = section.subheading %}
{% set right = section.right %}

{# Markup #}
<section class="intro">
  {% if heading %}
    <p class="testimonial-text _type-my-voice _text-h3">
      <span>{{ content | safe }}</span>
    </p>

    <header class="intro-left">
      <h2 class="intro-heading">
        {{ heading }}
      </h2>

      <p class="intro-subheading">
        {{ subheading }}
      </p>
    </header>
  {% endif %}

  {% if right %}
    {% set rightHeading = right.heading %}
    {% set rightItems = right.items %}

    {# TODO: Use existing abstractions in `entries.njk` #}
    <div class="intro-right collections">
      {{ label.output(rightHeading, 'collections-label') }}

      {% if rightItems %}
        <div class="collections-items -vertical">
          {% if rightItems == 'services' %}
            {% for id, obj in services %}
              {% set name = obj.name %}
              {% set description = obj.description %}

              {{ entry.output(false, false, name, description) }}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}
</section>
