<section class="largeCta _sectionSpacing-full">
  <div container>
    <p class="largeCta-headline">
      Hire me to&nbsp;
      <span class="largeCta-headline-supplemental">build a website</span>
      <span class="largeCta-headline-supplemental">improve your website</span>
      <span class="largeCta-headline-supplemental">build a design system</span>
      <span class="largeCta-headline-supplemental">do anything on the web</span>
    </p>

    <p class="largeCta-copy">I'm currently available for freelance development and consulting for projects of all shapes and sizes. Get in touch and let's see if I can be of service to you.</p>

    <div class="largeCta-link">
      <a href="/contact.html" class="-cta -arrow" title="Contact me">Get in touch</a>
    </div>
  </div>
</section>
