{# Component Settings #}
{% set spacing = section.spacing %}

{# Markup #}
<section id="newsletter" class="newsletter -pre-footer" style="--top-margin: {{ spacing if spacing else 0 }}">
  <div class="newsletter-container grid _container">
    <div class="newsletter-description">
      <h2 class="newsletter-title {{ '_text-h1' if modifiers == '-standalone' }}">
        Subscribe to a darn good newsletter
      </h2>
      
      <p class="_text-h5">
        Get my semi-regular newsletter where I share new tutorials and articles to help you grow as a web developer.
      </p>
    </div>

    <div class="newsletter-cta" id="mc_embed_signup">
      <form action="https://keenanpayne.us3.list-manage.com/subscribe/post?u=adccd14711a389b26182cef03&amp;id=c7f1290469" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form validate" target="_blank" novalidate="">
        <div id="mc_embed_signup_scroll">
          <div class="newsletter-form-fields mc-field-group"> 
            <label class="_label-sans" for="mce-EMAIL"> Your email address </label> 
            <input type="email" name="EMAIL" class="-bg-white required email" id="mce-EMAIL"> 
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> 
          </div>

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>

          <div style="position:absolute;left:-5000px" aria-hidden="true">   
            <input name="b_adccd14711a389b26182cef03_c7f1290469" tabindex="-1"> 
          </div>
        </div>
      </form>

      <p class="_text-small">
        <em>Your email won't be shared with anyone else. <br>
        You can unsubcribe at any time.</em> 
      </p>
    </div>
  </div>
</section>