<section container>
  <div grid="wrap">
    {% for section in page.portfolioList %}
      <dl column="3" class="portfolioList {{ section.modifiers }}">
        <span class="portfolioList-item">
        	<h3>
            {% if section.title %}
              {{ section.title }}
            {% endif %}
          </h3>
        </span>

        {% for item in section.items %}
        	<span class="portfolioList-item">
            {% if item.title %}
        		  <dt class="portfolioList-item-title">
                <a href="{{ item.url }}" title="{{ item.title }}" target="_blank">
                  {{ item.title }}
                </a>
              </dt>
            {% endif s%}

            {% if item.description %}
        		  <dd class="portfolioList-item-description">
                {{ item.description }}
              </dd>
            {% endif %}
        	</span>
        {% endfor %}
      </dl>
    {% endfor %}
  </div>
</section>
