{# Component Settings #}
{% set project = section.project %}
{% set name = section.name %}
{% set items = section.items %}
{% set query = portfolio[project].dribbble %}

{# Markup #}
{%- if items -%}
  <div class="portfolioGrid {{ section.modifier }}">
    <div class="portfolioGrid-items">
      {%- for item in items -%}
        {% set res = query[item] %}
        {% set video = res.video %}
        {% set image = res.image %}
        {% set title = res.title %}
        {% set description = res.description %}
        {% set link = res.link %}

        <div class="portfolioGrid-item">
          {# TODO: Lazy-load asset and host on an asset management platform #}
          {%- if video -%}
            <video muted controls src="{{ video }}"></video>
          {%- endif -%}

          {%- if image -%}
            <img src="{{ image }}" alt="{{ title }}" />
          {%- endif -%}

          {% if title %}
            <h3 class="_text-h4">
              {{ title }}
            </h3>
          {% endif %}

          {% if description %}
            <p class="_text-h6">
              {{ description }}
            </p>
          {% endif %}

          {% if link %}
            <p>
              <a href="{{ link }}" target="_blank" rel="noopener">View on Dribbble</a>

              <svg class="portfolioGrid-linkIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M280 80C266.7 80 256 69.25 256 56C256 42.75 266.7 32 280 32H424C437.3 32 448 42.75 448 56V200C448 213.3 437.3 224 424 224C410.7 224 400 213.3 400 200V113.9L200.1 312.1C191.6 322.3 176.4 322.3 167 312.1C157.7 303.6 157.7 288.4 167 279L366.1 80H280zM0 120C0 89.07 25.07 64 56 64H168C181.3 64 192 74.75 192 88C192 101.3 181.3 112 168 112H56C51.58 112 48 115.6 48 120V424C48 428.4 51.58 432 56 432H360C364.4 432 368 428.4 368 424V312C368 298.7 378.7 288 392 288C405.3 288 416 298.7 416 312V424C416 454.9 390.9 480 360 480H56C25.07 480 0 454.9 0 424V120z"/></svg>
            </p>
          {% endif %}
        </div>
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}