<section class="portfolioList" container>
  {% for section in page.portfolioList %}
    <div class="portfolioList-item">
      {% if section.title %}
    	 <h3 class="portfolioList-heading">
         {{ section.title }}
       </h3>
      {% endif %}
    </div>

    {% for item in section.items %}
    	<div class="portfolioList-item">
        {% if item.title %}
          <a href="{{ item.url }}" title="{{ item.title }}" target="_blank">
            {{ item.title }}
          </a>
        {% endif %}

        {% if item.description %}
    		  <p class="-no-top-margin">
            <small>{{ item.description }}</small>
          </p>
        {% endif %}
    	</div>
    {% endfor %}
  {% endfor %}
</section>
