{% if page.post_list_modifiers %}
  {% capture modifiers %}
    {{ page.post_list_modifiers }}
  {% endcapture %}
{% endif %}

<section class="postList {{ modifiers }}">
  <div container="narrower">
    {% if page.post_list_title %}
      {% capture title %}
        {{ page.post_list_title }}
      {% endcapture %}

      {% include components/section-heading.html content=title %}
    {% endif %}

    <article class="postList-article">
      {% for post in site.posts %}
        <header>
          <h2 class="-no-top-margin">
            <a href="{{ post.url }}" title="{{ post.title }}" class="-small-heading">
              {{ post.title }}
            </a>
          </h2>

          <p class="-secondary -small-heading">
            {{ post.date | date: "%B %e, %Y" }}
          </p>
        </header>

        {{ post.excerpt }}
      {% endfor %}
    </article>

    {% if page.post_list_more %}
      <div class="postList-more">
        <a href="/blog.html" class="-cta" title="View all articles">View all articles</a>
      </div>
    {% endif %}
  </div>
</section>
