<section container>
  <article class="post" grid="column">
    {% for post in site.posts %}
      <header class="post-header" column>
        <h2>
          <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>

        <p class="post-date">{{ post.date | date: "%B %e, %Y" }}</p>
      </header>

      <div class="post-content" column>
        {% if forloop.index == 1 %}
          {{ post.excerpt }}
        {% endif %}
      </div>
    {% endfor %}
  </article>
</section>
