{% if page.projects %}
  <section container="narrow">
    {% for section in page.projects %}
      {% if section.title %}
        {% capture title %}
          {{ section.title }}
        {% endcapture %}

        {% include components/section-heading.html content=title %}
      {% endif %}

      {% for project in section.items %}
        <div class="project" grid="center">
          {% if project.image %}
            <figure column="5">
              {% if project.url %}
                <a href="{{ project.url }}" title="{{ project.title }}">
              {% endif %}

              {% if project.image %}
                <img class="project-image" src="{{ project.image }}" alt="{{ project.title }} Logo">
              {% endif %}

              {% if project.url %}
                </a>
              {% endif %}
            </figure>
          {% endif %}

          <div column="7">
            {% if project.description %}
              <p class="project-text">{{ project.description }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </section>
{% endif %}
