<section container="narrow" class="projects">
  {% for section in page.projects %}
    {% if section.title %}
      {% capture title %}
        {{ section.title }}
      {% endcapture %}

      {% include components/section-heading.html content=title %}
    {% endif %}

    {% for project in section.items %}
      <div class="project -animate-stagger-{{ forloop.index }}" grid=
      "center">
        {% if project.image %}
          <figure column="5">
            {% if project.url %}
              <a href="{{ project.url }}" title="{{ project.title }}">
            {% endif %}

            <img class="project-image" src="{{ project.image }}" alt="{{ project.title }} Logo">

            {% if project.url %}
              </a>
            {% endif %}
          </figure>
        {% endif %}

        <div column="7">
          {% if project.description %}
            <p>{{ project.description }}</p>
          {% endif %}

          {% if project.tag %}
            <p class="project-tag -small-heading">{{ project.tag }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</section>
