<header class="siteHeader" role="main" container>
  {% include atoms/logo.html %}

  <nav class="navHorizontal -ornate" role="navigation">
    {% include atoms/navigation.html name="navHorizontal" class="-ornate" mobile="true" %}
  </nav>

  <nav id="nav" class="mobileNav">
    {% include atoms/toggle-mobile-nav.html text="Close Menu" class="mobileNav-close" %}

    <div class="mobileNav-container">
      <div class="mobileNav-content">
        {% include atoms/navigation.html name="mobileNav" %}
      </div>
    </div>
  </nav>
</header>

<script>
  $(document).ready(function() {
    var $mobileNavToggle = $("[data-mobileNav-toggle]");

    $mobileNavToggle.click(function() {
      $mobileNavToggle.toggleClass('-is-active');
      $('.mobileNav').toggleClass('-is-active');
      $('body').toggleClass('-no-scroll');
    });
  });
</script>
