  <footer class="siteFooter" role="complementary">
    <div container>
      <div class="siteFooter-grid" grid="center">
        <div class="siteFooter-me-container">
          <img class="siteFooter-me" src="https://luna1.co/81a96d.jpg" alt="Picture of Keenan Payne">
        </div>

        <div class="siteFooter-bio">
          <p><strong>Yo</strong></p>

          <p class="siteFooter-description">Hello, I'm Keenan Payne, a front-end architect, web developer, writer, and open-source enthusiast based out of San Francisco, CA. I love building visually stunning user interfaces that are usable for users and developers alike.</p>

          <p class="siteFooter-description"><small>You can find me on <a class="-dribbble" href="https://dribbble.com/keenanpayne" title="Dribbble profile" target="_blank">Dribbble</a>, <a class="-github" href="https://github.com/keenanpayne" title="GitHub profile" target="_blank">GitHub</a>, <a class="-behance" href="https://www.behance.net/keenanpayne" title="Behance profile" target="_blank">Behance</a>, <a class="-linkedin" href="https://www.linkedin.com/in/keenanpayne" title="LinkedIn profile" target="_blank">LinkedIn</a>, and <a class="-codepen" href="https://codepen.io/keenanpayne/" title="Fork this website" target="_blank">CodePen</a>.</small></p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
