  <footer class="siteFooter" role="complementary">
    <div container>
      <div class="siteFooter-grid" grid="center">
        <div class="siteFooter-me-container">
          <img class="siteFooter-me" src="https://luna1.co/81a96d.jpg" alt="Picture of Keenan Payne">
        </div>

        <div class="siteFooter-bio">
          <p><strong>Yo</strong></p>

          <p class="siteFooter-description">Hello, I'm Keenan Payne, a front-end architect, web developer, writer, and open-source enthusiast based out of San Francisco, CA. I love building visually stunning user interfaces that are usable for users and developers alike.</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
