<header class="siteHeader" role="main" container>
  <div grid>
    <h1 class="logo" column="4">
      <a href="/index.html" title="Home">{{ site.name }}</a>
    </h1>

    <nav class="siteHeader-navigation" role="navigation" column="8">
      <ul class="siteHeader-navigation-left">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li>&nbsp;</li>
      </ul>

      <span class="siteHeader-navigation-seperator"></span>

      <ul class="siteHeader-navigation-right">
        <li><a href="/work.html">Work</a></li>
        <li><a href="/labs.html">Labs</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>

    <div class="mobileNav-wrapper">
      <a class="mobileNav-toggle">
        <span></span>
      </a>
    </div>

    <nav id="nav" class="mobileNav">
      <div class="mobileNav-container">
        <div class="mobileNav-content">
          <ul>
            {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}

            {% for p in navigation_pages %}
              {% if p.navigation_weight %}
                <li {% if p.url == page.url %}class="-is-active"{% endif %}>
                  <a href="{{ p.url }}">{{ p.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<script>
  $(document).ready(function() {
    var $mobileNavToggle = $(".mobileNav-toggle");

    $mobileNavToggle.click(function() {
      $mobileNavToggle.toggleClass('-is-active');
      $('.mobileNav').toggleClass('-is-active');
      $('body').toggleClass('-no-scroll');
    });
  });
</script>
