<header class="siteHeader" role="main" container>
  <h1 class="logo">
    <a href="/index.html" title="Home">{{ site.name }}</a>
  </h1>

  <nav class="navHorizontal -ornate" role="navigation">
    {% include atoms/navigation.html name="navHorizontal" class="-ornate" mobile="true" %}
  </nav>

  <nav id="nav" class="mobileNav">
    <div class="mobileNav-container">
      <div class="mobileNav-content">
        {% include atoms/navigation.html name="mobileNav" %}
      </div>
    </div>
  </nav>
</header>

<script>
  $(document).ready(function() {
    var $mobileNavToggle = $(".mobileNav-toggle");

    $mobileNavToggle.click(function() {
      $mobileNavToggle.toggleClass('-is-active');
      $('.mobileNav').toggleClass('-is-active');
      $('body').toggleClass('-no-scroll');
    });
  });
</script>
