<section class="_page-spacing-top _page-spacing-bottom _container">
  <p class="_label">
    <span>Trusted by incredible companies</span>
  </p>

  <div class="socialProofLogos">
    <div class="socialProofLogos-logo -roblox">
      {% include "svg/roblox.svg" %}
    </div>

    <div class="socialProofLogos-logo -asana">
      {% include "svg/asana.svg" %}
    </div>

    <div class="socialProofLogos-logo -rippling">
      {% include "svg/rippling.svg" %}
    </div>

    <div class="socialProofLogos-logo -gofundme">
      {% include "svg/gofundme.svg" %}
    </div>

    <div class="socialProofLogos-logo -neuralink">
      {% include "svg/neuralink.svg" %}
    </div>

    <div class="socialProofLogos-logo -stable">
      {% include "svg/stable.svg" %}
    </div>
  </div>
</section>