{# Component Settings #}
{% set ids = section.ids %}

{% if ids %}
  <section class="testimonials">
    {% for id in ids %}
      {% for testimonial in collections.testimonials %}
        {% if testimonial.id == id %}
          {% include "components/testimonial.njk" %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </section>
{% endif %}