{# Component Settings #}
{% set id = section.id %}

{% if id %}
  {% for testimonial in collections.testimonials %}
    {% if testimonial.id == id %}
      <blockquote class="testimonial">
        {% if testimonial.content %}
          <p class="testimonial-text _type-my-voice">
            <span>{{ testimonial.content | safe }}</span>
          </p>
        {% endif %}

        {% for person in collections.people %}
          {% if person.id == testimonial.person_id %}
            <cite class="testimonial-cite">
              {% if person.image %}
                <img class="testimonial-image" src="{{ person.image }}" alt="{{ person.name }}" />
              {% endif %}

              <p class="testimonial-author">
                {%- if person.name -%}
                  <span class="testimonial-name _text-h5">
                    {{- person.name -}}
                  </span>
                {%- endif -%}

                {%- if person.position -%}
                  <span class="testimonial-position">
                    {{- person.position -}}
                  </span>
                {%- endif -%}
              </p>
            </cite>
          {% endif %}
        {% endfor %}
      </blockquote>
    {% endif %}
  {% endfor %}
{% endif %}