<aside class="topbar">
  <div class="topbar-content">
    <p class="topbar-text"><span class="status-dot"></span>I have availability Q3–Q4, 2025</p>
    <p class="topbar-text"><span class="topbar-separator">—</span><a class="topbar-link" href="/project-inquiry">inquire about a project</a> today!</p>
  </div>
</aside> 