//
// Buttons
// ==================================================

button,
.button {
  @include externalLink($size: 16px, $left: 8px);

  background-color: var(--background, initial);
  color: var(--color, var(--link-color, var(--text-color)));
  cursor: pointer;
  font-weight: var(--font-weight-semibold);
  text-decoration: none;

  &:hover {
    background-color: var(--background-hover, initial);
    color: var(--color-hover, var(--link-color, var(--text-color)));
  }

  // Modifiers
  &.-flat {
    --background: transparent;

    border: 0;
    box-shadow: none;
  }

  &.-primary {
    --background: var(--exodus-fruit);
    --background-hover: var(--plum-dark);
    --color: var(--white);
    --color-hover: var(--white);
    --link-color: var(--color);
    --link-color-hover: var(--color-hover);

    border-radius: var(--border-radius);
    padding: 0.75rem 1.15rem;

    @media (--dark) {
      --background: var(--yellow-dark);
      --background-hover: var(--gray-dark);
      --color: var(--plum-dark);
      --color-hover: var(--color);
    }
  }

  &.-secondary {
    --background: var(--exodus-fruit);
    --background-hover: var(--exodus-fruit-dark);
    --color: var(--white);
    --color-hover: var(--white);

    border-radius: var(--border-radius);
    padding: 0.75rem 1.15rem;
  }

  &.-ghost {
    --background: var(--pre-background);
    --background-hover: var(--exodus-fruit);
    --border: var(--exodus-fruit);
    --color-hover: var(--white);

    border: 2px solid var(--border);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;

    @media (--dark) {
      --background: var(--plum-dark);
      --background-hover: var(--yellow-dark);
      --border: var(--yellow-dark);
      --color-hover: var(--plum-dark);
    }
  }

  &.-large {
    padding: spacing(2) spacing(2.5);
    font-size: 22px;
  }
}