//
// <button>
// ==================================================

button,
.button {
  @include externalLink($size: 16px, $left: 8px);

  background-color: var(--background, initial);
  color: var(--color, var(--link-color, var(--color-text)));
  cursor: pointer;
  font-weight: var(--font-weight-semibold);
  text-decoration: none;

  &:hover {
    background-color: var(--background-hover, initial);
    color: var(--color-hover, var(--link-color, var(--color-text)));
  }

  // Modifiers
  &.-flat {
    --background: transparent;

    border: 0;
    box-shadow: none;
  }

  &.-primary {
    --background: var(--color-purple-1);
    --background-hover: var(--color-plum-3);
    --color: var(--color-white);
    --color-hover: var(--color-white);
    --link-color: var(--color);
    --link-color-hover: var(--color-hover);

    border-radius: var(--border-radius);
    padding: 0.75rem 1.15rem;

    @media (--dark) {
      --background: var(--color-yellow-2);
      --background-hover: var(--color-yellow-1);
      --color: var(--color-plum-3);
      --color-hover: var(--color);
    }
  }

  &.-secondary {
    --background: var(--color-purple-1);
    --background-hover: var(--color-purple-2);
    --color: var(--color-white);
    --color-hover: var(--color-white);

    border-radius: var(--border-radius);
    padding: 0.75rem 1.15rem;
  }

  &.-ghost {
    --background: var(--color-pre-background);
    --background-hover: var(--color-purple-1);
    --border: var(--color-purple-1);
    --color-hover: var(--color-white);

    border: 2px solid var(--border);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;

    @media (--dark) {
      --background: var(--color-plum-3);
      --background-hover: var(--color-yellow-2);
      --border: var(--color-yellow-2);
      --color-hover: var(--color-plum-3);
    }
  }

  &.-large {
    padding: spacing(2) spacing(2.5);
    font-size: 20px;

    @media (--min-720) {
      font-size: 22px;
    }
  }
}
