//
// Code
// ==================================================

code {
  font-family: var(--font-family-mono);
  line-height: 1.5;
  word-break: break-all;
}

p code { 
  background-color: var(--gray-lighter);  
  border: 1px solid var(--gray-lightish);
  border-radius: var(--border-radius);
  color: initial;
  font-size: 1rem;
  font-weight: var(--font-weight-mono-regular);
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  white-space: nowrap;
}