//
// Code
// ==================================================

code {
  font-family: var(--font-family-mono);
  line-height: 1.5;
  word-break: break-all;
}

p code { 
  background-color: var(--light-yellow);
  border-radius: 3px;
  color: initial;
  font-size: .75rem;
  padding: 0.15rem 0.25rem .175rem;
  white-space: nowrap
}