//
// Code
// ==================================================

code {
  font-family: var(--font-family-mono);
  line-height: 1.5;
  word-break: break-all;
}

p code { 
  @extend ._text-small;

  background-color: var(--gray-lighter);
  border-radius: var(--border-radius);
  color: initial;
  font-weight: 400;
  padding: 0.1rem 0.35rem .15rem;
  vertical-align: 5%;
  white-space: nowrap;
}