//
// Figure
// ==================================================

figure { 
  margin: 3rem 0;

  // Descendants
  + figure { 
    margin-top: 0;
  }

  > a {
    display: block;

    > img {
      width: 100%;
    }
  }
}

figcaption { 
  @extend ._text-small;

  font-style: italic;
  margin-top: .5rem;
}

// TODO: Refactor to remove overriding `!important`
.figure-caption { 
  margin-bottom: .25rem !important;
}