//
// Figure
// ==================================================

figure { 
  margin: 3rem 0 1.5rem;

  // Descendants
  + figure { 
    margin-top: 0;
  }

  > a {
    display: block;
  }
}

figcaption { 
  @extend ._text-small;

  font-style: italic;
  margin-top: .5rem;
  text-align: center;
}

// TODO: Refactor to remove overriding `!important`
.figure-caption { 
  margin-bottom: .25rem !important;
}