//
// Figure
// ==================================================

figure { 
  margin: 3rem 0;

  + figure { 
    margin-top: 0;
  }
}

figcaption { 
  @extend ._text-small;

  font-style: italic;
  margin-top: 1rem;
}

.figure-caption { 
  margin-bottom: .5rem;
}