//
// <hr />
// ==================================================

// Mixin
// Ref: https://css-tricks.com/examples/hrs/
@mixin hr-fancy() {
  --hr-color: var(--color-gray-4);

  @media (--dark) {
    --hr-color: var(--color-gray-7);
  }

  border: none;
  border-top: 2px solid var(--hr-color);
  color: var(--hr-color);
  margin-top: 3rem;
  overflow: visible; // For IE
  padding: 0;
  text-align: center;
  width: 100%;

  @media (--min-800) {
    transform: translateX(-5%);
    width: 110%;
  }

  &:after {
    background: var(--color-root-background);
    content: "§";
    display: inline-block;
    font-family: var(--font-family-serif);
    font-size: 1.35em;
    font-weight: var(--font-weight-serif-light);
    padding: 0.1em 0.35em;
    position: relative;
    top: -0.85em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

// Utility class
hr {
  @include clearfix();

  &.-fancy {
    @include hr-fancy();
  }
}
