//
// Images
// ==================================================

img { 
  --image-filter: grayscale(25%);

  max-width: 100%;

  // Reducing image vibrancy for dark mode
  // Ref: https://medium.com/dev-channel/re-colorization-for-dark-mode-19e2e17b584b
  &:not([src*='.svg']) {
    @media (--dark) {
      filter: var(--image-filter);
    }
  }
}

