//
// Links
// ==================================================

//
// Mixins
// ------

// TODO: Animate background as a `:before` pseudo-element 
//       to add a nice micro-interaction
@mixin linkHoverBackground() {
  --link-text-decoration: var(--exodus-fruit);
  --link-hover-background: var(--exodus-fruit);
  --link-hover-color: var(--white);
  --link-spacing: .125em;

  @media (--dark) {
    --link-text-decoration: var(--yellow-dark);
    --link-hover-background: var(--yellow-dark);
    --link-hover-color: var(--plum-dark);
  }

  margin-left: calc(var(--link-spacing) * -1);
  margin-right: calc(var(--link-spacing) * -1);
  padding-left: var(--link-spacing);
  padding-right: var(--link-spacing);
  text-decoration: underline;
  text-decoration-color: var(--link-text-decoration);
  text-decoration-thickness: var(--link-spacing);
  
  &:hover { 
    background-color: var(--link-hover-background);
    color: var(--link-hover-color);
    text-decoration: none;
  }
}


//
// Styles
// ------

a[href] {
  --link-color: var(--plum-dark);
  --link-color-hover: var(--plum-light);

  color: var(--link-color);

  &:hover { 
    color: var(--link-color-hover);
  }

  @media (--dark) {
    --link-color: var(--gray-lighter);
    --link-color-hover: var(--gray-light);
  }

  // Modifiers
  &.-inverted { 
    --link-color: var(--gray-lighter);

    @media (--dark) {
      --link-color: var(--plum-dark);
    }
  }

  &.-underline-hover { 
    text-decoration: none;

    &:hover { 
      text-decoration: underline;
    }
  }
  
  &.-hover-background {
    @include linkHoverBackground();
  }

  &.-highlight {
    --link-background: var(--light-pink);

    background-color: var(--link-background);
    margin: auto -0.05em;
    padding: 0.05em 0.225em;
    position: relative;
    text-decoration: none;
    transition: box-shadow var(--transition);

    @media (--dark) { 
      --link-background: var(--heliotrope);
    }
  }

  // Context-specific
  p &, 
  li & {
    @include linkHoverBackground();

    // Ref: https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/
    // TODO: This feels like a clunky implementation—find a cleaner solution.
    &[href^="http"],
    &[href^="https://"] {
      &:hover {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill='white' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");

          @media (--dark) {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='black' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill='black' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
          }
        }
      }
      
      &::after {
        content: "";
        width: 14px;
        height: 14px;
        margin-left: 4px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='black' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill='black' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        
        @media (--dark) {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill='white' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
        }
      }
    }
  }
}