//
// Links
// ==================================================

// TODO: Set a visited link color for blog post links
a[href] {
  --link-color: var(--plum-dark);
  --link-color-hover: var(--plum-light);
  --link-color-visited: var(--plum-dark);

  color: var(--link-color);

  &:hover { 
    color: var(--link-color-hover);
  }

  &:visited {
    color: var(--link-color-visited);
  }

  @media (--dark) {
    --link-color: var(--gray-light);
    --link-color-hover: var(--gray-lightish);
    --link-color-visited: var(--gray-lightish);
  }
}