//
// Paragraph
// ==================================================

p {
  line-height: 1.45;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }

  // Descendants
  a {
    @include linkHoverBackground();
    @include externalLink($size: 12px, $left: 4px);
  }
}

strong {
  font-weight: var(--font-weight-bold);
}