//
// <p>
// ==================================================

p {
  color: var(--color-paragraph);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }

  & + &,
  & + img {
    margin-top: spacing(1.5);
  }

  // Descendants
  a {
    @include linkHoverBackground();
    @include externalLink();
  }
}

strong {
  font-weight: var(--font-weight-bold);
}