//
// <pre>
// ==================================================

pre {
  @extend ._text-small;

  direction: ltr;
  font-family: var(--font-family-mono);
  hyphens: none;
  line-height: 1.375;
  margin: .5em 0;
  padding: 1em;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  &[class*="language-"] { 
    // TODO: Update colors for dark mode
    margin-bottom: 1.5rem;
  }
}