//
// <table>
// ==================================================

table {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-align: left;

  td,
  th {
    &:not(:last-of-type) {
      padding-right: 1.5rem;
    }
  }

  th {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  td {
    padding-bottom: 0;
    padding-top: 0;
  }
}
