/**
 * Imports
 */
@import "_variables.css";


/**
 * Variables, Autoprefixer & Nested Elements
 */
.element {
  display: $display;

  &:hover {
    background: white;
  }

  .element-child {
    position: relative;
  }
}


/**
 * Loops
 */
@each $icon in (foo, bar, baz) {
  .icon-$icon {
    background: url('path/to/$icon.png');
  }
}

@for $index from 1 to 5 by 2 {
  .col-$index {
    width: $(index)0%;
  }
}


/**
 * Mixins
 */
@define-mixin icon $name, $color {
  .icon.icon-$(name) {
    color: $(color);

    @mixin-content  ;
  }
}

@mixin icon twitter, black {
  background-image: url(path/to/icon.png);
}


/**
 * Custom Breakpoints
 */
@custom-media --small-max (max-width: 30em);

@media (--small-max) {
  /* styles for small viewport */
}
