//
// Global Footer
// ==================================================

.footer { 
  --background: var(--gray-lighter);
  --border: var(--gray-darker);

  background-color: var(--background);
  border-top: 1px solid var(--border);
  padding: 1.5rem;
  z-index: 1;
  
  @media (--dark) { 
    --background: var(--plum-dark);
    --border: var(--plum-light);
  }

  @media (--min-640) { 
    padding: 1.5rem;
  }

  @media (--min-720) { 
    padding: 2rem;
  }

  @media (--min-960) { 
    padding: 3rem;
  }
}

.footer-content { 
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.footer-left,
.footer-right { 
  flex-basis: 100%;
  text-align: center;

  @media (--min-480) { 
    flex-basis: 50%;
    text-align: unset;
  }
}

.footer-left { 
  padding-bottom: 1.5rem;

  @media (--min-480) { 
    padding-bottom: 0;
  }
}

.footer-right { 
  @media (--min-480) { 
    text-align: right;
  }

  // Descendants
  > p { 
    line-height: 1.15;
  }
}

.footer-twitter { 
  text-align: left;

  // Descendants
  span { 
    display: block;
    margin-bottom: .25rem;

    @media (--min-720) {
      margin-bottom: .5rem;
    }
  }

  a { 
    font-weight: var(--font-weight-bold);
    margin-left: -.25rem; // Offset padding for flush text alignment
    padding: .25rem;
    text-decoration: none !important; // TODO: Address specificity issue
    text-transform: lowercase;
  }
}