//
// Global Footer
// ==================================================

.footer { 
  --background: var(--gray-lighter);
  --border: var(--gray-darker);

  background-color: var(--background);
  border-top: 1px solid var(--border);
  padding: 1.5rem;
  z-index: 1;
  
  @media (--dark) { 
    --background: var(--plum-dark);
    --border: var(--plum-light);
  }

  @media (--min-640) { 
    padding: 1.5rem;
  }

  @media (--min-720) { 
    padding: 2rem;
  }

  @media (--min-960) { 
    padding: 3rem;
  }
}

.footer-content { 
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.footer-left,
.footer-right { 
  flex-basis: 100%;
  text-align: center;

  @media (--min-480) { 
    flex-basis: 50%;
    text-align: unset;
  }
}

.footer-left { 
  padding-bottom: 1.5rem;

  @media (--min-480) { 
    padding-bottom: 0;
  }
}

.footer-right { 
  @media (--min-480) { 
    text-align: right;
  }

  // Descendants
  > p { 
    line-height: 1.15;
  }
}

.footer-socials { 
  text-align: left;
}

.footer-socials-label { 
  display: block;
  margin-bottom: spacing(1.5);
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  // Descendants
  svg { 
    fill: currentColor;
    height: 25px;
  }
}

.footer-socials-item { 
  &:not(:last-of-type) { 
    margin-right: spacing(2);
  }
}

.footer-socials-link { 
  &:hover { 
    background-color: transparent;
    color: var(--brand-color);
    text-decoration: none;
  }

  &::after { 
    display: none !important; // Overriding external link styles
  }

  // Modifiers
  &.-twitter { 
    --brand-color: #1DA1F2;
  }

  &.-linkedin { 
    --brand-color: #0277b5;
  }

  &.-dribbble { 
    --brand-color: #ea4c89;
  }

  &.-behance { 
    --brand-color: #0057ff;
  }

  &.-codepen { 
    --brand-color: #47cf73  ;
  }
}
