//
// Global Footer
// ==================================================

.footer { 
  --background: var(--gray-lighter);
  --border: var(--gray-darker);

  background-color: var(--background);
  border-top: 1px solid var(--border);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
  z-index: 1;

  @media (--dark) { 
    --background: var(--plum-dark);
    --border: var(--plum-light);
  }

  // Descendants
  a { 
    text-decoration: none;
    
    &:hover { 
      text-decoration: underline;
    }
  }
}