//
// Global Header
// ==================================================

.header {
  --background: var(--gray-lighter);
  --border: var(--gray-dark);

  align-items: center;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-top: 1rem;
  z-index: 1;
  
  @media (--min-480) { 
    flex-direction: row;
    padding: 2rem 1rem;
  }

  @media (--min-640) { 
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (--min-720) { 
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (--min-960) { 
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media (--dark) { 
    --background: var(--plum-mid);
    --border: var(--plum-dark);
  }
}

.header-left { 
  display: flex;
  flex-direction: column;
}

.header-logo {
  margin-bottom: 0;
  margin-top: 0;

  // Descendants
  :link:not(:hover) {
    text-decoration: none;
  }
}

.header-right { 
  margin-top: 1rem;
  
  @media (--min-480) { 
    margin-top: 0;
    text-align: right;
  }
}
