//
// Global Header
// ==================================================

.header {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  z-index: 1;
  
  @media (--min-480) { 
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  @media (--min-640) { 
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (--min-720) { 
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (--min-960) { 
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.header-left { 
  display: flex;
  flex-direction: column;
}

.header-logo {
  margin-bottom: 0;
  margin-top: 0;

  // Descendants
  :link:not(:hover) {
    text-decoration: none;
  }
}
