//
// Navigation
// ==================================================

.nav {
  list-style: none;
  margin: 0;
  padding: 0;

  @media print {
    display: none;
  }
}

.nav-item {
  display: block;
  text-align: right;

  @media (--min-560) {
    display: inline-block;
  }

  &:not(:first-of-type) { 
    margin-top: .35rem;

    @media (--min-560) { 
      margin-left: 1rem;
      margin-top: 0;
    }

    @media (--min-640) { 
      margin-left: 1.5rem;
    }
  }

  &.-cta { 
    font-weight: var(--font-weight-bold);
    
    @media (--min-560) { 
      border-left: 1px solid var(--gray-dark);
      padding-left: 1rem;
    }
    
    @media (--min-640) { 
      padding-left: 1.5rem;
    }
  }
}

.nav-link {
  --link-spacing: .185em;

  border-radius: var(--border-radius-pill);
  padding: var(--link-spacing) calc(var(--link-spacing) * 3);
  text-decoration: none;
  
  // Modifiers
  &.-active {
    font-weight: var(--font-weight-semibold);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}