//
// Navigation
// ==================================================

.navigation {
  display: flex;
  flex-direction: column;
  text-align: right;

  @media print {
    display: none;
  }
}


//
// Primary Navigation
// ------------------

.navigation-primary {
  display: flex;
  flex-direction: column;

  @media (--min-560) {
    flex-direction: row;
  }
}

.navigation-primary-item {
  font-size: 18px;
  text-decoration: none;

  &:not(:first-of-type) { 
    margin-top: spacing(1.5);
    
    @media (--min-560) {
      margin-top: 0;
      margin-left: spacing(3);
    }

    @media (--min-720) {
      margin-left: spacing(6);
    }
  }

  &:hover {
    text-decoration: underline;
  }
  
  // Modifiers
  &.-active {
    font-weight: var(--font-weight-semibold);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}


//
// Icon Navigation
// ---------------

.navigation-icons {
  align-items: center;
  align-self: end;
  display: flex;
  margin-bottom: spacing(1.5);
  
  @media (--min-720) {
    margin-bottom: spacing(2);
  }
}

.navigation-icons-item {
  &:not(:first-of-type) {
    margin-left: spacing(4);
  }

  // Descendants
  svg {
    height: 22px;
  }
}