---
layout: default
comments: true
---

<section container>
  <article class="post">
    <header class="post-header">
      <h1 class="post-header-title">
        {{ page.title|smartify }}
      </h1>

      <p class="post-meta -secondary">
        <span>Published by <a href="https://twitter.com/KeenanPayne_" title="Follow Keenan on Twitter">Keenan Payne</a></span>
        <span>{{ page.date | date: "%B %e, %Y" | strip }}</span>

        {% assign words = content | number_of_words %}

        {% if words < 360 %}
          {% assign time = '1 minute to read' %}
        {% else %}
          {% assign time = words | divided_by:180 | append: ' minutes to read' %}
        {% endif %}

        <span>{{ time | strip }}</span>
      </p>
    </header>

    <div class="post-container">
      <div class="post-content">
        {{ content }}
      </div>

      <div class="post-extras">
        {% include components/promo.html %}

        <noscript>
          Please enable JavaScript in your browser to participate in the discussion.
        </noscript>
        
        <aside class="post-comments" id="disqus_thread"></aside>
      </div>
    </div>
  </article>

  {% include components/newsletterSlideIn.html %}
</section>

{% include planks/newsletter.html %}