---
layout: default
comments: true
---

<section container>
  <article class="post">
    <header class="post-header">
      <h1 class="post-header-title">
        {{ page.title|smartify }}
      </h1>

      <p class="-secondary -small-heading">
        {{ page.date | date: "%B %e, %Y" }}

        {% include components/reading-time.html %}
      </p>
    </header>

    <div class="post-content">
      {{ content }}

      {% include components/promo.html %}

      <noscript>
        Please enable JavaScript in your browser to participate in the discussion.
      </noscript>
      
      <aside class="post-comments" id="disqus_thread"></aside>
    </div>
  </article>
</section>
