---
layout: default
comments: true
---

<section container>
  <article class="post" grid="column">
    <header class="post-header" column>
      <h1>
        {{ page.title|smartify }}
      </h1>

      <p class="-secondary -small-heading">
        {{ page.date | date: "%B %e, %Y" }}

        {% include components/reading-time.html %}
      </p>
    </header>

    <div class="post-content" column>
      {{ content }}

      {% include components/promo.html %}

      <aside class="post-comments" id="disqus_thread"></aside>
    </div>
  </article>
</section>
