//
// Animations
// ==================================================

$move-distance: 15px;

@keyframes fadeIn {
  from { opacity: 0; }

  to { opacity: 1; }
}

@keyframes moveUp {
  from { transform: translateY($move-distance); }

  to { transform: translateY(0); }
}

@keyframes moveLeft {
  from { transform: translateX($move-distance); }

  to { transform: translateY(0); }
}

@keyframes moveRight {
  from { transform: translateX(-$move-distance); }

  to { transform: translateY(0); }
}
