//
// Base
// ==================================================

:root {
  background-color: getColor(background, body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (--extra-large) {
    font-size: $font-size-extra-large + px;
  }

  @media (--hella-large) {
    font-size: $font-size-hella-large + px;
  }
}

html { border-top: 3px solid getColor(background, dark); }

[container] {
  padding-left: 2rem;
  padding-right: 2rem;
}

main[container] { overflow: hidden; }

img {
  height: auto;
  max-width: 100%;
}




//
// Typography
// ==================================================

//
// Icons
// -----

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?yuxxtl');
  src:  url('../fonts/icomoon.eot?yuxxtl#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?yuxxtl') format('truetype'),
        url('../fonts/icomoon.woff?yuxxtl') format('woff'),
        url('../fonts/icomoon.svg?yuxxtl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  &:hover { border-bottom: none; }
}

.icon-linkedin:before { content: "\e900"; }

.icon-github:before { content: "\e901"; }

.icon-behance:before { content: "\e902"; }

.icon-dribbble:before { content: "\e903"; }


//
// Body Copy
// ---------

p,
h2, h3 { letter-spacing: -.35px; }

h2, h3 {
  &:hover {
    .heading-subtext { transform: translateY(-10px); }
  }
}

.heading-subtext {
  display: inline-block;
  font-family: $font-primary;
  font-style: normal;
  font-size: .75rem;
  font-weight: 400;
  margin-left: $spacing-xxs;
  transition: transform $transition-duration-long;
}

@mixin linkColor($color) {
  color: $color;
  transition: color $transition-duration;

  &:hover { color: darken($color, 10%); }
}

a {
  &.icon-dribbble { @include linkColor(getColor(social, dribbble)); }

  &.icon-behance { @include linkColor(getColor(social, behance)); }

  &.icon-github { @include linkColor(getColor(social, github)); }

  &.icon-linkedin { @include linkColor(getColor(social, linkedin)); }
}


//
// Modifiers
// ---------

.-holla {
  font-size: typeScale(5);
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media (--medium) {
    float: right;
    font-size: typeScale(8);
    max-width: 900px;
    text-align: right;
  }
}

&.-sf { color: getColor(text, sf); }




//
// Header & Footer
// ==================================================

// Logo
.logo {
  font-size: typeScale(9);
  font-weight: 900;
  line-height: .85;
  padding-bottom: $spacing-xs;

  @media (--small) {
    font-size: typeScale(10);
  }

  a:hover {
    border-bottom: none;
    color: inherit;
  }
}

// Main Header
.siteHeader {
  margin-top: 2rem;

  @media (--medium-max) {
    text-align: center;
  }
}

// Main Nav
.siteNavigation {
  @media (--medium) {
    text-align: right;
  }

  ul {
    margin-top: $spacing-s;

    @media (--medium) { margin-top: -$spacing-xs; }
  }

  li {
    cursor: pointer;
    display: inline;
    position: relative;
    transform: scaleX(0);
    transition: transform $transition-duration ease-in-out;

    &:after {
      background: getColor(text, primary);
      content: '';
      height: 2px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 100%;
      transition: opacity $transition-duration-long,
                  transform $transition-duration-long;
      transform: translateY(5px);
      width: 100%;
    }

    &:hover:after {
      opacity: 1;
      transform: translateY(10px);
    }

    &:not(:last-child) { margin-right: 1.5em; }

    &.-is-active {
      border-bottom: 2px solid rgba(getColor(text, primary), .85);
      opacity: .85;
      padding-bottom: 10px;

      &:after { display: none; }
    }
  }

  a {
    &:hover { border-bottom: none; }
  }
}

// Main Footer
.siteFooter {
  background-color: getColor(background, light);
  border-top: 1px solid darken(getColor(background, light), 5%);
  margin-top: $spacing-xs;
  padding: 2.5rem 2rem;
  text-align: center;

  @media (--small) {
    margin-top: $spacing-m;
  }

  [class^="icon-"] {
    font-size: typeScale(5);

    &:not(:last-of-type) { margin-right: $spacing-s; }
  }
}




//
// Components
// ==================================================

//
// Content Box
// -----------

.contentBox {
  opacity: 0;
  padding: 2rem;
  transition: background-color $transition-duration;

  &:hover { background-color: rgba(getColor(base, selection), .3); }

  &.-animated { animation: fadeIn .5s .75s forwards, moveUp .75s .75s ease-out forwards; }

  h3 { margin-top: 0; }
}


//
// Masthead
// --------

.masthead {
  opacity: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
  transition: padding $transition-duration;

  @media (--small) {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  @media (--large) {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  &.-animated { animation: fadeIn .5s .5s forwards, moveLeft .75s .5s ease-out forwards; }

  &.-short {
    @media (--large) {
      padding-bottom: 3rem;
      padding-top: 3rem;
    }
  }
}


//
// Definition Lists
// ----------------

%dl-animation-right {
  animation-name: fadeIn, moveRight;
  animation-duration: .7s, .85s;
  animation-fill-mode: forwards, forwards;
}

%dl-animation-left {
  animation-name: fadeIn, moveLeft;
  animation-duration: .7s, .85s;
  animation-fill-mode: forwards, forwards;
}

.portfolioList {
  clear: both;
  padding-top: $spacing-m;

  span {
    display: block;
    opacity: 0;

    &:first-of-type {
      dt { border-top: 3px solid getColor(background, dark); }
    }

    @for $i from 1 through 5 {
      // If even
      @if $i % 2 == 0 {
        &.-animated:nth-of-type(#{$i}) {
          @extend %dl-animation-left;

          animation-delay: $i * .2s;
        }

      // If odd
      } @else {
        &.-animated:nth-of-type(#{$i}) {
          @extend %dl-animation-right;

          animation-delay: $i * .2s;
        }
      }
    }
  }

  dt {
    font-size: typeScale(3);
    margin-top: 0;
    padding-top: $spacing-xs;
  }

  dd {
    border-bottom: 3px solid rgba(getColor(background, dark), .2);
    padding-bottom: $spacing-xs;
  }
}


//
// Tiles
// -----

%tile-animation {
  @media (--medium) {
    animation-name: fadeIn, moveUp;
    animation-duration: .7s, .85s;
    animation-fill-mode: forwards, forwards;
  }
}

.tile {
  padding: 0;
  transition: width $transition-duration;
  width: 100%;

  @media (--small) {
    float: left;
    width: 50%;
  }

  @media (--medium) {
    opacity: 0;
  }

  @media (--large) {
    width: 33.33%;
  }

  &:hover {
    border-bottom: none;
    text-decoration: none;
  }

  &:last-of-type {
    img {
      @media (--small-max) {
        margin-bottom: 0;
      }
    }
  }

  img {
    max-width: 100%;
    transition: opacity $transition-duration-med;
    width: 100%;
    -webkit-backface-visibility: hidden;

    &:hover { opacity: .75; }

    @media (--small-max) {
      margin-bottom: $spacing-m;
    }
  }

  @for $i from 1 through 15 {
    &.-animated:nth-of-type(#{$i}) {
      @extend %tile-animation;

      animation-delay: $i * .22s;
    }
  }
}




//
// Animations
// ==================================================

$move-distance: 20px;

@keyframes fadeIn {
  from { opacity: 0; }

  to { opacity: 1; }
}

@keyframes moveUp {
  from { transform: translateY($move-distance); }

  to { transform: translateY(0); }
}

@keyframes moveLeft {
  from { transform: translateX($move-distance); }

  to { transform: translateY(0); }
}

@keyframes moveRight {
  from { transform: translateX(-$move-distance); }

  to { transform: translateY(0); }
}
