//
// Base
// ==================================================

:root {
  background-color: #fafafa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (--extra-large) {
    font-size: $font-size-extra-large + px;
  }

  @media (--hella-large) {
    font-size: $font-size-hella-large + px;
  }
}

[container] {
  padding-left: 2rem;
  padding-right: 2rem;
}

[container="narrow"] {
  max-width: 726px;

  @media (--hella-large) {
    max-width: 960px;
  }
}


//
// Header Background
// -----------------

.background {
  animation: backgroundGradient 40s ease infinite;
  background: #4ca2cd;
  background: linear-gradient(to left, rgba(#67B26F, .6), rgba(#4ca2cd, .75));
  background-size: 200% 200%;
  border-bottom: 1px solid rgba(#4ca2cd, .15);
  margin-bottom: $spacing-m;
  padding-bottom: 3rem;
  padding-top: 3rem;

  @media (--medium) {
    animation: backgroundGradient 40s ease infinite;
  }
}




//
// Typography
// ==================================================

//
// Icons
// -----

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?yuxxtl');
  src:  url('../fonts/icomoon.eot?yuxxtl#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?yuxxtl') format('truetype'),
        url('../fonts/icomoon.woff?yuxxtl') format('woff'),
        url('../fonts/icomoon.svg?yuxxtl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-linkedin:before { content: "\e900"; }

.icon-github:before { content: "\e901"; }

.icon-behance:before { content: "\e902"; }

.icon-dribbble:before { content: "\e903"; }

h2, h3 {
  font-style: italic;
  letter-spacing: -1px;

  &:hover {
    small { transform: translateY(-10px); }
  }

  small {
    display: inline-block;
    font-family: $font-primary;
    font-style: normal;
    font-size: .75rem;
    font-weight: 400;
    margin-left: $spacing-xxs;
    transition: transform ($transition-duration * 2);
  }
}

p {
  font-size: 1rem;
  word-spacing: .5px;
}

@mixin linkColor($color) {
  color: $color;
  transition: color $transition-duration;

  &:hover {
    color: darken($color, 10%);
    border-bottom: none;
  }
}

a {
  &:hover { border-bottom: 1px solid getColor(text, primary); }

  &.icon-dribbble { @include linkColor(#ea4c89); }

  &.icon-behance { @include linkColor(#1769ff); }

  &.icon-github { @include linkColor(#333); }

  &.icon-linkedin { @include linkColor(#0077b5); }
}


//
// Modifiers
// ---------

.-holla {
  color: white;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 0 #999;
  transition: font-size $transition-duration, padding $transition-duration;
  word-spacing: 1px;

  @media (--small) {
    font-size: typeScale(7);
  }

  @media (--extra-large) {
    word-spacing: 3px;
  }

  &.-stay-large {
    @media (--small-max) {
      font-size: typeScale(7);
    }
  }
}




//
// Header & Footer
// ==================================================

// Logo
h1 {
  color: getColor(text, inverted);
  font-family: "sutturah", sans-serif;
  font-size: typeScale(7);
  font-style: normal;
  font-weight: 400;
  text-shadow: 2px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 2px 2px black, -1px -1px 0 black, 0px -1px 0 black, -1px 2px 0 black;
  word-spacing: -1px;

  @media (--medium-max) {
    font-size: typeScale(8);
  }

  @media (--medium) {
    opacity: 0;

    &.-animated { animation: fadeIn .7s .25s ease-out forwards; }
  }

  a {
    &:hover {
      border-bottom: none;
      color: inherit;
    }

    &:active,
    &:focus { color: #f0f0f0; }
  }
}

// Main Header
header[role="main"] {
  @media (--medium-max) {
    text-align: center;
  }
}

// Main Nav
nav[role="navigation"] {
  @media (--medium) {
    text-align: right;
  }

  ul {
    margin-top: $spacing-s;

    @media (--medium) {
      margin-top: $spacing-xs;
    }
  }

  li {
    cursor: pointer;
    display: inline;
    font-weight: 600;
    letter-spacing: .15px;
    margin-right: 1.5em;
    position: relative;
    text-transform: uppercase;
    transform: scaleX(0);
    transition: transform ($transition-duration * 1.5) ease-in-out;

    @media (--small) {
      font-size: typeScale(1);
    }

    &:after {
      background: white;
      content: '';
      height: 3px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 100%;
      transition: opacity ($transition-duration * 2),
                  transform ($transition-duration * 2);
      transform: translateY(10px);
      width: 100%;
    }

    &:hover:after {
      opacity: 1;
      transform: translateY(5px);
    }

    &:last-child { margin-right: 0; }

    &.-active {
      border-bottom: 3px solid white;
      opacity: .85;
      padding-bottom: 5px;

      &:after { display: none; }
    }
  }

  a {
    color: white;

    &:hover { border-bottom: none; }
  }
}

// Main Footer
footer {
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
  margin-top: $spacing-xs;
  padding: 2.5rem 2rem;
  text-align: center;

  @media (--small) {
    margin-top: $spacing-m;
  }

  [class^="icon-"] {
    font-size: typeScale(5);
    margin-right: $spacing-s;

    &:hover { text-decoration: none; }

    &:last-of-type { margin-right: 0; }
  }
}


//
// Definition Lists
// ----------------

%dl-animation-right {
  @media (--medium) {
    animation-name: fadeIn, moveRight;
    animation-duration: .7s, .85s;
    animation-fill-mode: forwards, forwards;
  }
}

%dl-animation-left {
  @media (--medium) {
    animation-name: fadeIn, moveLeft;
    animation-duration: .7s, .85s;
    animation-fill-mode: forwards, forwards;
  }
}

dl {
  clear: both;
  padding-top: $spacing-m;

  span {
    display: block;

    @media (--medium) {
      opacity: 0;
    }

    &:first-of-type {
      dt { border-top: 3px solid getColor(background, dark); }
    }

    @for $i from 1 through 13 {
      // If even
      @if $i % 2 == 0 {
        &.-animated:nth-of-type(#{$i}) {
          @extend %dl-animation-left;

          animation-delay: $i * .25s;
        }

      // If odd
      } @else {
        &.-animated:nth-of-type(#{$i}) {
          @extend %dl-animation-right;

          animation-delay: $i * .25s;
        }
      }
    }
  }
}

dt {
  font-size: typeScale(3);
  margin-top: 0;
  padding-top: $spacing-xs;
}

dd {
  border-bottom: 3px solid rgba(getColor(background, dark), .2);
  padding-bottom: $spacing-xs;
}

//
// Promos
// ------

.promo {
  background: white;
  border: 1px solid #efefef;
  box-shadow: 0 1px 4px 0 rgba(100, 100, 100, .1);
  margin-bottom: $spacing-s;
  padding: $spacing-s;
  transition: box-shadow $transition-duration-med;

  @media (--medium) {
    opacity: 0;

    &.-animated { animation: fadeIn .8s 1.15s forwards, moveUp .8s 1.15s ease-out forwards; }
  }

  @media (--large) {
    height: 400px;
  }

  @media (--extra-large) {
    height: 500px;
  }

  &:hover { box-shadow: 0 1px 4px 1px rgba(100, 100, 100, .15); }

  img {
    width: 100%;

    @media (--small-max) {
      margin-bottom: $spacing-xs;
    }
  }

  h4 { margin: $spacing-s 0 0; }

  p {
    @media (--small) {
      font-size: typeScale(1);
    }
  }

  &.-short {
    @media (--large) {
      height: 185px;
    }

    @media (--extra-large) {
      height: 230px;
    }
  }
}

.promo-label {
  font-size: .75rem;
  letter-spacing: .5px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.promo-title {
  font-family: $font-primary;
  font-style: normal;
}


//
// Page-Specific
// ==================================================

//
// Homepage
// --------

.welcome {
  padding-bottom: 2rem;
  padding-top: 2rem;
  transition: padding $transition-duration;

  @media (--small) {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  @media (--medium) {
    opacity: 0;

    &.-animated { animation: fadeIn .8s .8s forwards, moveRight .8s .8s ease-out forwards; }
  }

  @media (--large) {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  &.-short {
    @media (--medium) {
      opacity: 1;

      &.-animated { animation: none; }
    }

    @media (--large) {
      padding-bottom: 3rem;
      padding-top: 3rem;
    }
  }
}

//
// Inner Pages
// -----------

.we-up-in-this {
  overflow: hidden;

  p {
    font-size: typeScale(2);
    margin-bottom: 2rem;
  }
}

//
// Portfolio
// ---------

.portfolio {
  img {
    height: auto;
    max-width: 100%;
  }
}


//
// Components
// ==================================================

//
// Tiles
// -----

%tile-animation {
  @media (--medium) {
    animation-name: fadeIn, moveUp;
    animation-duration: .7s, .85s;
    animation-fill-mode: forwards, forwards;
  }
}

.tile {
  padding: 0;
  transition: width $transition-duration;
  width: 100%;

  @media (--small) {
    float: left;
    width: 50%;
  }

  @media (--medium) {
    opacity: 0;
  }

  @media (--large) {
    width: 33.33%;
  }

  &:hover {
    border-bottom: none;
    text-decoration: none;
  }

  &:last-of-type {
    img {
      @media (--small-max) {
        margin-bottom: 0;
      }
    }
  }

  img {
    max-width: 100%;
    transition: opacity ($transition-duration * 1.5);
    width: 100%;
    -webkit-backface-visibility: hidden;

    &:hover { opacity: .75; }

    @media (--small-max) {
      margin-bottom: $spacing-m;
    }
  }

  @for $i from 1 through 15 {
    &.-animated:nth-of-type(#{$i}) {
      @extend %tile-animation;

      animation-delay: $i * .22s;
    }
  }
}

//
// Books
// -----

.books {
  [grid] {
    margin-bottom: $spacing-xs;

    &:last-of-type { margin-bottom: 0; }
  }
}

.book {
  background-color: getColor(background, light);
  border: 1px solid getColor(base, lines);
  margin-bottom: 1rem;
  padding: 1rem;
  transition: background-color $transition-duration-med;

  &:hover {
    background-color: darken(getColor(background, light), 1.5%);
    border-bottom-color: getColor(base, lines);
  }

  @media (--medium) {
    margin-bottom: 0;
    margin-left: 1rem;
    opacity: 0;
  }

  &:first-of-type { margin-left: 0; }

  @for $i from 1 through 3 {
    &.-animated:nth-of-type(#{$i}) {
      @extend %tile-animation;

      animation-delay: $i * .22s;
    }
  }

  h5 {
    margin-top: 1.25rem;

    @media (--medium-max) {
      text-align: center;
    }
  }

  img {
    display: block;
    margin: 0 auto;

    @media (--medium) {
      width: 100%;
    }
  }
}


//
// Animations
// ==================================================

$move-distance: 20px;

@keyframes backgroundGradient {
    0% { background-position: 0% 50%; }

    50% { background-position: 100% 50%; }

    100% { background-position: 0% 50%; }
}

@keyframes fadeIn {
  from { opacity: 0; }

  to { opacity: 1; }
}

@keyframes moveUp {
  from { transform: translateY($move-distance); }

  to { transform: translateY(0); }
}

@keyframes moveLeft {
  from { transform: translateX($move-distance); }

  to { transform: translateY(0); }
}

@keyframes moveRight {
  from { transform: translateX(-$move-distance); }

  to { transform: translateY(0); }
}
