//
// Base
// ==================================================

:root {
  background-color: #fafafa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


//
// Typography
// ==================================================

p { word-spacing: .5px; }

@mixin linkColor($color) {
  color: $color;

  &:hover { border-bottom: 1px solid $color; }
}

a {
  &:hover { border-bottom: 1px solid getColor(text, primary); }

  &.-dribbble { @include linkColor(#ea4c89); }

  &.-behance { @include linkColor(#1769ff); }

  &.-github { @include linkColor(#333); }

  &.-linkedin { @include linkColor(#0077b5); }
}

.-holla {
  font-family: $font-secondary;
  font-size: typeScale(5);
  letter-spacing: -.75px;
  line-height: 1.4;
  word-spacing: 0;

  @media (--small) {
    font-size: typeScale(8);
  }
}


//
// Header & Footer
// ==================================================

h1 {
  font-family: "sutturah", sans-serif;
  font-style: normal;
  font-weight: 400;
  word-spacing: -1px;

  @media (--medium-max) {
    font-size: 3rem;
  }

  a {
    &:hover {
      border-bottom: none;
      color: inherit;
    }
  }
}

header[role="main"] {
  margin-top: $spacing-m;

  @media (--medium-max) {
    text-align: center;
  }
}

nav[role="navigation"] {
  @media (--medium) {
    text-align: right;
  }

  ul { margin-top: $spacing-xs; }

  li {
    cursor: pointer;
    display: inline;
    font-size: ($font-size - 2) + px;
    font-weight: 600;
    letter-spacing: .15px;
    margin-right: 1.5em;
    opacity: .65;
    position: relative;
    text-transform: uppercase;
    transform: scaleX(0);
    transition: transform ($transition-duration * 1.5) ease-in-out;

    @media (--small) {
      font-size: $font-size + px;
    }

    &:after {
      background: getColor(text, primary);
      content: '';
      height: 3px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 100%;
      transition: opacity ($transition-duration * 2),
                  transform ($transition-duration * 2);
      transform: translateY(10px);
      width: 100%;
    }

    &:hover:after {
      opacity: 1;
      transform: translateY(5px);
    }

    &:last-child { margin-right: 0; }

    &.is-active {
      border-bottom: 3px solid getColor(text, primary);
      opacity: .85;
      padding-bottom: 5px;

      &:after { display: none; }
    }
  }

  a:hover { border-bottom: none; }
}

footer {
  animation: fadeIn .7s .72s forwards, moveLeft .7s .72s ease-out forwards;
  opacity: 0;
}


//
// Page-Specific
// ==================================================

//
// Homepage
// --------

.welcome {
  animation: fadeIn .7s .5s forwards, moveRight .7s .5s ease-out forwards;
  opacity: 0;
  padding: $spacing-xl $spacing-xs;

  @media (--large) {
    padding-bottom: ($spacing-xxl * 1.1);
    padding-top: ($spacing-xxl * 1.1);

    h2 { max-width: 800px; }
  }
}

//
// Work
// ----

.work-work-work-work-work {
  [grid] { margin: 0; }
}


//
// Components
// ==================================================

//
// Page Descriptions
//  ----------------

.description {
  animation: fadeIn .55s .25s forwards, moveUp .55s .25s ease-out forwards;
  opacity: 0;
  padding: $spacing-s 0;

  h2 {
    font-size: typeScale(6);
    margin-bottom: $spacing-xs;
  }

  p { font-size: typeScale(3); }
}

//
// Tiles
// -----

%tile-animation {
  animation-name: fadeIn, moveUp;
  animation-duration: .7s, .85s;
  animation-fill-mode: forwards, forwards;
}

.tile {
  opacity: 0;
  padding: 0;
  transition: width $transition-duration;
  width: 100%;

  @media (--small) {
    float: left;
    width: 50%;
  }

  @media (--large) {
    opacity: 0;
    width: 20%;
  }

  img {
    height: auto;
    max-width: 100%;
    transition: opacity ($transition-duration * 1.5);
    -webkit-backface-visibility: hidden;

    &:hover { opacity: .75; }
  }

  @for $i from 1 through 18 {
    &:nth-of-type(#{$i}) {
      @extend %tile-animation;

      animation-delay: $i * 0.22s;
    }
  }
}


//
// Animations
// ==================================================

$move-distance: 25px;

@keyframes fadeIn {
  from { opacity: 0; }

  to { opacity: 1; }
}

@keyframes moveUp {
  from { transform: translateY($move-distance); }

  to { transform: translateY(0); }
}

@keyframes moveLeft {
  from { transform: translateX($move-distance); }

  to { transform: translateY(0); }
}

@keyframes moveRight {
  from { transform: translateX(-$move-distance); }

  to { transform: translateY(0); }
}
