//
// Flexicution
// ==================================================

//
// Project Header
// --------------

.flexHead {
  background-color: darken(getColor(background, dark), 5%);
  margin-top: 0;
  padding-bottom: $spacing-l;
  padding-top: $spacing-l;
  text-align: center;

  @media (--small) {
    padding-bottom: $spacing-xl;
    padding-top: $spacing-xl;
  }
}

.flexHead-title {
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: typeScale(9);
  margin-top: 0;

  @media (--small) {
    font-size: typeScale(10);
  }

  @media (--medium) {
    font-size: typeScale(12);
  }
}

.flexHead-subtitle {
  color: white;
  font-size: typeScale(2);
  font-weight: 300;
  margin-top: $spacing-xs;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;

  @media (--small) {
    font-size: typeScale(3);
    max-width: 550px;
  }

  a {
    &,
    &:hover { color: white; }
  }
}

.flexHead-nav { margin-top: $spacing-m; }

.flexHead-nav-item {
  border: 2px solid white;
  color: white;
  font-size: typeScale(2);
  padding: $spacing-xxs $spacing-s;
  transition: background-color $transition-duration;

  &:not(:last-of-type) { margin-right: $spacing-xxs; }

  &:hover { background-color: white; }

  @media (--small) {
    font-size: typeScale(3);
  }
}
