{# Settings #}
{% set pageUrl = metadata.url | replace('.com/', '.com') ~ page.url %}

{%- if meta.title -%}
  {% set pageTitle = meta.title ~ ' | ' ~ metadata.title if title else metadata.title %}
{%- else -%}
  {% set pageTitle = title ~ ' | ' ~ metadata.title if title else metadata.title %}
{%- endif -%}

{# Markup #}
<!doctype html>
<html lang="en">
  <head>
    <title>{{ pageTitle }}</title>
    
    <link rel="stylesheet" href="{{ '/css/app.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    {% include "globals/meta.njk" %}
  </head>
  <body>
    <header class="header">
      <div class="header-left">
        <h1 class="header-logo">
          <a href="{{ '/' | url }}">
            Keenan<br> 
            Payne
          </a>
        </h1>
      </div>

      <div class="header-right">
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <ul class="nav">
          {%- for entry in collections.all | eleventyNavigation -%}
            <li class="nav-item{% if entry.url == page.url %} -active{% endif %} {{ '-cta' if entry.cta }}">
              <a href="{{ entry.url | url }}">
                {{ entry.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </header>

    <main class="{% if templateClass %}{{ templateClass }}{% endif %}">
      {{ content | safe }}
    </main>

    <footer class="footer">
      <div class="footer-content">
        <div class="footer-left">
          <p class="footer-twitter">
            <span>Follow me</span>
            <a class="-hover-background _text-h4" target="_blank" rel="noopener" href="https://Twitter.com/KeenanPayne_" title="Visit Keenan's Twitter profile">
              @KeenanPayne_
            </a>
          </p>
        </div>

        <div class="footer-right">
          <p class="_label">
            <a class="-underline-hover" href="https://creativecommons.org/share-your-work/public-domain/cc0/" target="_blank" rel="noopener">
              CC0 — No Rights Reserved
            </a>
            <br>
            Do as you wish ✌🏻
          </p>
        </div>
      </div>
    </footer>

    {% if hello != false %}
      {% include "components/hello.html" %}
    {% endif %}
  </body>
</html>
