---
layout: layouts/base.njk
permalink: "/{{ title | slug }}/"
changefreq: yearly
seoPriority: 0.9
ignoreBaseOutput: true
---
{# TODO: Create generic abstractions for similarities with `service.njk` #}

{# Imports #}
{% import "atoms/label.njk" as label with context %}

{% set portfolioItem = portfolio[data] %}

{% if portfolioItem %}
  {% set client = portfolioItem.name %}
  {% set project = portfolioItem.project %}
  {% set year = portfolioItem.year %}
  {% set lede = portfolioItem.lede %}
  {% set size = portfolioItem.size %}
  {% set industry = portfolioItem.industry %}
  {% set overview = portfolioItem.overview %}
  {% set color = portfolioItem.color %}
  {% set url = portfolioItem.url %}
  {% set role = portfolioItem.role %}
  {% set pillars = portfolioItem.pillars %}
  {% set services = portfolioItem.services %}
  {% set technologies = portfolioItem.technologies %}
  {% set cover = portfolioItem.cover %}
  {% set people = portfolioItem.people %}
  {% set awards = portfolioItem.awards %}
{% endif %}

<section class="portfolio _container">
  <header class="portfolio-header">
    {% if client %}
      <h1 class="portfolio-title">
        {{ client }}
      </h1>
    {% endif %}

    {% if lede %}
      <h2 class="portfolio-lede _text-h3">
        {{ lede }}
      </h2>
    {% endif %}
  </header>

  <div class="portfolio-content">
    <div class="portfolio-details">
      {% if overview %}
        <div class="portfolio-detail -full-width">
          <p class="portfolio-stat">{{ overview | safe }}</p>
        </div>
      {% endif %}

      {% if size %}
        <div class="portfolio-detail">
          {{ label.output('Company Size', 'portfolio-label') }}

          <p class="portfolio-stat">{{ size }}</p>
        </div>
      {% endif %}

      {% if industry %}
        <div class="portfolio-detail">
          {{ label.output('Industry', 'portfolio-label') }}

          <p class="portfolio-stat">{{ industry }}</p>
        </div>
      {% endif %}

      {% if services %}
        <div class="portfolio-detail">
          {{ label.output('Services Offered', 'portfolio-label') }}

          <ul>
            {% for service in services %}
              <li class="-inline">
                {{- service -}}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if year %}
        <div class="portfolio-detail">
          {{ label.output('Year', 'portfolio-label') }}

          <p class="portfolio-stat">{{ year }}</p>
        </div>
      {% endif %}

      {% if technologies %}
        <div class="portfolio-detail -full-width">
          {{ label.output('Technologies', 'portfolio-label') }}

          <ul>
            {% for technology in technologies %}
              <li class="-inline">
                {{- technology -}}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
  
      {% if people | length >= 1 and people[1].name !== "Keenan Payne"  %}
        <div class="portfolio-detail -full-width">
          {{ label.output('Collaborators', 'portfolio-label') }}

          <ul class="portfolio-detail-people">
            {% for id, person in people %}
              {% set name = person.name %}
              {% set personUrl = person.url %}
              {% set personPosition = person.position %}

              <li class="portfolio-detail-person">
                {% if personUrl %}
                  <a href="{{ personUrl }}" target="_blank" rel="noopener">
                {% endif %}

                {{ name }}

                {% if personUrl %}
                  </a>
                {% endif %}

                {% if personPosition %}
                  <span class="portfolio-detail-position">
                    {{ personPosition }}
                  </span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if awards %}
        <div class="portfolio-detail -full-width">
          {{ label.output('Awards', 'portfolio-label') }}

          <div class="awards">
            {% for id, award in awards %}
              {% set award = awards[id] %}
              {% set name = award.name %}
              {% set year = award.year %}
              {% set category = award.category %}
              {% set details = award.details %}
              {% set status = award.status %}
              {% set link = award.link %}

              <a class="awards-item" href="{{ link }}" title="{{ name }} {{ status }} for {{ category }} and {{ details }} in {{ year }}">
                {% if name == "Webby" %}
                  <img src="https://res.cloudinary.com/keenan-payne/image/upload/v1664670539/portfolio/awards/webby_s9jarp.png" alt="{{ name }}" />
                {% endif %}

                <div class="awards-name _text-small">
                  <span>{{ name }} {{ status }}, {{ year }}</span>
                </div>

                <p class="awards-details _text-smaller">
                  <span>
                    {{ category }}
                  </span>

                  <span>
                    {{ details }}
                  </span>
                </p>
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      
      {% if url %}
        <div class="portfolio-detail -full-width -cta">
          <p class="portfolio-stat">
            <a class="button -ghost" href="{{ url }}" title="Visit {{ client }} {{ project }}" target="_blank" rel="noopener">Visit Site</a>
          </p>
        </div>
      {% endif %}
    </div>

    {% if cover %}
      <div class="portfolio-cover">
        <img class="portfolio-cover-img" src="https://res.cloudinary.com/keenan-payne/image/upload/f_auto,q_auto,w_1000/{{ cover }}" alt="{{ client }} project cover" />
      </div>
    {% endif %}

    {% if pillars %}
      <div class="portfolio-intro">
        {% set client = pillars.client %}
        {% set challenge = pillars.challenge %}
        {% set solution = pillars.solution %}

        {% if client %}
          <div class="portfolio-intro-content">
            <p class="_text-h3">The client</p>
            <p class="_text-h5">{{ pillars.client }}</p>
          </div>
        {% endif %}

        {% if challenge %}
          <div class="portfolio-intro-content">
            <p class="_text-h3">The challenge</p>
            <p class="_text-h5">{{ challenge | safe }}</p>
          </div>
        {% endif %}

        {% if solution %}
          <div class="portfolio-intro-content">
            <p class="_text-h3">The solution</p>
            <p class="_text-h5">{{ solution | safe }}</p>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% for section in sections %}
      {% include "components/" + section.type + ".njk" %}
    {% endfor %}

    {% if content %}
      <div class="portfolio-subcontent _container -fluid">
        {{ content | safe }}
      </div>
    {% endif %}
  </div>

  {# TODO: Update this to display featured images so that other content looks more compelling #}
  {% include "components/postNav.njk" %}
</section>

<section class="portfolio-cta">
  <div class="portfolio-cta-content">
    <h2 class="portfolio-cta-title">
      Like what you see?
    </h2>

    <p class="portfolio-cta-description _text-h3">
      Reach out and let's talk about how I can help with your next project.
    </p>

    <p class="portfolio-cta-description _text-h6">
      <a class="button -secondary -large" href="/contact">
        Get in Touch
      </a>
    </p>
  </div>
</section>

{% if comments != false %}
  {% include "components/comments.html" %}
{% endif %}