---
layout: layouts/base.njk
permalink: "/{{ title | slug }}/"
---

{% import "organisms/newsletter.njk" as  newsletter with context %}

{# Page Classes #}
{%- set pageClass = type | lower | plural %}
{%- set date = page.date %}

{# TODO: Create macros for repeated elements here and in `postslist.njk` #}
<section class="post _container {{ pageClass }}">
  <header class="post-header">
    <div class="post-meta">
      {%- if type -%}
        <a class="postlist-type _label" href="/type/{{ type | lower | plural }}" title="View archive for {{ type | lower | plural }}">
          {{ type }}
        </a>
      {%- endif -%}

      {# Resources are timeless #}
      {%- if date -%}
        <time class="_text-small" datetime="{{ date | htmlDateString }}">
          {{ date | postYear }}
        </time>
      {%- endif -%}
    </div>

    <h1 class="post-title">
      {{ title }}
    </h1>
  </header>

  <div class="post-content">
    <img class="post-imageBook" src="{{ book.cover }}" alt="{{ title }}" />

    {{ content | safe }}
  </div>

  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}

  {%- if nextPost or previousPost -%}
    <div class="postNav">
      <p class="postNav-next">
        {%- if nextPost -%}
          <span class="postNav-label _label">
            Next Post
          </span>
          
          <a href="{{ nextPost.url | url }}">
            {{ nextPost.data.title }}
          </a>
        {%- endif -%}
      </p>

      <p class="postNav-prev">
        {%- if previousPost -%}
          <span class="postNav-label _label">
            Previous Post
          </span>
          
          <a href="{{ previousPost.url | url }}">
            {{ previousPost.data.title }}
          </a>
        {%- endif -%}
      </p>
    </div>
  {%- endif -%}
</section>