---
layout: layouts/base.njk
permalink: "/{{ title | slug }}/"
---

{% import "organisms/newsletter.njk" as  newsletter with context %}

{% set pageClass = type | lower | plural %}
{% set date = page.date %}
{% set draft = type == 'Draft' %}
{% set book = type == 'Book' %}
{% set resource = type == 'Resource' %}
{% set portfolio = type == 'Portfolio' %}

{# Macros #}
{% macro caseStudy() %}
  {% set client = case_study.client %}
  {% set project = case_study.project %}
  {% set url = case_study.url %}
  {% set role = case_study.role %}
  {% set year = case_study.year %}

  {# TODO: Check for existence of values for table #}
  <table>
    <thead>
      <tr>
        <th>Client</th>
        <th>Project</th>
        <th>Role</th>
        <th>Year</th>
        <th>URL</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{ client }}</td>
        <td>{{ project }}</td>
        <td>{{ role }}</td>
        <td>{{ year }}</td>
        <td><a href="{{ url }}" title="Visit {{ client }} {{ project }}" target="_blank" rel="noopener">Visit Site</a></td>
      </tr>
    </tbody>
  </table>
{% endmacro %}

{# TODO: Create macros for repeated elements here and in `postslist.njk` #}
<section class="post _container {{ '-large' if portfolio }} {{ pageClass }}">
  <header class="post-header">
    <div class="post-meta">
      {%- if type -%}
        <a class="entries-type _label" href="/type/{{ type | lower | plural }}" title="View archive for {{ type | lower | plural }}">
          {{ type }}
        </a>
      {%- endif -%}

      {# Resources are timeless #}
      {%- if date -%}
        <time class="_text-small" datetime="{{ date | htmlDateString }}">
          {%- if book -%}
            {{ date | postYear }}
          {%- elif portfolio -%}
          {%- else -%}
            {{ date | readableDate }}
          {%- endif -%}
        </time>
      {%- endif -%}
    </div>

    <h1 class="post-title {{ '_text-large' if portfolio }}">
      {{ title }}
    </h1>

    {%- if tags -%}
      <div class="post-tags">
        {%- for tag in tags | filterTagList -%}
          <div class="post-tag">
            {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}

            {% if tag == "drafts" %}
              <span class="tag -inactive">
                {{ tag | replace('drafts', 'draft') }}
              </span>
            {% else %}
              <a href="{{ tagUrl | url }}" class="tag">
                {{ tag }}
              </a>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </header>

  <div class="post-content">
    {%- if draft -%}
      {# TODO: Fix this so that notices for drafts are automatically displayed #}
      {# {% include "type/notice.html" with content: "<strong>Heads up:</strong> This article is still a work-in-progress." %} #}
    {%- endif -%}

    {%- if book -%}
      <img class="post-imageBook" src="{{ cover }}" alt="{{ title }}" />
    {%- endif -%}

    {%- if portfolio -%}
      {{ caseStudy() }}
    {%- endif -%}

    {{ content | safe }}
  </div>

  <footer class="post-footer _text-small">
    {%- if title -%}
      <a href="{{ permalink | url }}">{{ title }}</a> is {{ 'a' if long_form else 'an' }} <a href="/type/{{ type | lower | plural }}" title="View archive for {{ type | lower | plural }}">{{ long_form | lower if long_form else type | lower }}</a>

      published on 
      <time class="entries-time" datetime="{{ date | htmlDateString }}">
        {{ date | longDate }}
      </time>.
    {%- endif -%}
  </footer>

  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}

  {%- if nextPost or previousPost -%}
    <div class="postNav">
      <p class="postNav-next">
        {%- if nextPost -%}
          <span class="postNav-label _label">
            Next Post
          </span>
          
          <a href="{{ nextPost.url | url }}">
            {{ nextPost.data.title }}
          </a>
        {%- endif -%}
      </p>

      <p class="postNav-prev">
        {%- if previousPost -%}
          <span class="postNav-label _label">
            Previous Post
          </span>
          
          <a href="{{ previousPost.url | url }}">
            {{ previousPost.data.title }}
          </a>
        {%- endif -%}
      </p>
    </div>
  {%- endif -%}
</section>

{% if comments != false %}
  {% include "components/comments.html" %}
{% endif %}

{% if cta != false %}
  {{ newsletter.large() }}
{% endif %}