---
layout: layouts/base.njk
permalink: "/{{ title | slug }}/"
---
{# TODO: Create generic abstractions for similarities with `portfolio.njk` #}

{% set date = page.date %}

<section class="services">
  <header class="services-header">
    <h1 class="services-title">
      {{ title }}
    </h1>

    <p class="services-lede _text-h4">
      {{ lede }}
    </p>
  </header>

  <div class="services-content">
    {% for section in sections %}
      {% include "components/" + section.type + ".njk" %}
    {% endfor %}

    {{ content | safe }}
  </div>
</section>