---
layout: layouts/base.njk
changefreq: weekly
eleventyComputed:
  title: "{{ type | plural }}"
  introText: "{{ type | plural }}"
sections: 
  - type: intro
  - type: entries
    showCovers: false
    heading: "Archives"
    spacing: 10
    orientation: archive
    items: 
      from: posts
      limit: -100
  - type: newsletter
    spacing: 10
---
