//
// Blockquote
// ==================================================

blockquote {
  color: var(--color-secondary);
  border-left: 5px solid var(--color-base-mid);
  font-style: italic;
  margin-left: 0;
  padding-bottom: $spacing-xxs;
  padding-top: $spacing-xxs;

  > *:last-child {
    margin-bottom: 0;
  }
}