//
// Headings
// ==================================================

h1, h2, h3, h4,
._fontSize-h1,
._fontSize-h2,
._fontSize-h3,
._fontSize-h4 {
  margin-top: 0;

  a:hover {
    color: initial;
    text-decoration: underline;
  }

  // Modifiers
  &.-xl {
    font-size: typeScale(7);
    line-height: 1;
    margin-bottom: .25em;
    
    @media (--large) {
      font-size: typeScale(8);
    }
  }

  &.-secondary { 
    color: var(--color-secondary); 
  }
}

h1,
._fontSize-h1 {
  font-size: typeScale(7);
  font-weight: $fontWeight-display-bold;
  line-height: 1.05;
  margin-bottom: .5em;
}

h2,
._fontSize-h2 {
  font-size: typeScale(6);
  font-weight: $fontWeight-display-medium;
  margin-bottom: .5em;
  margin-top: 0;
  line-height: 1;
}

h3,
._fontSize-h3 {
  font-family: $font-tertiary;
  font-size: typeScale(4);
  font-weight: $fontWeight-semibold;
  line-height: 1.2;
  margin-bottom: .5em;
}

h4,
._fontSize-h4 {
  font-family: $font-tertiary;
  font-size: typeScale(3);
  font-weight: $fontWeight-regular;
  line-height: 1.2;
}