//
// Headings
// ==================================================

h1, h2, h3, h4,
._fontSize-h1,
._fontSize-h2,
._fontSize-h3,
._fontSize-h4 {
  margin-top: 0;

  a:hover {
    color: initial;
    text-decoration: underline;
  }

  // Modifiers
  &.-xl {
    font-size: typeScale(7);
    line-height: 1;
    margin-bottom: .25em;
    
    @media (--large) {
      font-size: typeScale(8);
    }
  }

  &.-secondary { 
    color: var(--color-secondary); 
  }
}

h1,
._fontSize-h1 {
  font-size: typeScale(7);
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: .3em;
}

h2,
._fontSize-h2 {
  font-size: typeScale(6);
  font-weight: 500;
  margin-bottom: .35em;
  margin-top: 0;
  line-height: 1.1;
}

h3,
._fontSize-h3 {
  font-size: typeScale(4);
  font-weight: 400;
  line-height: 1.15;
}

h4,
._fontSize-h4 {
  font-family: $font-primary;
  font-size: typeScale(3);
  font-weight: $fontWeight-normal;
  line-height: 1.3;
}