//
// Paragraph
// ==================================================

p {
  margin-top: 0;
  font-variant-ligatures: normal;

  // Modifiers
  &.-secondary { 
    color: var(--color-secondary); 
  }

  &.-large {
    border-top: 2px solid var(--color-tertiary-light);
    border-bottom: 2px solid var(--color-tertiary-light);
    font-family: $font-secondary;
    font-size: typeScale(4); 
    font-weight: $fontWeight-display-normal;
    line-height: 1.4;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }

  &.-small {
    font-size: 75%;
    font-weight: $fontWeight-medium;
  }

  &.-content-heading {
    font-weight: $fontWeight-medium;
    font-variant: all-small-caps;
    margin-bottom: 1rem;
    margin-top: $spacing-m;
  }

  &.-section-heading { 
    font-variant: all-small-caps;
    font-weight: $fontWeight-medium;
    margin-bottom: 1.25em;
    position: relative;
    text-align: right;

    @media (--small-max) {
      font-size: typeScale(3);
    }

    &:after {
      background-image: linear-gradient(90deg, var(--color-secondary-light), var(--color-secondary));
      height: 2px;
      width: 100%;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &.-context { 
    --context-border-color: transparent;
    --context-icon: '';

    border-bottom: 1px solid var(--context-border-color);
    border-top: 1px solid var(--context-border-color);
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;

    &:before { 
      @media (--medium) {
        content: var(--context-icon);
        left: -1.5rem;
        position: absolute;
      }
    }

    &.-tip {
      --context-border-color: var(--color-base-mid);
      --context-icon: '💡';
    }
  
    &.-note {
      --context-border-color: var(--color-secondary-light);
      --context-icon: '📎';
    }

    &.-question {
      --context-border-color: var(--color-tertiary-mid);
      --context-icon: '🤔';
    }

    &.-twitter { 
      --context-border-color: #1DA1F2;

      color: var(--color-secondary-mid);
      font-size: typeScale(1);
      font-style: italic;
      margin-bottom: $spacing-s;

      svg { 
        display: block;
        margin-bottom: $spacing-xxs;
        margin-left: auto;
        margin-right: auto;

        @media (--small) { 
          left: 0;
          position: absolute;
          top: 25%;
          transform: translateY(-25%);
        }
      }

      a { 
        display: block;
        font-size: typeScale(.5);
        font-style: normal;
        margin-top: $spacing-xxs;
      }

      span { 
        display: inline-block;

        @media (--small) { 
          padding-left: $spacing-s;
        }
      }
    }
  }
}