//
// Paragraph
// ==================================================

p {
  margin-top: 0;
  font-variant-ligatures: normal;

  // Modifiers
  &.-secondary { 
    color: var(--color-secondary); 
  }

  &.-large {
    border-top: 2px solid var(--color-tertiary-light);
    border-bottom: 2px solid var(--color-tertiary-light);
    font-family: $font-secondary;
    font-size: typeScale(4); 
    font-weight: $fontWeight-display-normal;
    line-height: 1.4;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  &.-small {
    font-size: typeScale(.5);
    font-weight: $fontWeight-medium;
  }

  &.-content-heading {
    font-weight: $fontWeight-medium;
    font-variant: all-small-caps;
    letter-spacing: .025em;
    margin-bottom: 1rem;
    margin-top: $spacing-m;
  }

  &.-section-heading { 
    font-variant: all-small-caps;
    font-weight: $fontWeight-medium;
    margin-bottom: 1.25em;
    letter-spacing: .025em;
    position: relative;
    text-align: right;

    @media (--small-max) {
      font-size: typeScale(3);
    }

    &:after {
      background-image: linear-gradient(90deg, var(--color-secondary-light), var(--color-secondary));
      height: 2px;
      width: 100%;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}