//
// Footer
// ==================================================

.footer {
  background-color: var(--color-base-light);
  border-top: 1px solid var(--color-base);
  padding-bottom: 3spaces;
  padding-top: 3spaces;
}