//
// Page List
// ==================================================

.pageList {
  color: var(--color-type-white);
  counter-reset: pages;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;

  // Modifiers
  &.-mobile {
    .pageList-headline {
      &::after {
        display: none;
      }
    }
  }
}

.pageList-item {
  background-color: var(--color-base-light);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  counter-increment: pages;
  position: relative;
  width: 100%;
  z-index: 1;

  @media (--min-768) {
    background-image: none !important;
  }

  @media (--min-960) {
    flex-basis: 33.33%;
    width: 33.33%;
  }

  &:hover {
    text-decoration: none;

    &::after {
      opacity: .25;
    }

    .pageList-headline {
      text-decoration: underline;
    }
  }
}

.pageList-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: calc(var(--grid-gutters) / 2);

  @media (--min-768) {
    padding: var(--grid-gutters);
  }
}

.pageList-headline {
  border-bottom: 1px solid var(--color-white);
  color: var(--color-type-white);
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: calc(var(--grid-gutters) / 2);
  position: relative;

  @media (--min-768) {
    border-bottom-width: 2px;
  }
}

.pageList-header {
  
}

.pageList-asset {
  align-items: center;
  display: flex;
  height: 100%;
}

.pageList-cta { 

}
